[2014-10-07 21:22] Dsyko commented on #205
I'm still seeing a lot of Meteor core packages in the 'Most Used' section. Is the change mentioned above already on production? I'd also vote for the ability to see more than just the top 8 most used packages. I think this would be a great way to discover packages if we could see a longer list of them. Maybe add a 'see more' link that takes us to a page that lists a lot more (20 - 50+) packages ra

[2014-10-07 21:46] tmeasday commented on #205
Like I said, I think the four packages I mentioned should be hidden. I'm not sure about `accounts-ui` and `accounts-password` though --- they seem legitimate.

A Most Used page seems like a no brainer though. @dburles I thought you were going to do this? :)

[2014-10-08 00:12] tmeasday opened #264 "Occasional error with `gravatarHash` publication"
Looking through the logs I see a bunch of check failed for the `check(username, String);`.

Haven't tried to reproduce locally.

[2014-10-08 00:48] dburles commented on #205
@tmeasday  Will do :)

[2014-10-08 03:38] dburles opened #265 "Don't show default gravatar image"
For users that sign up who do not have a gravatar associated with their email address, the default gravatar icon is shown.

[2014-10-08 04:18] tmeasday commented on #264
Looks good. Couldn't reproduce the issue so we'll just check the logs in a few days and hopefully it'll be gone. @dburles's analysis was most like a timing issue with data loading.

[2014-10-08 04:22] tmeasday commented on #261
LGTM

[2014-10-08 04:51] #261 closed, assigned to tmeasday

[2014-10-08 05:08] dburles opened #266 "Styling updates for view all option on most used"
I've added a 'view more' link on the homepage and also added the select menu to the view more list.
- The 'view more' link isn't correctly aligning under the select menu on the homepage
- Small visual issue with the select menu on the 'view all' page

Find this stuff in the `view-more` branch

[2014-10-09 08:41] IstoraMandiri commented on #219
:+1:

[2014-10-11 05:34] udondan opened #267 "Delete/hide packages"
Sorry I have to bring this topic up again. :-)

So after the big change, all my packages which had been ~~deleted~~ hidden showed up again on Atmosphere. They show up in searches, they show up as related packages and they show up at the package listing on my account page.

They are marked as incompatible to 0.9 which makes them invisible when you `meteor search` w/o `--show-old`. But on Atmosphere

[2014-10-12 00:33] domyen commented on #262
thanks for the heads up. I believe this is a dupe of #259.

[2014-10-12 00:33] #262 closed, assigned to nobody

[2014-10-12 00:50] domyen commented on #267
**Deleting**
Hey @udondan, folks can prevent packages from showing up in `meteor search` with `meteor admin set-unmigrated`. Checkout their [blogpost](https://www.meteor.com/blog/2014/09/25/meteor-093-packaging-system-updates).

This only hides it from the index on both Atmosphere –which uses MDG's packaging backend– and `meteor search`. App creators who've previously used your package can still i

[2014-10-12 00:55] domyen commented on #205
@tmeasday @dburles is this issue OK to close?

[2014-10-12 01:07] domyen commented on #241
As far as we know, Meteor Packaging doesn't support this. Hopefully in the future?

I suppose an un-ideal way to do it is to hide the existing package and republish with a different name, however the download count and stats will be lost. :(

[2014-10-12 03:35] tmeasday commented on #205
I think we should do something about the 4 packages that installed into each new project by default.

Either penalise them or hide them simply from the most used list.

[2014-10-12 04:00] domyen commented on #205
Hiding them makes sense to me. Automatically installed packages have an unfair advantage against community packages.

[2014-10-12 04:09] udondan commented on #267
Thanks Dominic,

ah, ok, now I see it really works on Atmosphere for the actual search too. That's cool. But the packages are still listed on my [account page](https://atmospherejs.com/udondan) and the "related packages" section of my other packages.

![account](https://cloud.githubusercontent.com/assets/6443408/4604977/6d49ad3c-51c3-11e4-8346-0a1345eb6739.png)

![related](https://cloud.githubuser

[2014-10-12 04:11] domyen commented on #267
Makes sense. I'll open a new ticket for this and close this issue.

[2014-10-12 04:16] domyen opened #268 "Hidden packages should be removed from author profile & related packages"
Packages hidden by `meteor admin set-unmigrated` should also be hidden from the author profile and related packages (on the package page) page.

Ref: https://github.com/percolatestudio/atmosphere-beta/issues/267#issuecomment-58772928

[2014-10-12 04:18] udondan commented on #267
Awesome, thanks! I'll close this one then.

[2014-10-12 04:18] #267 closed, assigned to nobody

[2014-10-12 12:23] scottmcpherson opened #269 "Atmosphere Public API?"
Back on the old atmosphere, you guys had a public subscription that allowed me to get package meta data for an Atom package called [orbit](https://github.com/scott-mcpherson/orbit) that I built. The subscription was called "packageMetadata" and it returned all of the packages on atmosphere and their associated meta data.

Do you guys have any similar public subscriptions with the new Atmosphere so

[2014-10-12 20:59] zol commented on #269
We no longer provide such a publication as it doesn't make sense given that MDG is now hosting the backend. You should look into connecting directly to their package database. (They may need to probide you with an API key).

[2014-10-12 20:59] #269 closed, assigned to nobody

[2014-10-12 23:53] tmeasday commented on #205
Well my question is whether they should be penalized or just hidden from certain lists.

I.e. if you search for "insec" -- should "insecure" come up first? (or some other package that has those characters in the name). If we penalized the package it would come up last.

OTOH if we just hide it from lists (probably just most used), it might be better. Whatcha think @dominicnguyen ?

[2014-10-13 02:00] tmeasday commented on #268
@dburles you can simple check to see if `package.latestVersion.unmigrated` is true and filter if so. We already do this in a few places as you'll see.

There's probably an edge case here if someone marks a new version of a working package as unmigrated, but this is actually not what unmigrated is intended for. Let's deal with that if it comes up.

[2014-10-13 02:01] tmeasday commented on #268
Actually, on second thought, it could be worth doing a quick check to see if there's any package out there with an unmigrated latest version which has legitimate versions. @dburles can you ping me if you find some. It could be what @queso was talking about on meteor-core when he said there were missing packages.

[2014-10-13 02:11] tmeasday commented on #241
It's definitely coming from core. Not sure when though.

Can we do anything simple that helps here? I can't really think of anything that wouldn't be wasted effort when it comes downstream from MDG.

[2014-10-13 02:12] tmeasday commented on #264
Looks good.

[2014-10-13 02:12] #264 closed, assigned to tmeasday

[2014-10-13 03:09] queso commented on #268
Was there some warning about this change?

[2014-10-13 03:18] tmeasday commented on #268
@queso - I'm not sure what you mean?

There were a bunch of packages that failed to successfully migrate -- you will have noticed them on Atmosphere with "DOESN'T WORK IN 0.9.0" or something written on them.

As a part of 0.9.3, MDG added an `unmigrated` field to package versions and marked all the broken versions with that. They then hide the package from `meteor search` if it has no "non-unmigra

[2014-10-13 03:34] udondan commented on #268
---

I yesterday marked one of my packages as unmigrated as it currently can not be fixed. When I did so, all versions have been marked:

[code]

So it seems impossible to only mark the latest version as unmigrated and there should be no edge case. :)

[2014-10-13 03:37] tmeasday commented on #268
@udondan - check `meteor admin help set-unmigrated`:

[code]

So you can do a single version it seems (also you can undo what you did if it was an error ;) )

[2014-10-13 03:42] udondan commented on #268
Double thanks! Didn't even know you can use the `help` command this way! Though the setting is ok as it is, since all versions won't work with 0.9. ;)

[2014-10-13 05:08] tmeasday opened #270 "Ensure `lastVersion` is not `unmigrated` (if possible)."
- [x] Migrate existing packages
- [x] Add `unmigrated` field to versions
- [x] Update `Versions.import` to grab `unmigrated`
- [x] Update `package.denormLatestVersion()` to de-prioritze `unmigrated` versions.

[2014-10-13 05:10] tmeasday commented on #268
@dburles actually I created a separate ticket https://github.com/percolatestudio/atmosphere-beta/issues/270 -- So just assume that the data is correct, once that ticket is done it will be.

[2014-10-13 15:57] serkandurusoy opened #271 "[FR ] A karma-like weighted starring system"
Thousands of devs are flocking into the Meteor ecosystem with little to no prior experience with any of the atmosphere packages, only to discover relevant/good packages through lengthy re/search, trial and of course the scoring systems already provided within atmosphere.

Having spared a fair share of time on Meteor over the past year, I'm overwhelmed by the number of famous, join, modal, model, s

[2014-10-13 16:25] domyen commented on #205
Hiding from most used sgtm.

[2014-10-14 02:04] tmeasday commented on #271
Hmmm. Interesting.

Is this what sites like reddit and hackernews do? I always had the impression that they used a simple 'one person / one vote' rule.

I wonder if maybe we should surface these "prominent authors" in the site -- then users can just go an eyeball what packages such a person has starred as a great source of social proof.

Will ponder.

[2014-10-14 02:47] tmeasday commented on #270
Ok there were like 300 packages that just reappeared. We should get this fix out :)

[2014-10-14 05:22] tmeasday opened #272 "Paginate the list of dependants"
Can get out of hand for e.g. `iron:router`, `meteor`, etc

[2014-10-15 04:40] dburles commented on #270
LGTM!

[2014-10-15 05:14] tmeasday commented on #266
I'm seeing occasional weird issues with pagination. I'd suggest adding a secondary sort parameter (`latestVersion.published` I guess) as a tie breaker (probably the issue is that most packages have 0 usage on my machine)

[2014-10-15 05:26] dburles commented on #266
Ah yeah. Just pushed the fix, can you confirm?

[2014-10-15 06:08] tmeasday commented on #266
GJ, problem appears fixed.

[2014-10-15 07:08] serkandurusoy commented on #271
Reddit and hackernews don't account for user reputation. They often break news from anonymous (and very recent) users and they both implement a time decay algorithm that's very similar to that of telescope.

On the other hand, quora and stackoverflow do impose reputation based affect on their calculations.

And that totally makes sense becuase both platforms allow and thrive on their users' need f

[2014-10-16 03:00] tmeasday commented on #272
Truncated to 10 for now.

[2014-10-16 03:01] #205 closed, assigned to nobody

[2014-10-16 03:01] #266 closed, assigned to nobody

[2014-10-16 03:01] #268 closed, assigned to nobody

[2014-10-16 03:01] #270 closed, assigned to nobody

[2014-10-16 03:09] udondan opened #273 "Pages for organizations"
On meteor.com you can create organizations. This enables you to publish packages with the organization prefix instead of your user name prefix, `orgname:packagename`. Those packages are listed fine on Atmosphere.

Unfortunately the organization can not be accessed the same way a user can. On the user page you can see all packages of the user. It would be great if there was an organization page lis

[2014-10-16 22:16] tmeasday commented on #273
Yeah, the problem is that because we don't know who is in the org, the page is really boring (ie. it's purely a package list, we don't know who's in it, we can't allow anyone to edit it -- because we don't know who's in it).

Maybe the package list alone is interesting enough? In which case I'd suggest we need a different design for this page..

[2014-10-17 01:24] domyen opened #274 "Replace the select element UX with a toggle button on Most Used Packages & Author pages"
![screenshot 2014-10-16 18 22 24](https://cloud.githubusercontent.com/assets/263385/4673077/5c008d98-559c-11e4-95ca-d2e88371c81a.png)

[2014-10-17 01:33] domyen commented on #273
To expand on @tmeasday's comment. We currently have no way of accessing organizations with the current oauth system. As soon as the app can get access to organizations & their members, we'll definitely move forward on org pages.

re:making a barebones org page
Seems like throwaway work.

[2014-10-17 01:37] tmeasday commented on #273
@dominicnguyen I guess it depends on when we imagine (if ever) we'll have access from upstream. I'm not holding my breath.

[2014-10-17 03:10] udondan commented on #273
Yes, I think It's interesting and useful. Instead of a separate page there could alternatively be an "Other packages in this organization" section between the package readme and the "Top searches" section. Though a separate organization page (even only if it is a plain package list) would be more handy because you could link to it, therefore the organization name can be linked in package listings

[2014-10-17 08:42] dandv opened #275 "Rename the repo to 'atmosphere'?"
Not beta any more, and since nobody's cloned it, there should be no problem to rename it.

[2014-10-17 08:44] dandv opened #276 "Another set of packages without GitHub links?"
Seems like everyone and their dog has a `pattern to display application errors to the user`:
https://atmospherejs.com/?q=error

=>
https://atmospherejs.com/tmeasday/errors
https://atmospherejs.com/sotu/errors
https://atmospherejs.com/chappo/errors
https://atmospherejs.com/tomwasd/errors
https://atmospherejs.com/mrt/errors
https://atmospherejs.com/fsoroush/errors
https://atmospherejs.com/vstross/er

[2014-10-17 08:54] tmeasday commented on #275
Good idea.

[2014-10-17 09:51] dandv commented on #209
No README for https://atmospherejs.com/copleykj/livestamp

[2014-10-17 17:05] domyen commented on #276
From a quick look at the handful of packages linked here the authors haven't posted a readme to Github and thus Atmosphere is unable to retrieve one. Is this a bug with Atmosphere or a suggestion about some type of readme enforcement/prompting?

[2014-10-18 06:32] udondan commented on #276
The source of the problem is more that the github reference got lost during package migration. If I remember correctly the github link was an absolute requirement to publish a package with mrt before, right? Was it an accident or intended that this information got lost during migration?

I couldn't find the repos for most of the packages but the one from @lezed1 is the perfect [example](https://gi

[2014-10-18 07:09] dandv commented on #276
@dominicnguyen, are these _real_ packages? Why would there be so many packages to do apparently the same thing? What if the migration process crated some kind of phantom entries?

[2014-10-18 07:10] dandv commented on #276
CC @fsoroush, @tomwasd, @vstross, @sotu, @chappo, @asp149

[2014-10-18 07:11] dandv commented on #276
As seen above, some of these users are no longer on GitHub, let alone have those repos.

[2014-10-19 23:28] tmeasday commented on #276
@dandv the explanation for this set of package is that in Discover Meteor we have a example "publishing a package" chapter where we publish this particular package.

@udondan you are correct -- because previously a git repo was a requirement, almost all packages had a readme. This isn't going to be the case now.

[2014-10-20 00:28] tmeasday commented on #274
Also for the starred packages on author page, right?

[2014-10-20 00:40] domyen commented on #274
Yes, there too. Will update title.

[2014-10-20 01:47] dandv commented on #276
@tmeasday: any chance to remove these example packages? They seriously clutter the search results, and I bet the authors won't mind.

[2014-10-20 01:50] tmeasday commented on #276
@dandv we aren't in control of the package repository any more :)

We added flagging for just this purpose! Flag away!

[2014-10-21 11:46] dburles commented on #274
@dominicnguyen Changes are on branch `274-toggle`. Just needs styling.

[2014-10-22 03:34] dandv opened #277 "No GithHub for joshowens:timeago"
https://atmospherejs.com/joshowens/timeago

CC @queso, @meteorclub

[2014-10-22 03:41] udondan commented on #277
@dandv I believe you assume the username of the package is the same as the one on github. The name under which the package is published though is the name of the Meteor account. Might be the same, might not. :)

Since all packages lost their github reference at migration, I'm sure there is a very high percentage of packages w/o github repo. It's too late now to fix this on atmosphere.

[2014-10-22 03:41] dandv commented on #277
@udondan: I had edited my comment, see above :)

So what's the solution now for all these packages?

[2014-10-22 05:04] udondan commented on #277
Ah, see now. :)

Good question. Actually I thought the github info simply is lost and can not be restored. But then I did this:

[code]

So github/homepage should be known to Atmosphere, even if it is not in the package.js.

I checked some other packages which are disaplayed w/o github (and therefore readme) on Atmosphere and they all have a github parameter available with `mrt search`.
- mrt:flas

[2014-10-22 05:11] queso commented on #277
I can update the package, I guess. I should really switch it to use moment.

It really is too bad all this info just 'disappeared' with the migration when it was already there...

[2014-10-22 05:12] queso commented on #276
Does an author get alerted before a flagged package is removed? Or do we just arbitrarily do whatever?

[2014-10-22 05:37] tmeasday commented on #276
Flagged packages aren't removed, just penalized in rankings and "flagged" in the UI.

Right now we don't notify the author (chances are we don't know anything about them), but they can easily remedy the problem by publishing a new version, which is probably what's needed anyway if a package has been flagged.

[2014-10-22 05:44] tmeasday commented on #277
Hey guys,

This isn't true. We actually ported this information across when we had it.

I'm not sure what's happening with this specific package -- I can see that `mrt search` is returning the imported readme, but our db doesn't have that info. It's odd.

You can set a `readme` directly on the version now. I'm not sure if it's documented anywhere (it's pretty brittle) but MDG are using it to set R

[2014-10-22 05:45] dandv commented on #277
@queso: there is already a package using Moment for live timestamps: https://atmospherejs.com/copleykj/livestamp. Maybe that makes things easier, i.e. rm the timeago package?

[2014-10-22 06:03] udondan commented on #277
@tmeasday

I do not understand this statement. With `mrt` you HAD to have a github param in your `smart.json`, so there should have been no way you did not have this info for any package. What am I missing? :)

Let me again point your attention to https://github.com/lezed1/meteor-bootstrap-errors/blob/master/smart.json#L7 which has the github reference in the smart.json, the github repo has a [Rea

[2014-10-22 06:12] tmeasday commented on #277
Hey @udondan,

Your detective work is good but not quite perfect :)

Sorry I probably phrased that badly. I should have said "we tried" -- as you've noticed (for a while [1]) `mrt migrate-package` wasn't setting the `git` on the version. However, I only fixed that after the migration was done and we attempted to set the git URLs after the fact. I guess we did a worse job than I thought, but it def

[2014-10-22 06:15] tmeasday commented on #277
Re my above comment:

Ok, that was just dumb. Ignore that comment. The issue here is that we didn't pass across as many git URLs as I thought.

[2014-10-22 06:34] udondan commented on #277
Thanks for clarification. :) There's one more thing I don't get though. Sorry for bothering! ;)

From my understanding `mrt` uses Atmosphere as the backend.

[code]

So I don't understand why `mrt search` is returning the git url but you say you do not have it in the DB.

Maybe this info is stored in a different collection? Isn't there a way to port it to the correct collection then?

[2014-10-22 07:30] tmeasday commented on #277
Meteorite talks to atmosphere.meteor.com (which is it's own server, even if the web front end redirects to atmospherejs.com). You can even see the old package list at old-atmosphere.meteor.com.

Atmosphere talks to packages.meteor.com. We don't have any control over that data.

[2014-10-22 07:33] udondan commented on #277
I see, now it makes sense. Thanks again for clarification! :)

[2014-10-23 01:27] dandv commented on #207
Unfortunately flagging doesn't work that well. https://atmospherejs.com/urigo/ngmeteor has 3 stars already before I flagged it, and it's a package that [the author would like to delete](https://github.com/Urigo/angular-meteor/issues/32#issuecomment-60177305).

[2014-10-23 01:28] dandv commented on #267
@dominicnguyen: Unfortunately flagging doesn't work that well. https://atmospherejs.com/urigo/ngmeteor has 3 stars already before I flagged it, and it's a package that [the author would like to delete](https://github.com/Urigo/angular-meteor/issues/32#issuecomment-60177305).

[2014-10-23 01:31] dandv commented on #207
@dominicnguyen: how does one [request features on the roadmap](https://github.com/percolatestudio/atmosphere-beta/issues/207#issuecomment-55972370)?

[2014-10-23 02:48] dandv opened #278 "Deprecate/un-migrate/hide/remove bootstrap package"
https://atmospherejs.com/meteor/bootstrap - I've flagged it but has 3 stars. Per the [release notes](https://github.com/meteor/meteor/blob/devel/History.md#api-changes), it's deprecated in favor of community alternatives.

CC @ekatek

[2014-10-23 19:25] dandv opened #279 "Hide/un-migrate accounts-entry clones"
Flagged:
https://atmospherejs.com/stevenhornung/accounts-entry
https://atmospherejs.com/rnosov/accounts-entry

Original:
https://atmospherejs.com/joshowens/accounts-entry

CC @queso

[2014-10-24 08:12] shankardevy opened #280 "any plans to open source the code for atmospherejs.com?"
Hi
atmospherejs.com is a beautiful site. Just wanted to check if there is any plans to release the code for the site?

https://github.com/oortcloud/atmosphere/issues/106#issuecomment-60354520

Thanks

[2014-10-24 13:40] reel opened #281 "Getting download counts in search results"
Great job with atmospherejs website!

To easily pick a package on search, would it be possible to add the number of downloads beside the star counts?

The not much people star packages at the moment and two insights are really critical:
- Number of downloads (community adoptions) -- We always have to open the package page to see this.
- Code frequency -- last update on GitHub (is the maintainer ac

[2014-10-24 16:30] domyen commented on #281
Thanks @reel, sounds like showing download counts earlier on in the search flow could be a good idea. Let's see what other folks think.

[2014-10-24 16:37] domyen commented on #280
Hey there, check this issue out: https://github.com/percolatestudio/atmosphere-beta/issues/219. We're in pretty much the same circumstance as we were then. Our team is building a suite of high-quality open source apps to ship with the Meteor framework. Check the first of them out with `meteor create todos`.

[2014-10-24 16:37] #280 closed, assigned to nobody

[2014-10-24 16:55] domyen commented on #279
While it is strange to me to fork an open source package and republish it to the package index, it doesn't seem like we're the right people to make the judgement on whether folks can/can't republish nor do we have the ability to remove them from the Meteor's package index.

v1 of the flagging feature is intended to show that a developers mileage may vary with certain community-flagged packages how

[2014-10-24 16:55] #279 closed, assigned to nobody

[2014-10-24 16:57] dandv commented on #279
Hey @rnosov, @stevenhornung, was there a mistaken publishing of `accounts-entry` from your Meteor dev accounts?

[2014-10-24 17:02] stevenhornung commented on #279
I accidentally published a couple of forked packages that we were using to atmosphere but had no way to remove/hide them until now.  They don't need to be in atmosphere.

[2014-10-24 17:21] #277 closed, assigned to nobody

[2014-10-24 17:26] domyen commented on #278
Would you mind requesting un-migration on meteor/meteor issues instead of Atmosphere issues? It's up to the author to be proactive about removing their packages from the index.

[2014-10-24 17:26] #278 closed, assigned to nobody

[2014-10-24 17:26] #276 closed, assigned to nobody

[2014-10-24 17:36] domyen commented on #207
If it's an Atmosphere feature checkout [Flight Path](https://trello.com/b/RDZR8YGF/atmosphere-flight-path). If it's a Meteor package backend or an oauth feature checkout [Meteor Roadmap](https://trello.com/b/hjBDflxp/meteor-roadmap).

[2014-10-24 18:13] dandv commented on #207
I'm aware of the roadmaps, but all I can do is comment on existing cards. Can't add new ones.

[2014-10-24 18:31] domyen commented on #207
Made a new triage card for feature requests [here](https://trello.com/c/ZUvr6ShR/15-feature-requests).

[2014-10-24 23:42] dandv opened #282 "Travis instructions refer to mrt"
At https://atmospherejs.com/i/publishing . Leftover or intended? I've been meaning to add CI to one of my packages.

[2014-10-25 06:32] tmeasday commented on #281
I'm inclined to agree with this.

[2014-10-25 14:15] reel commented on #281
The small sparklines are nice but irrelevant in the search result as they don't compare on the same Y-axis with the other results.

[2014-10-26 22:05] tmeasday commented on #282
Hey @dandv - are you referring to within the meteor hacks article? I guess it's a little out of date, but probably still works. Perhaps @arunoda can say more?

[2014-10-26 22:08] dandv commented on #282
Before the meteorhacks article, there's a `curl -L http://git.io/ejPSng`, which resolves to https://raw.githubusercontent.com/arunoda/travis-ci-meteor-packages/master/configure.sh, which uses mrt.

BTW another use of `mrt` on the page:

"Alternatively, you can use `mrt link-package /path/to/my:package` to make that slightly easier."

[2014-10-26 22:09] tmeasday commented on #282
That second use is legimate. Let's wait to see what @arunoda's comment is.

[2014-10-26 23:07] arunoda commented on #282
Hi dan,

I'm planning to use meteor as the default command. See this PR: https://github.com/arunoda/travis-ci-meteor-packages/pull/30

But still there are some people who uses mrt to use custom meteor installations and do tests for older versions. No need mrt.

BTW: I'm going to accept above PR now. So default will be meteor.

[2014-10-27 02:17] dandv opened #283 "How are flags handled when a new package version is published?"
Will a package that has "earned" a flag have it removed when the author pushes a new version, or will the flag stay there forever, even if the author has addressed the issue?

It seems a little too easy, and anonymous, to flag packages. For example, I wonder if [this package](https://atmospherejs.com/timtch/flash-messages-plus) was flagged by mistake.

Maybe adding a "flagged by" field would incre

[2014-10-27 02:30] dburles commented on #283
Flags are reset once a new version is published.

[2014-10-27 02:31] dandv commented on #283
Awesome, thanks @dburles! That writeup was in the tooltip for flag icon. CC @timtch.

[2014-10-27 02:31] #283 closed, assigned to nobody

[2014-10-28 08:01] tmeasday opened #284 "Package count includes packages with no versions"

[2014-10-29 05:01] dandv opened #285 "Package still registers version despite meteor publish error"
Not sure if this belongs here or on meteor (CC @ekatek):

I've just published a package called [caret-position](https://atmospherejs.com/dandv/caret-position). On the first attempt to publish, I got an error that the version (2.1.0_1) already existed. Incremented the patch level to 2.1.1 and `meteor publish`ed again. Success.

However, both versions appear at https://atmospherejs.com/dandv/caret-p

[2014-10-29 05:03] dandv opened #286 "[minor] Reactively update the README"
I've noticed that as soon as I `meteor publish` a package, its Atmosphere page refreshes with the new version. Neat!

However, if the new package added a git URL, the README isn't updated.

[2014-10-29 05:05] dandv opened #287 "Please rm contributor `mrt` from dandv:caret-position"
https://atmospherejs.com/dandv/caret-position

Package is a wrapping of a `component`. `mrt` was never involved.

[2014-10-29 05:09] ekatek commented on #285
I am not quite sure what the bug is -- both sources (atm & meteor) are in
agreement that the version exists. Basically, the behavior you are seeing
does seem consistent with the version existing -- are you sure that the
version does not exist? (I mean, yes, presumably, but got to check!) Can
you add it to an app with @= or somesuch? Also, what version of meteor are
you using?

If you are sure, the

[2014-10-29 05:11] udondan commented on #287
That originates from the migration. Tom migrated all packages and originally he then was listed as a contributor. Later that changed somehow to `mrt`. I think there is no way for Tom to fix this, as only you (and `mrt`?) should now have administrative access to that package. You can fix this easily yourself though with `meteor admin maintainers dandv:caret-position --remove mrt`

Source: https://h

[2014-10-29 05:12] dandv commented on #287
Awesome @udondan, that worked!

[2014-10-29 05:12] #287 closed, assigned to nobody

[2014-10-29 06:14] dandv commented on #285
@ekatek: there was a ["2.1.0-1" version](https://github.com/dandv/meteor-caret-position/commit/00e965885dbbdc6d64cc495e61985dd2312723e0) (dash vs. underscore) but I presume the difference is irrelevant and the last "1" was interpreted as the wrapper version number.

PS: would help to add some contact details to your GitHub profile so folks can be sure you're with MDG :)

[2014-10-30 05:23] dandv opened #288 "Slow performance while loading "See more" packages"
I'm searching for [schema form](https://atmospherejs.com/?q=schema%20form). After returning the first set of packages, Atmosphere takes a surprisingly long while to spit out a few more.

Screencast at http://screencast.com/t/wc3lmjKxZD missed the first slowness, but it's there every time you click "See more".

[2014-10-30 05:39] tmeasday commented on #286
Mmm. That'd be a neat trick :)

[2014-10-30 05:40] tmeasday commented on #287
Heh @udondan actually I am mrt too -- I just decided it was less confusing to have "mrt" as the migrator. Plus it made my profile page more interesting.

[2014-10-31 17:49] domyen commented on #288
Will take a look next sprint. Really appreciate the screencasts btw, really helps us diagnose problems.

[2014-10-31 17:52] domyen commented on #282
Seems like we're all good here. Closing.

[2014-10-31 17:52] #282 closed, assigned to nobody

[2014-10-31 17:53] domyen commented on #281
Let's do it next Atmosphere sprint! Please print the app install count and reassign to me.

[2014-10-31 17:56] domyen commented on #272
Should we do a 'see more'? for the rest of the list. How do we order the list of dependents? Alphabetical? Score? Similarity?

[2014-10-31 18:43] domyen commented on #273
We're looking into getting access to org members now. @udondan's right about having a URL for the org page, this is what we're hoping to achieve for the reasons mentioned.

[2014-11-01 03:37] udondan commented on #273
Great, thanks @dominicnguyen !

[2014-11-03 13:08] ssteinerx opened #289 "Please make a way to flag "broken" or "doesn't work with Meteor 1.0" packages"
I've just tried a few packages only to find the Github link either missing or broken, along with the package not working with Meteor 1.0.x.

Please make a way for users to vote to flag/remove these packages.

Steve

[2014-11-03 13:16] udondan commented on #289
You can already do that. There is a flag button next to the package name.

[2014-11-03 13:20] ssteinerx commented on #289
Sorry, I should have been more clear.  I'm asking for better granularity.

"Not working" doesn't mean "won't install" or "github link broken or missing."

Steve

On Nov 3, 2014, at 8:16 AM, udondan wrote:

[2014-11-03 17:39] dandv commented on #116
+1. New Meteor users are being [confused about this on SO](http://stackoverflow.com/questions/26684493/rendered-event-not-firing-in-meteor?noredirect=1#comment42028862_26684493).

[2014-11-03 22:05] Slava opened #290 ""weekly activity" popup should overlap the timeline of package"
![screen shot 2014-11-03 at 2 03 44 pm](https://cloud.githubusercontent.com/assets/2608446/4891175/7edab048-63a5-11e4-9e64-4c14564744bb.png)

[2014-11-04 06:34] udondan commented on #116
I understand the concerns, but I suggest to take a look at how npm is doing it: https://github.com/npm/npm-www/blob/master/models/package.js#L13

They use [sanitizer](https://www.npmjs.org/package/sanitizer) and pass a custom urlPolicy as 2nd parameter to it.

What works for npm with 104k packages should work for 2,5k on Meteor/Atmosphere as well. :)

[2014-11-05 06:02] kevinchiu opened #291 "Cannot execute package search from website"
System:
Chrome (38.0.2125.111 - latest public release)
OS X 10.10

Repro:
1. Go to https://atmospherejs.com/
2. Type "blog" into the search field.
3. Press enter. (nothing happens)

Current workaround:
1. Copy and paste search term into URL after "?q="

[2014-11-05 06:05] udondan commented on #291
Works for me. You not even need to press enter, it is updating live while you type.

Which browser do you use? Do you have any JS error messages on the console?

[2014-11-05 06:15] kevinchiu commented on #291
Actually, speed seems to matter. If I enter my search query right when the page begins loading, it gets into a bad state. I'm on Chrome.

I'll try to record a video.

[2014-11-05 06:21] kevinchiu commented on #291
Ok, it seems like if you enter a term and press enter quickly, it doesn't load any results.

Here is a video: https://www.youtube.com/watch?v=J2uERVZnR4A

Here is the error in the console: Failed to load resource: net::ERR_CACHE_MISS https://atmospherejs.com/?q=

[2014-11-05 12:10] serkandurusoy commented on #62
Please take a look at http://crater.io/posts/CL2QWTTv4B7GjKf66/ voicing a similar concern that revolves around default example apps.

[2014-11-05 12:11] serkandurusoy commented on #204
@tmeasday I hope this http://crater.io/posts/CL2QWTTv4B7GjKf66/ has caught your attention.

[2014-11-05 16:16] zol commented on #291
I can confirm this problem. Thanks @kevinchiu

[2014-11-07 04:19] jlukic opened #292 "100% height layout"
It looks like the site wasnt built with sticky footers, so on short pages, the content doesn't fill the entire screen correctly.

For example [here](https://atmospherejs.com/lumatijev)

A simple solution would be

[code]

You can see this technique used [here](http://beta.semantic-ui.com/globals/reset.html)

[2014-11-07 22:08] benstr opened #293 "I love Stars, Stars don't love me :("
I am a crazy about stars. I have over 60 packages starred. When I go to my profile I am unable to load all the stars. Only the initial find of 20 starred packages show. When I select "See More" the page blinks then reverts back to the initial 20. How can I get a list of all my stars?

[2014-11-08 22:33] dburles commented on #293
Hey thanks @benstr hmm it sounds like the pagination is broken there, I will investigate

[2014-11-10 23:51] dandv commented on #292
:+1: for using the flex layout!

[2014-11-10 23:52] dandv opened #294 "Redirect somewhere useful on /package/xxx URLs"
There's a lot of link rot right now with old Atmo links of the `/package/<name>` form. Example: https://atmospherejs.com/package/queue

Atmosphere returns a completely blank page for those.

[2014-11-11 19:06] domyen opened #295 "Search: performance & clarity"
Text pasted from Mat Lorica

I can't confirm that the results or the order of operations are a bug – _the correct results do eventually load_, rather there is some uncertainty because the results are taking some time to load (sometimes seconds for longer queries).

[2014-11-11 19:35] domyen commented on #295
I notice some sluggish behavior when loading package data elsewhere as well (i.e., profile page). Anything happening upstream that might cause this?

[2014-11-12 05:24] tmeasday commented on #294
Hey @dandv - thanks for this!

Actually we have redirects set up but we broke them in the latest release I think.

[2014-11-12 05:39] tmeasday commented on #295
@dominicnguyen our syncing server is suffering a bit, could be that you were connected to that one. We should probably move that server out of the web stack.

On the subject of unresponsiveness, can you be a bit more precise about the behaviour you've observed? I see from one of Mat's screenshots that he's typed "redis" without _any_ visual feedback -- I wasn't able to reproduce this, the best I c

[2014-11-12 05:40] tmeasday commented on #295
![screenshot from 2014-11-11 05 26 03](https://cloud.githubusercontent.com/assets/132554/5005802/8b297aa0-6a8a-11e4-8c43-50bf274a4957.png)

In fact if you look closely at this screenshot you'll see "redis" is typed in but the URL hasn't picked it up. This seems like a client side bug. I'll try FF here, I guess ubuntu if I can't get it to happen.

[2014-11-12 15:41] maxnowack opened #296 ""Publishing Packages" Page"
I think there is an error on the ["Publising Packages" Page](https://atmospherejs.com/i/publishing):
In the "Testing your package" section, the parameters of the "ln" command are swapped.

[2014-11-13 02:24] dandv opened #297 "Atmosphere police"
While evaluating various packages for a large project I'm undertaking, I've seen countless examples of abandoned packages and migration gone wrong. As an example,

https://atmospherejs.com/?q=d3

produces 26 packages, of which many are abandoned, no longer work with 0.9+, and have been superseded by forks that do. I've flagged each, and I've contacted the authors asking them to `un-migrate` them,

[2014-11-13 02:54] dandv commented on #297
Here are actual stats from this `d3` Atmosphere search. They're very similar to previous searches I've done for other packages (DataTables, forms, maps, you name it) - half the results are a serious waste of time.

**UPDATE** In the meantime some folks have flagged some of these packages, and they show as flagged globally - thank you! We do need more flags - the more popular a package is, the more

[2014-11-13 08:09] dandv opened #298 "If I flagged a package, show it as flagged in search results"
Makes sense, no?

Use case: I'm reviewing d3 packages, https://atmospherejs.com/?q=d3

As I go and flag the dead ones, the flags won't appear in the search result cards until enough users flag the same packages (right now https://atmospherejs.com/meteor/d3 doesn't show as flagged, but I have flagged it).

As far as I'm concerned, I won't ever want to use a package I've flagged, so I want to see it

[2014-11-13 17:01] gadicc opened #299 "DDP access and Access-Control-Allow-Origin header"
Hey :)

Is it ok for (responsible) developers to open DDP connections to `https://atmospherejs.com/`?  When I try, I get:

[code]

Indeed, the headers come like this:

[code]

So, looks like in theory you allow it but there's an extra header in there.  Maybe the app code is adding the first that was maybe originally intended for development, and the second is coming from the proxy config?

[2014-11-13 18:28] mfpierre commented on #296
I confirm this issue :+1:

[2014-11-14 01:28] #294 closed, assigned to nobody

[2014-11-15 00:30] domyen commented on #298
This is a good point. Will review when we rework the search cards next sprint. I'll add it to the next up milestone!

[2014-11-15 00:33] domyen commented on #295
Eagle eyes @tmeasday :)

Agree that we should fix the spinner. I can't reproduce Mat's initial report, I only experienced slowness but eventually the search did resolve.

[2014-11-15 01:39] tmeasday commented on #295
It's not as trivial as it should be to fix the issue with the spinner (if you look at the code you'll see it was an explicit "this is easier than doing it properly" type move). I'll get to in on the next round.

[2014-11-15 02:36] dandv commented on #298
Sprints! Milestones! How about http://scottchacon.com/2011/08/31/github-flow.html ?

[2014-11-15 07:29] zol commented on #298
We're a small team splitting our time between numerous projects. Continuous deployment works well when you're primarily working on one project and can respond swiftly to the inevitable fires that are often burning.

Splitting our development effort up into sprints allows us to multiplex our time between projects more efficiently. There is a significant amount of overhead that's incurred when conte

[2014-11-17 23:41] tmeasday commented on #297
Hey @dandv,

Thanks for taking the time to write this up. I think you make a pretty solid point.

First off, I think everyone agrees that there's not much value in these front end wrapper packages that don't really do anything. Exactly what the solution is is a topic for another forum (and a conversation that's progressing right now I think).

---

To address some of the specific issues you have:

[2014-11-18 08:08] dandv commented on #297
Moderators as a solution have worked well for various software development and Q&A communities, and I have no reason to believe it won't work here. I've been performing this voluntarily [for](https://github.com/dandv?tab=contributions&from=2014-11-16) [the](https://github.com/dandv?tab=contributions&from=2014-11-13) [past](https://github.com/dandv?tab=contributions&from=2014-10-28) weeks and am ha

[2014-11-18 10:50] raix commented on #297
Maybe there could be a consensus about using the version of a package as an indicator for how stable the package is? I normally use very low versions on packages that havent matured or isnt production ready. We have kind of a problem on the cfs team that its a pre-pre-release thing, but folks are using it and "demanding" bugfixes. I guess now we could mark it `-alpha.1` etc. but the package system

[2014-11-19 23:33] zol commented on #299
Hey @gadicc. The duplicate Access-Control-Allow-Origin header has been fixed in our proxy config.

Regarding DDP access, you can now theoretically connect to atmosphere's DDP connection directly. What are you hoping to do? In the past we've suffered outages when people have connected and performed naive operations (such as subscribing to way too much data).

Unfortunately, it's trivially easy to h

[2014-11-19 23:33] #299 closed, assigned to nobody

[2014-11-20 04:58] gadicc commented on #299
Hey, awesome.. thanks, @zol!

Yeah, I totally understand that of course.  If that happens again maybe we can work out a better solution.

We started a plugins page at http://famous-views.meteor.com/plugins.  Just wanted to show Atmosphere stars and downloads next to each one.  So, would be the same subs as `?q=fview-` on Atmosphere, and of course, unsub when leaving that page/route.

I guess if we

[2014-11-22 10:21] silkentrance opened #300 "Renaming / Deleting accounts"
I have a problem with my current account name. The name I took is already used on npm as either a prefix for or actual package name. As i want to publish my packages both on npmjs.org and atmosphere, I am currently stranded as I cannot use the same email address twice for multiple accounts.

Would it be possible to rename an existing account or delete it altogether including the published packages

[2014-11-22 16:25] silkentrance commented on #300
found a way to remove the published packages from the index, however, how would I delete the account altogether?

[2014-11-22 18:35] splendido commented on #273
+1 for organization pages!

[2014-11-22 18:57] domyen commented on #300
There's no way to 'delete' accounts at this time. Meteors oauth service handles most of the accounting so we haven't focussed much on building out a full account management system. That's probably down the track.

What's your account name/email?

[2014-11-22 20:29] splendido commented on #132
This is not about 'two words search' but the title seems related enough to prevent me to create a new issue...

I'm feeling there's something weird on sorting.
For example if you look [here](https://atmospherejs.com/useraccounts/bootstrap) you'll see a package with almost 200 'app installs', seven stars...
...and no '100' milestone on the history nor tendency graph ;-)

If you look [here](https://

[2014-11-22 20:52] splendido commented on #288
It also happens that already loaded packages changes their position...
You can grasp it searching for 'accounts' and then pressing on 'see more' two or three times...

[2014-11-22 21:34] silkentrance commented on #300
The account name is vibe and the email is trancesilken@gmail.com.

The account can be readily deleted including also the packages published there as no one is actually using these packages but me :D

[2014-11-22 22:40] zol commented on #299
Cool, that seems ok.

[2014-11-24 00:14] dandv commented on #132
Well, I _think_ it's a bug, but I _hope_ it's the same sort of randomization algorithm that Quora uses to give answers other than the best ones more chance of being read and upvoted. Otherwise, the "best" items keep getting more votes, at the detriment of newcomers.

[2014-11-24 07:00] dandv opened #301 "Syntax highlight busted?"
Syntax highlight at https://atmospherejs.com/rubaxa/sortable is off:

![image](https://cloud.githubusercontent.com/assets/33569/5161694/78fba1f4-7364-11e4-8ee0-2a3ed0ba373e.png)

[On GitHub](https://github.com/RubaXa/Sortable/blob/master/README.md) it shows up just fine.

[2014-11-24 10:09] gadicc commented on #299
Haha, so, I promised to be careful and then @splendido sent this to me via IM:

my heart skipped a beat until the next line showed up,
"I'm kidding, off course!".

#hadtoshare :)

[2014-11-24 10:13] splendido commented on #299
it was just to add a bit of fun to the morning ;-)
Despite this, the problem is there: atmosphere is loading correctly with no issues inside the browser console, but local collections are not being populated... hence no contents!

Have a nice day! :-)

[2014-11-24 10:16] gadicc commented on #299
It's ok, I lol'd, just got a big fright initially :>

Oh ok if it's a real problem then open an issue on our repo.  In general we only establish the DDP connection to atmosphere if the user browses to the plugins page, so it takes a bit longer.  For me the counts show up after about 2s from loading the page... maybe your internet connection is slow :>

[2014-11-24 10:21] splendido commented on #299
mmm, weird, I was sure it could have been the same for all.
I have both sites open since a while, but nothing is showing up:

![atmosphere_no_package_data](https://cloud.githubusercontent.com/assets/6148980/5163432/e169454a-73cb-11e4-8ed0-5e4b0f8e7623.png)
![fview_no_package_data](https://cloud.githubusercontent.com/assets/6148980/5163437/eed34456-73cb-11e4-94c7-7ec96e31d5b7.png)

and my connectio

[2014-11-24 10:26] splendido commented on #299
mmm, it turns out the problem is with my chrome: Version 40.0.2214.10 beta (64-bit) on Ubuntu 14.04
Bot Firefox and Chrome on my mobile are fine!
Might be still relevant, but I guess I'd need to investigate more...

Sorry for the rumor guys!

[2014-11-24 10:37] nooitaf commented on #296
Me confirm too, it should be

[code]

[2014-11-24 10:47] splendido commented on #132
Ok, today everything seems different from yesterday...
Now graphs are there and almost all packages from useraccounts show up in the top 20!

![atmosphere_useraccounts_top20](https://cloud.githubusercontent.com/assets/6148980/5163761/a3df8a1e-73cf-11e4-96df-bcc5e383dcef.png)

perhaps something changed behind the scenes?

[2014-11-24 11:15] gadicc commented on #299
Atmosphere not working on a particular Chrome version is something we should know about.  Are DDP connections to any other sites affected?  Sure, keep investigating and keep us posted.

[2014-11-24 11:49] splendido commented on #299
Other websites works normally, Crater.io for example...

But now also Chrome worked!
...even with huge waiting times...
What I can see from the websocket traffic on the network log is that initial subscriptions to 'packages/*' like:

 ["{\"msg\":\"sub\",\"id\":\"YEh8kTc3kJLXuhxTM\",\"name\":\"packages/trending\",\"params\":[]}"]

get replies in 5 to 10 minutes...

a["{\"msg\":\"added\",\"collectio

[2014-11-24 14:24] gadicc commented on #299
Uh, no :>  How many tabs do you have open?  If you restart Chrome, any difference?  With extensions disabled?

[2014-11-24 14:51] splendido commented on #299
Tried to restart, and no change, at least this morning.
...very few tabs opened, an just plain html.

The thing is now is working fine!!!! :-(

[2014-11-24 17:41] zol commented on #299
About 7 hours ago our servers were experiencing some problems due to a change we made in score calculations. This may explain the flakiness you were experiencing.

[2014-11-24 17:44] splendido commented on #299
Ok, that's good to know.
...and I guess it also has something to do with #132 right?

Tnx for letting us know!

[2014-11-25 05:47] dandv opened #302 "Show MD organization packages at /org/"
https://atmospherejs.com/?q=cfs - OK

https://atmospherejs.com/cfs/ui - OK

https://atmospherejs.com/cfs/ - 404. Would be nice to show all `cfs` packages there.

CC @raix ;)

[2014-11-25 06:03] tmeasday commented on #132
Hey @splendido - yes there was a problem with the scoring job and it hadn't been scoring every package for a little while. This is sorted out now as you can see. Thanks for pointing this out.

@dandv - I'm not really sure that same logic applies to packages where there's less scope to feed back on the package directly on Atmosphere, and less of a need to 'explore' and fill out unknown packages. Bu

[2014-11-25 07:16] raix commented on #302
+1 btw. I'm getting 503 on https://atmospherejs.com/

[2014-11-25 07:43] splendido commented on #302
Yeah, +1!

Btw this is a duplicate of #273 I guess.
Also tried to discuss about this [here](https://groups.google.com/forum/#!topic/meteor-talk/Vva1C-atOoo)

Luca

[2014-11-25 07:44] dandv commented on #273
The package list is great to begin with, and feel free to close my dupe issue!

[2014-11-25 07:47] splendido commented on #132
Hi Tom,
I'm happy I could help figuring it out.
Thanks for the great job!

[2014-11-25 22:03] lorensr opened #303 "See more button fails"
1. Visit https://atmospherejs.com/packages/most-used
2. Select "This month"
3. Scroll to bottom
4. Click "See more" button

Latest Chrome, latest OS X

[2014-11-26 11:43] hedcet commented on #297
i think - this is the first problem to solve in meteorjs packaging system

please keep different versions of a package under a single package name.
In the case of bootstrap there were several packages like bootstrap, bootstrap-3 and so on.

@dandv
http://ww2.meteor.com/spreadjs/linto
i found atlest 81 package contains "bootstrap" in their name

[2014-11-26 12:04] splendido commented on #297
wow, interesting link...
The table seems not updated thought, how can this be used?

[2014-11-26 12:09] dandv commented on #297
@splendido: which table? I've updated the list of d3 packages, striking out those that have been flagged. There are still quite a few left to flag. Come on, community! :)

[2014-11-26 12:20] splendido commented on #297
sorry @dandv I was referring to the table you can see looking at the link posted by @HedCET

I think you're doing a great job here!!!
...but at the same time it cannot be only you! there should be a better way to improve the commitment of the community to keep he package database clean and up to date.

It doesn't make any sense you can find ~80 packages for bootstrap!
I'd say the best way would be

[2014-11-26 12:42] udondan commented on #297
`bootstrap` already is taken as either a username or organization and AFAIK there's no way of finding out who's the owner. A while back I registered the org `bootstrap3` (and with an eye on the future as well `bootstrap4` and 5... ;-) ) for a [canceled project](https://github.com/meteorbootstrap/base). Unfortunately there currently is no way to delete an org but I'm of course willing to invite eve

[2014-11-26 12:44] dandv commented on #297
@udondan: you can ping @estark37 to delete orgs or convert users to orgs. She's helpful :)

I've also reserved a large number of orgs, because someone who was not very nice, had reserved moment but apparently did nothing with it, and [the official moment maintainers can't use it now](https://github.com/moment/moment/pull/2059#issuecomment-64419279).

[2014-11-26 12:45] splendido commented on #297
this is surely another problem...
'bootstrap' was just an example to propose a pattern ;-)

[2014-11-26 12:51] splendido commented on #297
hey @HedCET, in case 'fontawesome' is an organization, you can go to meteor.com login with your regular username look for the 'organization' 'tab' under your account settings and 'invite' new users based on their meteor developer usernames.

In case 'fontawesome' is only the package name, hence 'linto:fontawesome' you must use the meteor CLI to add another maintainer via [meteor admin](http://docs

[2014-11-26 12:52] dandv commented on #297
Thanks @splendido for answering that SO question - you should repost there and get the points :) PS @HedCET: might want to [pay a bit more attention to the writing](http://stackoverflow.com/posts/26621628/revisions)!

[2014-11-26 12:54] splendido commented on #297
do you guys think we should try to put some pressure on organization/users (like @dandv is very well doing) also pinging MDG to eventually depose the current owner and give back the 'organization' to the community?
How much would Meteor gain from such a 'rude' operation?
Probably something to be considered?

[2014-11-26 12:58] dandv commented on #297
I've already asked Emily to put me in touch with the `moment` guy. It would be the _nice_ thing for him to add me and @ichernev to the organization.

On the other hand, sometimes this borders into trademark infringement. Someone has reserved "google", and I happen to be the only Meteor dev who works at Google. We plan to release some Meteor packages but the namespace is taken. Rather than have our

[2014-11-26 13:14] dandv commented on #297
@HedCET: can you please add me to the `fontawesome` organization?

All: I've sent a [pretty solid PR](https://github.com/FortAwesome/Font-Awesome/pull/5061) to Dave to add official Meteor integration to Font Awesome. Check out [the PR files](https://github.com/dandv/Font-Awesome/tree/meteor-integration/meteor) - note the font download tests and the visual checks.

[2014-11-26 13:46] splendido commented on #297
@HedCET, IMHO `fontawesome:fontawesome` is not the better choice since 'fontawesome' is already clearly standing out from the first part.
What about `fontawesome:4.2.0`, `fontawesome:3.2.1`, etc?

[2014-11-26 13:48] dandv commented on #297
The actual organization behind `fontawesome` is fo<b>r</b>tawesome (see [their GitHub](https://github.com/fortawesome)). This is why I've published the official integration at https://atmospherejs.com/fortawesome/fontawesome. Please star!

[2014-11-26 13:50] splendido commented on #297
@dandv, just saw it, was writing right now you took a better path...

so: `fortawesome:fontawesome-4-2-1-less` etc?
Not sure whether the dot is allowed inside names...

[2014-11-26 14:33] splendido commented on #297
ok, perhaps it's clearer to have only the name without the version, actual package version will reveal the version of the original package to which the meteor package is linked.
Possible mistakes in publishing operations could be absorbed by publishing versions named M.m.p_w as explained in the [official documentation about writing packages](http://docs.meteor.com/#/full/writingpackages)

[2014-11-26 23:38] dandv commented on #275
Bump

[2014-11-26 23:54] dandv commented on #297
Hey all, I've updated my [guide on creating official Meteor integrations](https://github.com/raix/Meteor-community-discussions/issues/14). Good luck, happy to answer questions and reach a large consensus!

[2014-11-27 00:24] dandv commented on #297
@HedCET - nice [table with lots of packages](http://ww2.meteor.com/spreadjs/linto)!
1. How did you build it? Where is the source of the data?
2. Can you add the description column? That explains why we see 81 results for "Bootstrap", when there are far fewer wrappers.
3. Can you enable sorting? We'll see the most starred/downloaded/etc. packages.
4. `ww2.meteor.com` looks official, like a secondar

[2014-11-27 01:19] tmeasday commented on #275
Done. Thanks for the dump @dandv

[2014-11-27 01:19] #275 closed, assigned to nobody

[2014-11-27 04:38] gadicc commented on #299
@zol, I think I'd prefer now to do the DDP from the server.  Are you ok with a "single" set of the same queries (it's actually a lot less than `?q=fview` on atmosphere, since we don't subscribe to the daily scores, etc) being left on 24/7?

otherwise i can just cache the results on the server, and have the server connect and update on debounced visits to the page (you can let me know what threshol

[2014-11-27 05:07] dandv commented on #297
Of course I had click on column headers; nothing happened. Just now I tried to right click (a bit counter-intuitive) and managed to sort.

And I know ww2 is a subdomain just like "autocomplete".meteor.com, but it looks official (see http://stackoverflow.com/questions/1692273/why-ww2-sub-domains), as if it was maintained by MDG.

[2014-11-27 05:11] hedcet commented on #297
@dandv why u don't touch mizzao:bootstrap-3, i think that's also a thirdparty package and most downloaded

[2014-11-27 09:07] splendido commented on #297
is it me or there are a number of previous post disappearing above here ;-)

[2014-11-27 22:01] dandv opened #304 "Increase weight of search keyword occurring in the package name"
https://atmospherejs.com/?q=fontawesome

![image](https://cloud.githubusercontent.com/assets/33569/5221980/a20a4132-763d-11e4-81a5-09ee9ac6273d.png)

As one can see, the second search result merely uses "fontawesome" in the description, while [the official Font Awesome](https://github.com/raix/Meteor-community-discussions/issues/14) package gets a lower ranking.

[2014-11-28 09:09] dandv commented on #127
Updated the OP - we just need to link to Meteorpedia.

[2014-11-28 09:36] gadicc opened #305 "Support for package tags (and restricted tags)"
Hope it's ok to revisit https://github.com/percolatestudio/atmosphere/issues/198 and https://trello.com/c/dKAFvLAk/14-tagging-packages-by-users.  I wanted it on an open issue, but if in future it's better to expand on old closed ones, let me know.

It would be cool to be able to tag packages.  I can see a few use cases:
1. The original motivation was for keywords like **wrapper** or **integration*

[2014-11-28 09:46] dandv commented on #305
Excellent idea, :+1:.

And there does seem to be some support for listing repackaged packages?

https://atmospherejs.com/packages/repackaged

[2014-11-28 10:02] gadicc commented on #305
Oh, how did you find that link? :)  Looks like it's just a search though:

https://atmospherejs.com/packages/moo :)

[2014-11-28 10:03] dandv commented on #305
LOL indeed :) It was listed at the bottom of Atmospherejs.com at one point. Nice one @tmeasday :-P

[2014-11-28 11:16] dandv commented on #297
@splendido: @raix mentions in the README that he might edit the posts, and to complain if you "feel violated" :)

@HedCET: Hey @mizzao, [your package](https://github.com/mizzao/meteor-bootstrap-3/) is next! >;-> Seriously, a PR to have official Bootstrap integration straight from the Twitter guys would be great. I've laid out [the steps here](https://github.com/raix/Meteor-community-discussions/is

[2014-11-28 11:57] splendido commented on #297
@dandv I've read the README from @raix, but here we're on another repo (which as no README.md file at all...), not sure he could remove posts from this thread ;-)

Btw, no worries at all, my posts are still all here. the ones disappeared were from @HedCET...

[2014-11-28 12:01] dandv commented on #297
@splendido: right, I was confused :) Too much packaging today #needsleep

Well, @HedCET might have edited his own messages. I'm not a contributor to this repo so I can't edit/delete.

BTW I find it disturbing that repo contributors (not just owners) can silently delete or edit anyone's comments without a trace, not even an "edited" label like on SO or FB. Hey @mdo, @schacon, @josh, @arfon, @tnm, @

[2014-11-28 12:39] splendido commented on #297
Ok, lets stop this here...  I'm not that good at first fights ;-)

I had no intention to bring up such a discussion.
I only though someone was trying to hide his traces and that made me a little upset.
I didn't even know @raix has some power here..

Btw, thank you all for the clarification!

[2014-11-28 13:04] raix commented on #297
Good point @splendido I can only delete my own comments here... Think @dandv thought we were in https://github.com/raix/Meteor-community-discussions and I only read his comment.

[2014-11-28 14:02] dandv commented on #297
@HedCET,

I just did: https://github.com/mizzao/meteor-bootstrap-3/issues/14

[2014-11-28 21:23] dandv commented on #275
Thanks. The repo description should also be updated (it says "Beta").

GitHub doesn't display it to me (which is a bug, I guess), but it's picked up by Google and shown in the SERP.

[2014-11-28 21:32] dandv commented on #297
@gadicc: [what sort of role model](https://atmospherejs.com/gadicohen/pkgtest) are you? ;)

[2014-11-28 21:54] dandv opened #306 "Untraceable packages"
With `mrt`, there had to be a valid git repo for a package to get published.

With the new Atmosphere, the `git` field is optional and worse, can be completely different from the actual repo of the app. Combined with user apathy in filling in their MD account profile information, this makes it impossible to reach out authors of forks that pollute Atmosphere.

Who cares? Well, take a look at this s

[2014-11-29 00:37] dandv opened #307 "Git URL pointing to arbitrary path in the repo"
Is this possible? For [direct packages](https://github.com/raix/Meteor-community-discussions/issues/14), it would be great if the Atmosphere README was picked up from an arbitrary path, rather than the one in the root of the repo.

For instance, `git: 'https://github.com/dandv/Font-Awesome/tree/meteor-integration-5.0.0/meteor'` would show that Meteor-specific README when going to https://atmospher

[2014-11-29 03:54] gadicc commented on #297
Apparently a very bad one :)  We were using this to debug the meteor publish fail on some packages from a while back.  Anyways.  Set unmigrated :)  Thanks for the heads up.

[2014-11-29 05:48] mizzao commented on #297
Seems like a long discussion, but I would be happy to hook releases into the build process of other packages and reduce the maintenance load, which is currently just very dumb work.

I was mentioning in https://github.com/mizzao/meteor-bootstrap-3/issues/14#issuecomment-64942535 that this process would be a lot easier with package renaming fully implemented, so we can take the most popular version

[2014-11-29 17:31] awatson1978 commented on #297
Usually Morten and I have similar views on industry practices and whatnot, but I'm going to respectfully disagree on this point.  In most healthy package ecosystems, it's quite common for packages to reach maturity and stability and not need constant updates.  Moreover, for someone seeking package stability, publish activity is usually a sign of breaking changes, or something fundamentally wrong w

[2014-11-30 01:06] dandv opened #308 "Atmosphere doesn't show anything special for unmigrated packages"
[code]

...wait 20 minutes...

https://atmospherejs.com/summernote/summernote-compat shows as any regular package.

Since `set-unmigrated` is currently our only mechanism of indicating that a package should not be used, I believe Atmosphere should reflect that in the package page in a more prominent manner than just displaying an empty History section.

[2014-11-30 04:04] numtel commented on #116
+1 Still affecting readme with links to relative markdown files. Please fix this!

[code]

[2014-11-30 10:29] dandv commented on #132
Looks like we still have some issues with search ranking for ["moment"](https://atmospherejs.com/?q=moment):

![image](https://cloud.githubusercontent.com/assets/33569/5237437/249fb194-7838-11e4-9549-6003931350cd.png)

The official package has 3 stars and 2 app installs, but shows up after packages with 0 stars and 3 app installs (ryzmek:moment-locale-fr). The ranking surely doesn't care that much

[2014-11-30 22:44] tmeasday commented on #132
@dandv (I think) we just need to wait for the new score for this package to be calculated. The scoring happens nightly at 7am UTC (11pm PST right now I think). And the score is calculated based on the start of the day. So, based on the fact that the package was published only 35 hours ago and the scoring is going to run again in around 8 hours, I'd say none of it's installs were counted during the

[2014-11-30 22:46] dandv commented on #132
Thanks Tom, didn't know about the cron job timings.

Still, https://atmospherejs.com/gildaspk/moment-languages shows before https://atmospherejs.com/gildaspk/moment-datepicker, and they both have 0 stars, but the former has 7 fewer installs.

[2014-11-30 22:49] tmeasday commented on #132
Hey Dan, yes but the former also hasn't published a new version in quite some time. As explained [here](http://blog.percolatestudio.com/engineering/atmosphere-score/) (still mostly up to date, although not factoring in flagging/starring), we try to take age into account to encourage newer packages.

[2014-12-01 05:40] tmeasday commented on #288
I think this was a performance issue? It seems good for me now...

[2014-12-01 05:40] tmeasday commented on #289
I think this is what flagging is intended for really.

[2014-12-01 05:40] #289 closed, assigned to nobody

[2014-12-01 05:43] tmeasday commented on #295
I think the URL issue is probably https://github.com/percolatestudio/atmosphere/issues/291

[2014-12-01 08:14] #302 closed, assigned to nobody

[2014-12-01 08:15] tmeasday commented on #303
Thanks for the repro @lorensr

[2014-12-01 08:19] tmeasday commented on #304
I think this is really a subset of what we were talking about here - #132

[2014-12-01 08:21] tmeasday commented on #304
AFAIK this can't be done without a proper search service. Which is on the todo list (and covered by #132)

[2014-12-01 08:21] #304 closed, assigned to nobody

[2014-12-01 08:22] tmeasday commented on #263
#290

[2014-12-01 08:22] #263 closed, assigned to domyen

[2014-12-01 08:23] #202 closed, assigned to nobody

[2014-12-01 08:37] tmeasday commented on #308
You're right, it should show something. OTOH they don't come up in search results, so that's good.

[2014-12-01 08:39] tmeasday commented on #307
There is an undocumented `readme` field in `package.js` that should point to a raw markdown file (like https://raw.githubusercontent.com/percolatestudio/atmosphere/master/README.md).

Does that help?

[2014-12-01 08:41] tmeasday commented on #285
@dandv did you figure this one out?

[2014-12-01 08:43] tmeasday commented on #259
See also #290

[2014-12-01 08:50] tmeasday commented on #265
I think we have a default icon -- @dburles did we discuss what to do here at some point?

[2014-12-01 08:57] dburles commented on #265
Gravatar can send back a transparent image. So I think it was on @dominicnguyen's todo list to add a default icon as a  background image behind the avatar

[2014-12-01 08:57] tmeasday commented on #284
There were about 7 packages that had no version published (no-one is sure how exactly). Anyway, better for them to not show up in the results.

[2014-12-01 09:01] tmeasday commented on #265
Cool. Do you want to take care of the first part (so it's just blank for now) on devel?

[2014-12-01 09:03] dburles commented on #265
Ya no prob

[2014-12-01 09:33] tmeasday commented on #301
I don't think we even had syntax highlighting @dominicnguyen ?

[2014-12-01 09:34] dburles commented on #301
@tmeasday See also #36

[2014-12-01 09:39] tmeasday commented on #301
Although the classes are there if we want to create a theme.

[2014-12-01 09:39] tmeasday commented on #303
Probably the same issue as #293

[2014-12-01 09:46] tmeasday commented on #301
Oh, OK I see, thanks @dburles. It looks like GH changed engine for generating these things.

[2014-12-01 09:46] tmeasday commented on #272
We should probably order by score [DONE].

We should paginate, I wouldn't put it high on the list of priorities though.

[2014-12-01 09:47] tmeasday commented on #201
I'm guessing the root cause here isn't ever going to be fixed.

[2014-12-01 09:47] #201 closed, assigned to nobody

[2014-12-01 10:41] ssteinerx commented on #289
Personally, I think flagging should allow comments.  An ambiguous flag without context is kind of an ambiguous flag without context.

S

On Dec 1, 2014, at 12:40 AM, Tom Coleman wrote:

[2014-12-01 15:29] timbrandin commented on #289
+1

[2014-12-01 15:54] udondan commented on #289
I think only a general commenting feature makes sense. I'm happy with the flagging as it is. A flag tells something is wrong. If flags are respected in order of search results and visible right there, that's ok. A user then would chose a package with no (or less) flags. If there is no package w/o flags the user can check the details in the comments. If you introduce flags with context, where would

[2014-12-01 21:38] ssteinerx commented on #289
General comments would be great!  (and would render the flag superfluous)

[2014-12-01 23:14] tmeasday commented on #289
Well said @udondan. I don't think comments would make flags superfluous as they _do_ affect search ranking and are clearly indicated in search results.

[2014-12-02 00:11] dburles commented on #265
Gravatar will now send us a transparent image instead of their logo. @dominicnguyen will just need get the default icon to always show.

[2014-12-02 13:17] MiroHibler opened #309 "Atmosphere API?"
Are there any plans for API?

I'd like to get the list+descriptions (and more) of packages in my own app.

[2014-12-02 22:55] dandv commented on #309
Check out the [DDP API](https://github.com/percolatestudio/atmosphere/issues/299#issue-48661932).

[2014-12-03 05:31] tmeasday commented on #288
Going to close this for now. Let me know if you are still seeing it.

[2014-12-03 05:31] #288 closed, assigned to nobody

[2014-12-03 07:33] Futurama56 opened #310 "Change Gravatar Image"

[2014-12-03 07:50] #310 closed, assigned to nobody

[2014-12-04 00:35] dburles commented on #308
@dominicnguyen I've added a placeholder on the packages page, up to you on how best to display it

[2014-12-04 03:45] dburles commented on #306
Hey @dandv unless the user has signed into Atmosphere we don't have any record of their account. So in that case you could contact MDG directly.

In general it's inevitable that there will be some "junk" packages and we have some measures in place that can help to make it clear what is junk, and what isn't (e.g. stars/flags combined with coming improvements to the search etc). We're always looking

[2014-12-04 06:49] dburles commented on #281
@dominicnguyen please check the visuals :)

[2014-12-04 07:10] dburles commented on #281
@tmeasday you may want to eyeball this one

[2014-12-04 12:09] splendido commented on #297
What about developers that for a repo and publish it under a different name **without changing one line of code**!?

https://atmospherejs.com/voidale/accounts-ui-voidale

the github link links to the original repo!!!

Disclaimer: I'm the maintainer of the forked package...

[2014-12-04 16:35] dandv commented on #297
I've seen the case @splendido mentions, many times. People fork a package and just republish it under their own namespace, without bothering to document how the fork is different, or even pointing to their own repo.

What's the excuse for that?

[2014-12-04 17:45] awatson1978 commented on #297
Most likely, they're simply learning how the package management system works.  Or don't know best practices on documentation.  Or were starting on a project, and MDG changed the API on them, causing them to give up.  Or have other time commitments they have to take care of first in order to pay the rent.

Have compassion for other people's lives.  And remember that any one of those people who mana

[2014-12-04 18:15] splendido commented on #297
the fork lives [here](https://github.com/voidale/bootstrap) and the last commit is mine ;-)

I'm not saying we're all born experts and I know we all have hard ways to learn.
Only one year ago I was among those who knew nothing about web development and I'm not that much better now...

But using public spaces exclusively for your own interest without even considering it's a shared place is not amon

[2014-12-04 19:04] splendido commented on #297
If I'm not wrong, both the official Meteor documentation and Atmosphere under [Learn more about Meteor package management](https://atmospherejs.com/i/installing) are missing a section explaining how to clone/fork packages to work on them locally.

I've just added a section like this [here](https://github.com/meteor-useraccounts/core#working-locally)
...copying a bit from [here](https://github.com/

[2014-12-04 20:14] stubailo opened #311 "Search sometimes doesn't work"
https://www.dropbox.com/s/khrm6pjnj4ms8mf/Screenshot%202014-12-04%2012.13.14.png?dl=0

I went to the homepage, clicked in the search box, and typed "spiderable." You can see that the URL didn't update, as well.

[2014-12-04 22:59] dburles commented on #311
hey @stubailo might the issue be similar to this one? https://github.com/percolatestudio/atmosphere/issues/291

this one I can reproduce and it's fixed, though not yet on production

[2014-12-05 01:01] stubailo commented on #311
Yep, looks like a duplicate - sorry!

[2014-12-05 01:01] #311 closed, assigned to nobody

[2014-12-05 21:08] dandv commented on #297
The comparison of Atmosphere with a public garden is an excellent one, @splendido.

Indeed, there's no official easily accessible documentation (i.e. on docs.meteor.com) on how to fork package. There are some hackpads, but those are in a state of flux and look confusing even to me.

A first step would be for MDG to be a role model of packaging, and they're [moving in that direction](https://github

[2014-12-06 09:13] splendido opened #312 "Section about working with packages locally"
Dear all,

It happened to me at least a couple of times to see some guy forking a package and publishing it only to test their local changes for their current project.

Do you think adding one page or one section to the [Publishing Packages](https://atmospherejs.com/i/publishing) guide could help people start off quicker without needing to publish packages even before knowing if they'll actually n

[2014-12-06 09:29] pandark commented on #293
Same here.

[2014-12-07 22:26] dburles commented on #312
Hey @splendido I think this is a good idea, I could see it being its own section on that page.

[2014-12-07 22:29] dburles commented on #312
@tmeasday is there any consensus on a reasonably straightforward approach to working with packages locally?

[2014-12-07 22:31] tmeasday commented on #312
I think `git clone`-ing them into your project's `packages/` directory probably makes sense if you are tinkering. If you end up needing to check it in, a submodule works, but I guess other people have different approaches.

[2014-12-07 22:36] splendido commented on #312
Yeah anyone could have his preferred way of doing it.

What about simply explaining how Meteor could find your local version of the package?

Basically finding something under the `packages` folder of your project (be it a git clone, git submodule, proper folder under development, a symbolic link, whatever...)
...or looking into the path provided via `PACKAGE_DIRS` env variable

[2014-12-07 22:42] dburles commented on #312
Yeah sounds good to me. Also some procedures may help those that might otherwise be quick to publish a fork.

[2014-12-08 01:05] tmeasday commented on #298
@dominicnguyen - should we visually indicate the "self" flag differently to the "community" flag?

[2014-12-08 06:56] dandv commented on #285
@tmeasday, yes, closing.

[2014-12-08 06:56] #285 closed, assigned to nobody

[2014-12-08 07:12] splendido commented on #312
Yep, that was it!

Taking people by hands about how to test changes to forked packages before they publish them only for tinkering... ;-)

[2014-12-08 17:03] zol commented on #299
Hey @gadicc sorry for the late reply this somehow slipped through the cracks. Yeah it's fine if you leave the server connected 24/7 for the time being.

[2014-12-09 08:34] splendido commented on #297
It seems we're going to have a dedicated section on Atmosphere about how to work locally with packages. See [this issue](https://github.com/percolatestudio/atmosphere/issues/312) :)

[2014-12-09 08:50] dandv commented on #312
Let's pick one method, that also works on Windows easily (since Windows will probably see more Meteor noobs). Even though Windows supports symlinks, they're not really popular, so I'd recommend teaching users to
1. `mkdir packages`
2. `cd packages`
3. `git clone <repo_url>`

[2014-12-10 01:14] domyen commented on #296
lgtm

[2014-12-10 01:29] domyen commented on #298
I'm in favor of keeping it the same. Although I agree with the intent, the distinction is very nuanced so I wouldn't expect users to hold onto the difference between red and, say, yellow flags (there may be added confusion as a different color flag might also indicate how close it was to being 'fully' flagged).

I'd prefer we use the same behavior so I'm happy with what's here. I'll confirm it, if

[2014-12-10 01:46] domyen commented on #292
Thanks for the detailed suggestion @jlukic! The flexbox solution unfortunately doesn't play nice with our markup pattern which uses absolute positioning. We'll probably revisit this in the future so I'll leave it open, I don't think this can work unless we refactor our layout. :(

[2014-12-10 01:50] domyen commented on #290
Closing this in favor of #259, which is the more generic: this is broken.

[2014-12-10 01:50] #290 closed, assigned to nobody

[2014-12-10 01:59] tmeasday commented on #298
Nah, I'm good with it.

[2014-12-10 02:10] dandv commented on #298
Agree with the same indication - but when a user unflags a package, the community flag may still be in effect; however, the user must not believe that their unflagging was ineffectual.

[2014-12-10 02:13] dburles commented on #298
It'll be indicated on the package page, so that should be okay

[2014-12-10 02:30] domyen commented on #259
I've fixed the z-index issue. The bug present in the screenshot above has to do with `noMilestonesClass`.

`noMilestonesClass` adds class .no-milestones if a package has no milestones. We style against this class to tweak the layout to accomodate milestones. It doesnt work in some [cases](https://atmospherejs.com/natestrauser/font-awesome).

@tmeasday can you have a look?

[2014-12-10 02:32] tmeasday commented on #259
@dominicnguyen - are you saying that package _shouldn't_ have `.no-milestones` set?

[2014-12-10 02:33] domyen commented on #308
Thanks dave. Packages now get auto-flagged if they're unmigrated.

[2014-12-10 02:42] domyen commented on #259
Correct. `.no-milestones` should only be set when there are no milestones. ;)

[2014-12-10 05:08] tmeasday commented on #281
Can we go with the denormed version please @dburles

[2014-12-10 05:43] tmeasday commented on #273
Maybe the placeholder should be slightly different for "name" when you are editing an org?

[2014-12-10 05:44] tmeasday commented on #273
Apart from that looks good.

[2014-12-10 06:10] dburles commented on #281
@tmeasday done

[2014-12-10 06:16] dburles commented on #273
ok, done @tmeasday

[2014-12-10 06:23] dburles commented on #274
@dominicnguyen merged into devel

[2014-12-10 06:26] dburles commented on #273
@tmeasday can you please look into the contenteditable bug

[2014-12-10 06:28] tmeasday commented on #281
Good stuff, thanks @dburles

[2014-12-10 18:59] domyen commented on #274
Styled. @dburles Can you confirm that the data is getting updated? I was shown the same package list no matter which option.

https://github.com/percolatestudio/atmosphere-dev/commit/b5949173c81f153cc1bf4303a9a8550b26d56e1b

[2014-12-10 19:24] domyen opened #313 "PackageShow: Add tweet button"
Show a custom tweet button on the package page. This button should display the total number of 'shares' and allow users to share packages.

We have a jquery plugin that does this for (GH, FB, Tw) that @zol made for Sous. It may need to be made into a package.

[2014-12-10 20:02] domyen commented on #301
Updated the styling to use the new format.

[2014-12-11 10:49] dandv opened #314 "Unmigrated packages still show as dependants"
At https://atmospherejs.com/twbs/bootstrap, one can see summernote-compat, which I had set to unmigrated.

[2014-12-11 11:26] dandv commented on #307
I've just tested that with [twbs:bootstrap, pointing `readme`](https://github.com/MeteorPackaging/bootstrap/blob/meteor-integration/meteor/package.js#L14) to https://raw.githubusercontent.com/MeteorPackaging/bootstrap/meteor-integration/meteor/README.md, but I still see the README in the root of the repo at https://atmospherejs.com/twbs/bootstrap

[2014-12-11 11:27] dandv commented on #307
`meteor admin change-homepage twbs:bootstrap https://github.com/MeteorPackaging/bootstrap/tree/meteor-integration/meteor` didn't change the README either.

[2014-12-11 21:29] tmeasday commented on #307
Did you publish a new version of the package @dandv ?

[2014-12-11 23:06] dandv commented on #307
Yep. Just published _2 again to make sure.

[2014-12-12 00:47] tmeasday commented on #307
Hmm. I'm not seeing it:

[code]

I wonder if there's some special way you have to do it (only MDG have done it before). Will investigate.

[2014-12-12 00:49] tmeasday commented on #307
Hmm. I'd guess they must be manually setting that field. @ekatek - is this something package authors can do themselves?

CF:
- https://atmospherejs.com/meteor/htmljs
- https://github.com/meteor/meteor/blob/devel/packages/htmljs/package.js
- https://github.com/meteor/meteor/blob/devel/packages/htmljs/README.md

[2014-12-12 07:50] dandv commented on #307
Interesting... @estark37, how did you guys do that?

[2014-12-12 08:11] dburles commented on #314
Thanks @dandv I'll check it out

[2014-12-12 13:03] gadicc commented on #299
No problem at all, it is a closed issue after all :>  Thanks for confirming!  All done our side :)  Even have the DDP disabled by default when running in development instances :>

[2014-12-14 23:35] Slava commented on #295
Happens to me on Chrome Mac OS X as well.

[2014-12-14 23:43] tmeasday commented on #295
@Slava Are you seeing #291 (hitting enter causes search to be cancelled)? That is a known bug that's fixed and soon to be deployed.

Or are you referring to seeing the number of packages and no spinner for an extended period of time (which is what this bug is tracking?)

[2014-12-14 23:49] Slava commented on #295
I am referring to seeing no results in the list and a url looking like "https://atmospherejs.com/?q="

[2014-12-14 23:52] tmeasday commented on #295
Cool. And did you hit enter?

[2014-12-14 23:54] dburles commented on #314
@tmeasday I'm not sure whether it makes sense to be hiding them here if the package still depends on it

[2014-12-15 00:06] tmeasday commented on #314
@dburles I guess we should filter out unmigrated packages from the _dependants_ and related packages (not the dependencies though!).

[2014-12-16 02:33] erasaur opened #315 "Minor graphical glitch"
It's probably clearer to show a picture than explain with words:

![screen shot 2014-12-15 at 6 28 36 pm](https://cloud.githubusercontent.com/assets/8746334/5447814/d09ebc9a-8488-11e4-892c-94dd7d1fe4df.png)

[2014-12-16 03:10] dburles commented on #315
Hey thanks @erasaur good catch

[2014-12-16 03:12] dburles commented on #315
@dominicnguyen to reproduce just hover over a milestone

[2014-12-16 03:16] dburles opened #316 "Long package descriptions"
Breaks package item height

![screen shot 2014-12-16 at 2 15 12 pm](https://cloud.githubusercontent.com/assets/319567/5448146/0e6ac8b6-852e-11e4-8009-455776b2792d.png)

[2014-12-17 01:09] domyen commented on #315
Cheers @erasaur. Fixed for next release  https://github.com/percolatestudio/atmosphere/issues/259.

[2014-12-17 01:09] #315 closed, assigned to domyen

[2014-12-17 01:23] erasaur commented on #315
Awesome, thanks @dominicnguyen!

[2014-12-17 01:44] dburles commented on #274
@dominicnguyen yep it's all good

[2014-12-17 01:54] domyen commented on #204
Closing. The migration from mrt to meteor is a distant memory :)

[2014-12-17 01:54] #204 closed, assigned to nobody

[2014-12-17 02:37] domyen opened #317 "PackageItem: Link organization names"
![screenshot 2014-12-16 18 37 23](https://cloud.githubusercontent.com/assets/263385/5465747/a534fa5e-8552-11e4-8955-590b5e3a217d.png)

[2014-12-17 03:36] dandv commented on #204
A distant memory brought back often by `mrt` packages :)

https://atmospherejs.com/?q=editable

[2014-12-17 06:35] tmeasday commented on #300
I think the issue is that you need to delete your Meteor Developer account. We don't control those, please contact the MDG (try meteor-talk?)

[2014-12-17 19:20] zol opened #318 "Need some mongo indexes"
@tmeasday Here are the slow queries from Dec. Several indices are clearly missing. Any idea where those crazy queries down below are coming from? (Perhaps it's gadi using DDP to list his packages for meteor-famous-views).

[code]

[2014-12-17 19:22] zol commented on #318
Just the top 15 with replacements for better legibility

[code]

[2014-12-17 20:13] splendido commented on #318
FYI, I know about at least two different attempts to extract data from atmosphere:
1. @gadicc extracting info about `fview-*` packages within [this file](https://github.com/gadicc/meteor-famous-views/blob/ff2b57672fbdf43dbfacead9782b69f87b10f7de/demo-base/server/atmosphere.js)
2. http://fastosphere.meteor.com/ by @acemtp from [this connection](https://github.com/acemtp/meteor-fastosphere/blob/mast

[2014-12-17 20:15] silkentrance commented on #300
Thanks for the input. Will try.

[2014-12-17 23:36] tmeasday commented on #318
@zol I think it's just the query that comes about when you do a search with a lot of terms. You can see it constructs a bit or over all the terms on the various fields.

[2014-12-18 23:21] tmeasday commented on #318
- [x] `Versions` - `packageName`
- [x] `Searches` - `lastSearchedAt`
- [x] `Packages` - `name`
- [x] `Package` - add sorted indexes
- [x] `InstallCounts` - `day` then `packageName` (sorted).
- [x] `Users` - `services.meteor-developer.username`

and delete mongo log.

[2014-12-18 23:59] tmeasday commented on #318
Thanks for the heads up @splendido, appreciated.

I think the subscription that @acemtp is setting up there may cause trouble in the long term (and we may end up putting in a hard limit on the package publication). But I don't think it's causing problems right now.

[2014-12-19 02:48] #259 closed, assigned to domyen

[2014-12-19 02:48] #265 closed, assigned to nobody

[2014-12-19 02:48] #273 closed, assigned to nobody

[2014-12-19 02:48] #274 closed, assigned to nobody

[2014-12-19 02:48] #281 closed, assigned to nobody

[2014-12-19 02:48] #284 closed, assigned to zol

[2014-12-19 02:48] #291 closed, assigned to nobody

[2014-12-19 02:48] #293 closed, assigned to nobody

[2014-12-19 02:48] #296 closed, assigned to nobody

[2014-12-19 02:48] #298 closed, assigned to zol

[2014-12-19 02:48] #301 closed, assigned to nobody

[2014-12-19 02:48] #303 closed, assigned to nobody

[2014-12-19 02:48] #308 closed, assigned to nobody

[2014-12-19 02:48] #314 closed, assigned to nobody

[2014-12-19 02:48] #316 closed, assigned to nobody

[2014-12-19 02:48] #317 closed, assigned to nobody

[2014-12-19 02:48] #318 closed, assigned to zol

[2014-12-19 02:57] benstr commented on #293
Confirmed. Thanks guys!

[2014-12-19 05:28] dburles opened #319 "Set custom avatars for organisations and users"
Add the ability to upload an avatar for both organisations and users.

[2014-12-19 07:09] dandv commented on #297
Kind of annoying to see yet another package that does exactly what an established pacakge does, @SachaG's Spin.js wrapper, without giving any credit or mentioning prior art. Please flag https://atmospherejs.com/hckrs/spin. And how's that moderator flagging feature coming @tmeasday ?

[2014-12-19 07:16] dandv commented on #302
:cool:

BTW why is https://atmospherejs.com/codemirror not working? It's an org I created.

![image](https://cloud.githubusercontent.com/assets/33569/5501235/d7dfbe52-870b-11e4-9305-1ee54403660e.png)

[2014-12-19 07:18] tmeasday commented on #302
Perhaps you haven't yet published any packages?

[2014-12-19 07:19] tmeasday commented on #297
Yeah definitely @dandv ! We'll prioritize it for next sprint

[2014-12-19 07:34] dandv commented on #302
I haven't published any packages under most of the orgs I've reserved, e.g. https://atmospherejs.com/echojs

[2014-12-19 08:02] dburles commented on #297
I don't entirely agree in this case. Who's to say that Sacha's version is the be all and the end all. Flagging this new package and others in a similar case in the long term could end up stifling overall growth and quality of the package ecosystem.

This is one reason why I am not entirely convinced about a moderated approach to atmosphere.

While the package does use spin.js it's not simply a for

[2014-12-19 08:13] raix commented on #297
I'm not sure about flagging either - I would contact the maintainer first to hear if they wanted to deprecate the package in favor of an official version. But we have to respect that some packages add extra features.

That said I dont believe anybody actually enjoys maintaining wrapper packages - Rather have two maintainers on one package than two packages with each one.

[2014-12-19 08:20] dandv commented on #297
The package may very well be better than @SachaG's, **but how**? The author doesn't even mention the existence of the original package, let alone reasons why a user would choose one or the other.

It's a question of open source ethics. Give attribution, dude.

Note - [I had already contacted the author of that package](https://github.com/hckrs/meteor-summernote/pull/4) regarding a different wrappe

[2014-12-19 09:35] raix commented on #297
@dandv fair enough - We should give always give credit

[2014-12-19 09:51] JarnoLeConte commented on #297
Hi @dandv, I got a few notifications about package management of you, so I will answer these. First of all I'm not really a package maintainer. We developed meteor-spin and meteor-summernote for a local project and I just published the packages because I have learned that it is good to share code. I wasn't even aware of the fact that there was already a spin package out there.

I have looked at th

[2014-12-19 10:36] dburles commented on #297
That's a good point @Jarnoleconte often packages will require some work to get them to play nicely with Meteor and there's definitely going to be more than one way to do that. Take google maps for example (I'm still iterating on this API) https://github.com/dburles/meteor-google-maps.

Personally I think the official packages should provide a proper Meteor integration. And if you fork the package

[2014-12-19 10:40] raix commented on #297
I would personally like the raw official packages - then have other packages build additional Meteor specific features on top.

[2014-12-19 10:50] dburles commented on #297
I can see your point @raix but the problem I feel with that is it would then mean the official packages become simply something other packages depend on and not a package you would really wish to add directly to your application.  That could be pretty confusing (and especially frustrating to new users).

[2014-12-19 10:52] JarnoLeConte commented on #297
You must call that "raw packages" I suggest.

[2014-12-19 10:57] dburles commented on #302
hey @dandv have you signed into your `dandv` account on atmosphere since creating the org?

[2014-12-19 11:16] mitar commented on #312
Should the 3. be:

[code]

So the directory should match the package name, and not be repository name default? I think I had issues with this in the past.

[2014-12-19 11:19] splendido commented on #297
If anyone takes an already existing library (which if used as is has some problems)  and comes out with a _true_ porting written _the Meteor way_, I think this deserves to be considered the _official_ package for Meteor.

The real point might be, for the maintainer, how to keep this up to date with mainstream updates of the original library, for which he might try to seek some direct collaboration

[2014-12-19 11:27] splendido commented on #312
So far it worked fine also with different names I used, but I guess there might be some edge cases...

[2014-12-19 11:43] mitar commented on #312
It works if the package has `name` defined in the `package.js`. If it does not, then the directory name has to match the full package name. Otherwise `meteor` silently picks up the official package, not your fork in the `packages`. This is why I am recommending that for novices we say that they have to clone with a package name as a directory name. Then it will work for them for all packages.

BTW

[2014-12-19 11:58] splendido commented on #312
...and you found them! ;-)

[2014-12-19 12:36] raix commented on #297
To be honest - a true isomorphic package is pretty hard to use anywhere else but Meteor. So most of these raw / "official" packages are for other meteor packages to depend on. Thats not a bad thing - we need them in there for the constraint solver to work + we dont want eg. two versions of underscore etc. in one app. (of course it would be nice to have immersive official support for Meteor - but t

[2014-12-19 13:59] awatson1978 commented on #297
Add me to the list of people skeptical about a moderation/superuser
approach.  I'd rather see a reputation/trust system, with tagging, badges,
and the like.  Which could then be used for smarter searches.  We've got
part of one already.  We just need to add to it.

Before putting in a system that encourages policing (which will result in
bruised egos and driving people away from the meteor communi

[2014-12-19 14:08] SachaG commented on #297
I like the idea of badges. We could have badges for "well maintained", "popular", "recently updated", "used by app X" (where app X could be Telescope, Respondly, etc.)…

[2014-12-19 14:11] dandv commented on #297
@Jarnoleconte,

When I need a package for Meteor, I always search on Atmosphere first. Makes sense, no, rather than spending a bunch of time reinventing the wheel?

I'm _really_ curious how you could simply not be aware of the existence of SachaG's spin package, because that would be a huge educational failure of the Meteor ecosystem. Maybe meteor.com and the Meteor docs should emphasize even more

[2014-12-19 14:20] dandv opened #320 "Long delay in reflecting new package version and README?"
Half an hour ago, I ran

[code]

https://atmospherejs.com/rubaxa/sortable shill shows 1.0.0.

The new README should mention "Supports Meteor and AngularJS" - see [the README in the repo](https://github.com/RubaXa/Sortable/blob/dev/README.md).

[2014-12-19 14:31] dandv commented on #302
I hadn't signed into Atmosphere in a while, so I just logged out and back in. When I go to https://atmospherejs.com/codemirror I get a 404.

[2014-12-19 14:45] awatson1978 commented on #297
What might also help is having a public/private field, or maybe a
'searchable' field.  Sometimes it's important to get a package into
Atmosphere to confirm that your build works; that things are modularized
correctly, that it works through the atmosphere publication process, etc.
But the package isn't quite ready for other people to use yet.

On Fri, Dec 19, 2014 at 9:11 AM, Dan Dascalescu notific

[2014-12-19 21:53] cvrebert opened #321 "shields.io badge"
Have you considered adding an Atmosphere/Meteor package badge to http://shields.io/ ?

[2014-12-20 00:24] domyen commented on #321
This just came up in conversation yesterday! We were wondering about how many people in the community use shields. How would you like shields to be integrated?

[2014-12-20 00:28] domyen commented on #320
Hey Dan thank you for reporting this! We're aware of the issue and are working with MDG to sort out the API change that was causing Atmosphere's importer to break today.

[2014-12-20 00:36] cvrebert commented on #321
(I'm not actually a member of the community.)
Presumably a "[meteor | v1.2.3]" (or "atmosphere" instead of "meteor") badge, just like the other package managers listed on http://shields.io/
Some package managers additionally support a "downloads per time-period" badge.

[2014-12-20 01:48] comerc opened #322 ""meteor publish" does not give me new version of published package"
"meteor publish" does not give me new version of published package on [atmosphere](https://atmospherejs.com/comerc/autoform-placecomplete)

current published version is 2.1.3

[2014-12-20 03:41] zol commented on #322
This is caused by #320

[2014-12-20 03:44] zol commented on #322
Fixed.

[2014-12-20 03:44] #322 closed, assigned to nobody

[2014-12-20 03:44] zol commented on #320
Fixed.

[2014-12-20 03:44] #320 closed, assigned to nobody

[2014-12-20 06:06] dandv commented on #320
@zol, can you verify if the latest READMEs are pulled? At the rubaxa link above, I do see the latest version, but the README is from the previous one.

[2014-12-20 12:35] comerc opened #323 "Link anchors does not work for README.md"
like this:
https://github.com/comerc/meteor-autoform-placecomplete/#example

[2014-12-20 14:59] zol commented on #320
hey @dandv I'm afk for a few days. @tmeasday could you please check my fix next time you're on.

[2014-12-20 23:03] resure opened #324 "Default Meteor packages should be excluded from Trending"
subj

[2014-12-21 04:30] tmeasday commented on #320
It seems good to me? At least it mentions Meteor and Angular on the atmosphere page's readme...

[2014-12-21 22:24] tmeasday commented on #312
I think @mitar is right about the name, just in case.

I'm not sure about the submodule. My feeling is that the cons outweigh the pros (at lot of new developers may never have used a submodule and not even understand the state their repo is now in). Then again the cons of cloning inside a git repo are kind of bad too. Not sure.

[2014-12-21 22:26] tmeasday commented on #297
I guess you can use `unmigrated` as a proxy for "hidden". It's pretty gross but it's all MDG have given us so I guess we don't have any choice. You can always mark "un-`unmigrated`" later.

[2014-12-21 22:29] tmeasday commented on #297
@SachaG and @awatson1978 - Maybe one of you should open a separate ticket to discuss the tagging / badge system and how it might work?

[2014-12-21 22:36] tmeasday commented on #297
@dandv I'm curious to hear how you think the ideal scenario should play out. To use summernote as an example (I know basically nothing about this package so forgive me if I say something dumb):

As noted there are two kinds of integrations:
1. "Raw" integrations that do the absolute minimum to include the relevant files at the right places and get the symbols available.
2. "Full" integrations with

[2014-12-21 22:37] tmeasday commented on #302
@dburles I thought we didn't create an org "account" until we saw a package for that org?

[2014-12-21 23:48] dburles commented on #302
We get the users orgs in the login hook and that's where we call `ensureOrganization`

[2014-12-22 06:04] tmeasday commented on #324
I think it's OK for them to appear right after a new Meteor release (we had one a few days ago). They don't normally sit there all the time, although they do tend to flood it right after such a release.

[2014-12-22 06:05] tmeasday commented on #323
Thanks @comerc , dupe of #151

[2014-12-22 06:05] #323 closed, assigned to nobody

[2014-12-22 18:51] domyen opened #325 "Package Install Count: large number shorthand"
Proposal: Limit the number of characters we display for install counts and instead use shorthand when possible. Not only is the difference between singular installs less impactful on packages with high install counts, internalizing very large numbers like 21,432 [as a user] is difficult for the brain to process.

Feature: Use shorthand for numbers > 1000. Allowances for 1 decimal point only.

Exam

[2014-12-22 19:43] splendido commented on #325
To be a bit fussy, the International Measurement Systems requires capital K and capital M to be used for kilo and mega respectively ;-)

k -> kelvin
m -> meter

[2014-12-27 15:01] raix opened #326 "Readme.md links break on atmosphere"
Hi I've noticed that links in the readme.md breaks when read on atmosphere.

Ex. https://atmospherejs.com/raix/push - Android / iOS guides.

Related to: #116 ? (The title seems isolated on images)

[2015-01-04 10:06] lorensr opened #327 "Publishing instructions: need to set env var"
https://atmospherejs.com/i/publishing

This doesn't work for me:

[code]

`meteor add` can't find the package. It can find the package when I do this, instead of symlinking:

Environment

You will need to tell meteor where to find the local packages on your system. Simply add an environment variable called PACKAGE_DIRS which points to the root package directory. Just edit your ~/.bashrc, ~/.profil

[2015-01-04 11:11] dburles commented on #327
hey @lorensr that's odd, might I ask what system you're on?

[2015-01-04 22:17] lorensr commented on #327
OS X 10.10.1

[code]

[2015-01-04 22:21] dburles commented on #327
Make sure that the path to the package directory is absolute

[2015-01-04 22:24] lorensr commented on #327
That worked, thanks! Maybe add that note to the page?

[2015-01-04 22:41] dburles commented on #327
Added! Will come next release :)

[2015-01-04 22:41] #327 closed, assigned to nobody

[2015-01-06 23:30] dandv opened #328 "Meteor.call on Atmosphere"
Besides the [DDP API](https://github.com/percolatestudio/atmosphere/issues/299), is there a way to execute Meteor calls to update an organization's profile? (I have many I want to update).

I tried

[code]

Validation passes, but all I get is `undefined` and the data isn't updated.

[2015-01-06 23:34] dandv opened #329 "Odd display for some orgs"
https://atmospherejs.com/jadejs looks like most orgs, but https://atmospherejs.com/jsplumb looks different.

[2015-01-06 23:40] dandv commented on #329
https://atmospherejs.com/livestamp is 404 even though I'm a member of the `livestamp` org.

[2015-01-06 23:40] dburles commented on #328
That looks perfectly fine to me.

[2015-01-06 23:44] dburles commented on #329
jsplumb is a normal user. How recently did you create livestamp? An [onLogin](http://docs.meteor.com/#/full/accounts_onlogin) hook must be fired before the org will be stored.

[2015-01-06 23:51] dandv commented on #329
`jsplumb` is an org I'm a member of. Don't quite recall but it's possible that I created it as a user initially, then asked someone at MDG to convert it to an org.

`livestamp` was created weeks ago.

[2015-01-06 23:52] dburles commented on #329
Thanks I'll have to have a dig into that

[2015-01-06 23:54] dandv commented on #328
Right - it was updating my own profile. How do I update the profile of the organization I'm visiting? I'd like to do a batch update for a bunch of orgs I own and set their name to "AVAILABLE" if there isn't one.

[2015-01-07 00:02] dburles commented on #328
You should be able to pass in the organization `_id`, should be easy enough to reveal that by running `Meteor.users.find().fetch()`

[2015-01-07 00:08] dandv commented on #328
Great, I have 136 (!) orgs in `Meteor.users.find().fetch()[0].organizations`, with `name` and `id`, but I need to check the "name" from the org profile. Is there a subscription to the organizations collection?

[2015-01-07 00:13] dburles commented on #328
There's a publication called `user` that takes a username.

[2015-01-07 00:18] dburles commented on #329
hey @dandv can you check if the `livestamp` org is listed under your organizations on your atmosphere user?

[2015-01-07 00:41] dandv commented on #328
Thanks! Worked wonders:

[code]

[2015-01-07 00:43] dburles commented on #328
Great!

[2015-01-07 00:43] dandv commented on #297
@tmeasday: now that it's been a while since things got started on the "sane packaging" front, here are my thoughts:
1. There seems to be wide agreement ([example](https://github.com/ianmartorell/meteor-bootstrap-3/issues/3#issuecomment-68950407)) that for identical functionality (close to the "raw" integrations you mention), there should be only one package. The question is, where to commit these

[2015-01-07 00:44] #328 closed, assigned to nobody

[2015-01-07 02:03] dandv commented on #328
Thanks - made a [tutorial](http://wiki.dandascalescu.com/howtos/Automating_any_Meteor_app_you_find_on_the_web#Putting_it_all_together) out of it :)

[2015-01-07 02:08] dandv commented on #329
It is:

`Meteor.users.find().fetch()[0].organizations.map(function (org) { return org.name }).join(' ')` ->

`"rubaxa semantic selectize pym heatmap ion meteorpackaging createjs sound momentjs highstock bounce flyer vis prezi appjs visjs voice audio gremlins jwerty gridster chartist shine blast bootstrapjs echojs raction scrollreveal highlightjs keyboard impulse slickgrid toastr title titlenotifie

[2015-01-07 02:19] dandv commented on #329
It's a bit strange that `Meteor.users.find().fetch()[0].organizations` has 136 items but if I subscribe to all those orgs, I only get 133 objects in `Meteor.users` (of which one is myself). So four organizations aren't subscribed to.

[code]

The last item of that array is jsplumb, and it's different:

![image](https://cloud.githubusercontent.com/assets/33569/5639739/76695ccc-95d0-11e4-9c6c-f383cd

[2015-01-07 02:24] dandv commented on #329
To try and find those 4 missing orgs, I compared the `Meteor.users.find().fetch()[0].organizations` -> `id` with the `_id`s of the `Meteor.users.find().fetch()` but they are completely different.

What role do the ids in a user's organizations objects serve?

[2015-01-07 02:25] dburles commented on #329
I've corrected the issue with the user -> org not becoming an org for next release.

[2015-01-07 02:26] dburles commented on #329
Those id's are upstream from MDG's end, we don't use them for relationships on atmosphere

[2015-01-07 02:35] dandv commented on #329
Should those ids not be published then?

[2015-01-07 02:38] dburles commented on #329
No biggie, technically no. We can correct that. edit: fixed for next release

[2015-01-08 05:40] d4nyll opened #330 "Package not displayed on Atmosphere"
I published my Meteor package named [`d4nyll:epic`](https://github.com/d4nyll/epic) last night using `meteor publish --create`, and this morning I still cannot find it on [Atmosphere](https://atmospherejs.com/?q=epic). Is there some sort of a moderation process or I did something wrong?

[2015-01-08 06:22] dburles commented on #330
hey thanks @d4nyll we're just working on a fix

[2015-01-08 08:32] d4nyll commented on #330
I can see my [package](https://atmospherejs.com/d4nyll/epic) now. Thanks @dburles for the fix!

[2015-01-08 08:32] #330 closed, assigned to nobody

[2015-01-15 19:02] zol opened #331 "Input not focused for search on mobile web"
### Repro
1. Click the search hourglass from / on mobile safari.
2. Search overlay is opened but the cursor is not placed into the search field.

This is a confusing situation for the user. The correct behavior is to focus the search input field. Furthermore, if the input field contains a query, it should be selected.

[2015-01-17 00:31] loredanacirstea opened #332 "Github README.md not showing in Atmosphere"
Hi,

I have published a package on Atmosphere, but there is no README on the Atmosphere page, even though my package.js has a git url:

[code]

I have also tried:

[code]

And still no readme showing on Atmosphere, even though when I do a `meteor show` , it now says:

[code]

I read about an undocumented [readme field in package.js](https://github.com/percolatestudio/atmosphere/issues/307), so I e

[2015-01-17 01:44] zol commented on #332
Hi @loredanacirstea. Thanks for reporting this. Indeed your git url looks correct. We're looking into the problem and will report back.

[2015-01-18 07:54] mitar commented on #332
Mine also does not show up: https://atmospherejs.com/peerlibrary/server-autorun (GitHub: https://github.com/peerlibrary/meteor-server-autorun)

[2015-01-18 09:32] tmeasday commented on #332
The issue is

[code]

Due to updating a version (specifically `jonperl:paper@0.1.0`) with:

[code]

Googling around I think the issue is that you can `insert` such invalid docs (note the period in the field name) but you can't update them.

Kind of an annoying problem.

[2015-01-18 15:08] archived-aft-bogus-german-visa-rejectio opened #333 "packages still searchable even after meteor admin set-unmigrated"
I tried hiding two packages of mine (`arch:fermions` and `arch:template-bulter`)  using `meteor admin set-unmigrated` and I got `Setting arch:packageName@x.x.x as successfully migrated ... done.` but I can still see them on atmosphere the next day.

[2015-01-19 01:40] tmeasday opened #334 "Section about integrating 3rd party packages"
Probably condensing http://www.meteorpedia.com/read/Packaging_existing_Libraries

See https://github.com/percolatestudio/atmosphere/issues/297#issuecomment-68961378

[2015-01-19 01:43] tmeasday commented on #297
@dandv Thanks for the summary and thanks for all your hard work on this.

Re your list of actions above:

I think we'd be happy to integrate something like 2. into our documentation on the site. I've opened a ticket to track it.

Re 1. and 4. -- although I think this is the correct thing to do right now, I wonder if a better long-term solution for very simple "raw" wrapper packages for modules tha

[2015-01-20 05:23] tmeasday commented on #333
Hey @0a- we're currently having some problems syncing. Should be fixed pretty soon. https://github.com/percolatestudio/atmosphere/issues/332

[2015-01-20 06:35] tmeasday commented on #332
OK, this is fixed.

[2015-01-20 06:35] #332 closed, assigned to nobody

[2015-01-20 06:37] tmeasday commented on #333
The problem is fixed @0a- but I think maybe you didn't do it right. It still shows up in `meteor show` for me too.

[2015-01-20 14:42] ghost commented on #333
Ooh thanks.  `template-bulter` (a misspell of `template-butler`) is not showing up anymore. I will try doing set-unmigrated for `fermions` again when I get back on my mac.

[2015-01-21 03:45] dandv commented on #297
I'd agree that automatic simple/raw wrapping would be better. One value-add of the wrappers I've published is tests. For Bootstrap, there's also a convenience call in `Meteor.startup` that initializes popups and tooltips (a common gotcha with Bootstrap if you forget to do that).

[2015-01-22 07:37] dandv opened #335 "No coffeescript highlight?"
At https://atmospherejs.com/ongoworks/google-spreadsheets, I see "```coffeescript", but the README renders fine on GitHub.

[2015-01-22 15:02] ghost commented on #333
Yup. It worked perfectly. Seems like `fermions` showed up only because I did a `unmigrated --success` for it (now then I recalled).

[2015-01-22 15:02] #333 closed, assigned to nobody

[2015-01-27 01:43] jonjamz opened #336 "Use GitHub Flavored Markdown for rendering READMEs"
There's quite a distinct difference between my package's README here:

https://atmospherejs.com/templates/tabs

...and here:

https://github.com/meteortemplates/tabs/

I had to publish an update just to make my docs look better on Atmosphere.

Since using GitHub repositories is standard, it seems to follow that GFM should be rendered correctly on Atmosphere.

I've had this issue with other package

[2015-01-27 03:16] dandv commented on #336
The headings under "Features" aren't bolded on Atmosphere, e.g. "Sticky state."

[2015-01-27 05:58] dburles commented on #336
@dominicnguyen you may have some input on this

[2015-01-27 16:31] zol commented on #336
@jonjamz we'll be sorting out these discrepancies in the next week or so. Thanks for reporting it and sorry about the time and energy you've spent on syncing up the appearance in the past.

[2015-01-28 10:32] gadicc opened #337 "Discussion re external DDP requests"
Hey, regarding decision to deprecate external DDP requests in favor of the REST API... obviously I'll respect any decision made by the team since it's your prerogative, but was hoping we could discuss some pros and cons too :)

Obviously one of Meteor's core features is instant reactive updates.  Although, understandably, less regular updates are often a fair trade for better overall performance.

[2015-01-28 10:45] gadicc commented on #309
As was [announced on Twitter](https://twitter.com/atmospherejs/status/558800047622455296), there is now a REST API, details in the https://atmospherejs.com/i/faq.  You get the full database in JSON.  @zol, guess you can close this now :)

[2015-01-28 13:23] MiroHibler commented on #309
:+1: Thanks! :)

[2015-01-28 14:47] splendido commented on #337
I'm interested on this too...

Taking inspiration from what @gadicc did, I'm publishing stars and install counts for useraccounts packages on [this page](http://useraccounts.meteor.com/)

my DDP subscription to atmosphere is [here](https://github.com/meteor-useraccounts/website/blob/master/server/atmosphere.js) and is done on the server.

I appreciate that it might be better made on the client sid

[2015-01-28 17:38] #309 closed, assigned to nobody

[2015-01-28 19:37] zol commented on #337
Hey @gadicc and @splendido . There are a couple of things going on here.
1. We recently updated the search code to use solr, which we're now running on our database machine. The current search publication that you guys are using is based off the old mongodb-regex based solution that we used to have and are now phasing out due to terrible performance. This is the main impetus for shutting down that

[2015-01-28 19:57] gadicc commented on #337
Hey @zol, thanks for the quick reply.  It's really helpful to know what's happening behind the scenes over at Atmosphere, and of course, with your detailed explanation (appreciated), DDP does indeed not make much sense in this case.  So even though I'd be eager to help with tooling for a DDP API, it's a moot point here.

Ok, so with the above in mind, I'm perfectly happy using the REST API.  Maybe

[2015-01-28 20:13] zol commented on #337
@gadicc no worries and thanks for adapting your code for us, I realize its probably a pain. I'll let you know as soon as I've added the filtering options to the API, after which point I'm not too worried about your frequency of requests.

[2015-01-28 20:18] gadicc commented on #337
All good, it's only a few lines of code.  My bigger concern was the "realtime" factor, which has been adequately addressed.  Thanks again :)

[2015-01-28 20:35] splendido commented on #337
Yeah, this all makes sense now.
I'll adapt my code too without any worries nor concerns ;-)

Thank you @zol for the comprehensive explanation!

[2015-01-30 00:49] erasaur opened #338 "Visual bug"
![screen shot 2015-01-29 at 4 45 55 pm](https://cloud.githubusercontent.com/assets/8746334/5969297/c3496bbe-a7d6-11e4-9884-60901e50b600.png)

[2015-01-30 12:14] dburles commented on #338
Thanks @erasaur I thought we had squashed this bug @dominicnguyen

[2015-01-31 00:49] domyen commented on #338
We squashed it for long descriptions but have only now encountered a title of this length :)

[2015-02-03 00:39] #324 closed, assigned to nobody

[2015-02-03 01:35] zol commented on #258
Not a problem anymore.

[2015-02-03 01:35] #258 closed, assigned to dburles

[2015-02-03 01:37] zol commented on #132
No longer a serious issue I think.

[2015-02-03 01:37] #132 closed, assigned to nobody

[2015-02-03 01:38] #300 closed, assigned to nobody

[2015-02-03 01:40] zol opened #339 "Fix README support"
First class readme support including proper handling of relative links and syntax highlighting, etc.

[2015-02-03 01:41] zol commented on #335
This will be tackled in #339

[2015-02-03 01:41] #335 closed, assigned to nobody

[2015-02-03 01:42] zol commented on #307
@tmeasday Could you please follow up on this one.

[2015-02-03 01:47] zol commented on #306
We're going to fix this by adding moderator capabilities to certain users and having their flagging power multiplied by some factor that will be enough to eliminate junk packages.

[2015-02-03 01:48] zol commented on #116
This will be fixed by #339

[2015-02-03 01:48] #116 closed, assigned to dburles

[2015-02-03 01:49] zol commented on #326
This will be tackled in #339

[2015-02-03 01:49] #326 closed, assigned to dburles

[2015-02-03 01:52] zol commented on #297
We're going to tackle parts of this issue in #306 by initially introducing a basic moderator system aimed at ridding atmosphere of garbage packages.

[2015-02-03 01:52] #297 closed, assigned to nobody

[2015-02-03 01:54] zol commented on #295
Fixed by our recent solr search deployment.

[2015-02-03 01:54] #295 closed, assigned to tmeasday

[2015-02-03 01:56] zol commented on #113
Bring fix over from new ps.com

[2015-02-03 02:08] zol opened #340 "Jankyness on user profile page"
Goto: https://atmospherejs.com/zoltan/~starred

Notice:
1. Switching between 'X Packages' and 'Y Starred' scrolls the page to the top. This makes sense as the route changes but is unexpected on this particular page as the perception is that you're toggling between tabs on the page.
2. When you switch to 'Y Starred' and the packages come down the wire the page reflow/layout is pretty janky. Not sur

[2015-02-03 02:09] ekatek commented on #307
That wasn't actually a custom GIT path, but a custom README path. This has been deprecated in favor of the 1.0.3.1 changes that upload the README.md directly!

[2015-02-03 02:14] tmeasday commented on #307
I guess we can close this right? Thanks @ekatek. @dandv let me know if there's a problem.

[2015-02-03 02:14] #307 closed, assigned to tmeasday

[2015-02-03 02:15] tmeasday commented on #113
Look into this: https://atmospherejs.com/okgrow/iron-router-autoscroll

[2015-02-03 12:35] splendido commented on #337
@zol, am I wrong or there's no download count nor stars count within the JSON data you can get with the REST API at https://atmospherejs.com/a/packages?

...getting this counts might be the only reason to use it ;-)

[2015-02-03 12:46] splendido commented on #337
wooops! I'm sorry!
I've noticed only now that you get both `starCount` and `installs-per-year`.

Please don't consider the previous post and feel free to delete both!

Tnx

[2015-02-03 19:03] dandv commented on #306
:+1:

[2015-02-03 19:05] dandv commented on #307
I've tried the README option and it works.

[2015-02-05 01:30] dandv commented on #298
Was this deployed? A [search for PDF](https://atmospherejs.com/?q=pdf) doesn't show any flags, even though I've flagged about half of the results.

![image](https://cloud.githubusercontent.com/assets/33569/6053383/766e06a8-ac93-11e4-9a4c-42cf45e95a30.png)

[2015-02-05 03:40] tmeasday commented on #298
I think this is a regression @dandv -- it still works on e.g. the homepage but no longer inside search. Will have something to do with our migration to solr. Thanks.

[2015-02-05 03:41] tmeasday commented on #298
@zol the flags are published but I guess not being used to render the package lockup on this page?

[2015-02-05 07:23] dandv opened #341 "Atmosphere still shows unmigrated packages?"
[Report](https://github.com/peerlibrary/meteor-pdf.js/issues/16#issuecomment-73003777) from @mitar.

[2015-02-05 08:48] tmeasday commented on #341
I think this is incorrect, waiting on update.

[2015-02-05 08:52] mitar commented on #341
Yes. It seems it was something wrong on my side.

[2015-02-05 09:06] tmeasday commented on #113
Not sure if this solution is satisfactory. But it seems to work.

[2015-02-05 09:17] tmeasday commented on #340
Not sure what the solution is here. Do we have a list of pages that when routing between you don't scroll to top? Seems a bit janky but I guess it'd work.

[2015-02-05 09:29] dburles commented on #340
+1 on the above

[2015-02-06 02:26] tmeasday commented on #329
LGTM.

[2015-02-06 02:43] tmeasday commented on #340
1. is fixed.
2. Is tricker because the way that the starred package subscription works (via a client side join) kinda breaks the package-list model. In short, what happens is, when the stars subscription is _finished_ (and the second `package` subscription _starts_), the package list thinks it's ready, and renders, but there are no packages.

   So it renders empty. Thus, jankiness.

   The soluti

[2015-02-06 04:20] tmeasday commented on #340
Take a look at 1. and hand back to me to do 2. unless you think it's not worth it at this point.

[2015-02-06 20:36] zol commented on #340
@tmeasday Fix for 1. looks good. For 2., whats the downside of doing a server-side join in a non-reactive pub?

[2015-02-06 20:43] zol commented on #331
Looks great in that the field is being focused, so its way better than what we had before. The minor problem now is that the existing value isn't being selected as it is on desktop. Any ideas on that one?

[2015-02-06 22:41] dburles commented on #340
Dom and I intended for the list to be reactive as there's a very clear user action that modifies it, (starring a package) it may be unexpected for a user to star a package and not see their list update, what do you think?

[2015-02-06 22:54] zol commented on #340
But... you can't star a package from this page, or am I missing something?

[2015-02-06 23:00] dburles commented on #340
No you're right you can't, but you may have more than one browser/tab open. It feels bad (sad?) un-realtiming a Meteor app, especially a high profile one! :)

[2015-02-07 08:00] splendido commented on #334
What would you guys think about mentioning [autopublish.meteor.com](https://autopublish.meteor.com) among the possible strategies?

...it's probably in its early days, and it's not an official tool (although we had some little support from MDG, see [this](https://github.com/MeteorPackaging/autopublish.meteor.com/issues/3) and [this](https://github.com/MeteorPackaging/autopublish.meteor.com/issues/

[2015-02-07 19:49] zol commented on #337
Hey @gadicc and @splendido . I've just deployed the extra API endpoint `findByNames` to query for metadata for a list of packages (see the [faq](https://atmospherejs.com/i/faq)). You don't need to worry too much about hitting this endpoint too often. Enjoy :)

[2015-02-07 19:49] #337 closed, assigned to zol

[2015-02-07 19:51] zol commented on #339
Check:
- [x] 1. `https://atmospherejs.com/meteorhacks/search-source` -> warehouse readme differs from GH readme. In warehouse "not-shift tilde" are replaced with `~`
- [x] 2. `https://atmospherejs.com/ongoworks/google-spreadsheets` -> warehouse & GH readme identical but coffeescript not parsed properly.
- [x] 3. `https://atmospherejs.com/mizzao/partitioner`, `https://atmospherejs.com/mizzao/tutori

[2015-02-07 19:51] zol commented on #113
Deployed.

[2015-02-07 19:51] #113 closed, assigned to domyen

[2015-02-07 19:53] zol commented on #329
Deployed

[2015-02-07 19:53] #329 closed, assigned to nobody

[2015-02-07 19:57] zol commented on #325
Deployed.

[2015-02-07 20:14] zol commented on #338
Confirmed and deployed.

[2015-02-07 20:14] #338 closed, assigned to nobody

[2015-02-07 20:24] splendido commented on #337
Thanks a bunch @zol!
...already deployed ;-)

See [this file](https://github.com/meteor-useraccounts/website/blob/master/server/atmosphere.js)

Is hitting the endpoint every hour fine? Does it make sense?

[2015-02-07 20:39] zol commented on #337
Nice work, that was quick. Yup, hitting it every hour is totally fine!

[2015-02-07 20:45] splendido commented on #337
Ok, tnx!

Keep up the good work! :-)

[2015-02-07 22:43] dburles commented on #325
Hmm I think this needs a revisit, https://atmospherejs.com/packages/most-used

[2015-02-07 23:43] zol commented on #325
Yep, it kind of defeats the purpose of having it. Could you please fix.

[2015-02-08 11:57] gadicc commented on #337
Amazing!  Thanks @zol, appreciated.  And thanks @splendido for sharing the code :)

[2015-02-09 17:05] zol commented on #331
Nice dude, looking good!

[2015-02-09 17:41] zol commented on #339
There are a number of issues here:

1 - It seems like the warehouse is serving us something different from GH (Edit: it turns out this is ok when github flavored markup is used to parse it).
2 - Coffeescript directive is not parsed properly.
3 - Relative images+links are screwed up.
4 - Formatting for checked lists is broken.

[2015-02-09 17:41] zol commented on #339
It appears the using https://developer.github.com/v3/markdown/ to format our readmes will fix 2 & 4. Edit: it turns out 1. is also fixed.

[2015-02-10 18:19] zol commented on #339
1. Is fixed by parsing/rewriting urls to be absolute. @tmeasday fixes are in f29668b, please review.

[2015-02-10 18:46] zol commented on #306
@tmeasday I've started this on `306-moderators`. On second thoughts, moderator flagging could just set `'latestVersion.flagged': true` in `'Flags.insert'`. After looking closer at the code, my earlier suggestion seems kind of cumbersome to implement.

[2015-02-10 18:47] #341 closed, assigned to nobody

[2015-02-10 18:51] zol commented on #336
This is fixed in #339 it will be deployed soon.

[2015-02-10 18:51] #336 closed, assigned to nobody

[2015-02-10 19:00] zol commented on #334
@tmeasday - we should discuss this. Would like to get it resolved but not sure on what exactly you were thinking.

[2015-02-10 23:39] tmeasday commented on #339
Code looks good but there is a minor bug that prevents it working with GH readmes. Will point out the line # where I get an error.

[2015-02-10 23:43] tmeasday commented on #306
@zol - I don't think that'll work because in the next `checkFlaggedPackages` it'll just become `flagged: false` again, due to the flag count being too low. I'd suggest instead checking for a flag by a moderator (perhaps store a `moderator` field on the flag itself?) in `checkFlaggedPackages`, and short circuiting the counting logic in that case.

[2015-02-10 23:49] zol commented on #306
Got it, that makes sense. And I think I know the answer but there's no sense in trying to set the `flagged: true` state immediately right? (i.e we can afford to wait till the end of the day when `checkFlaggedPackages` runs as the moderator will see the package as flagged in the UI immediately anyway)

[2015-02-10 23:55] tmeasday commented on #306
I think there's sense in it if we think it has immediate value to other users for the package to be flagged right away.

But I'd be inclined to keep things simple and just wait for the cron job. Considering your second point :)

[2015-02-10 23:57] zol commented on #339
Fixed in `07d2de0`

[2015-02-11 00:02] zol commented on #340
@tmeasday - what are your plans on this ticket? I'm easy either way, happy with a fix now or we could park it for the meantime.

[2015-02-11 00:08] tmeasday commented on #340
I guess the easy solutions are:

a) leave as is with jankiness
b) change to SS join / no reactivity. With downsides as mentioned by @dburles.

I'm leaning slightly towards b) -- you?

[2015-02-11 00:13] tmeasday commented on #339
Works great. GJ.

[2015-02-11 00:21] tmeasday commented on #334
I don't have any solid thoughts, I just think it makes sense to have a section in our publishing section about 3rd party packages. I'm not completely on top of it but resources that are worth mentioning are:
- http://www.meteorpedia.com/read/Packaging_existing_Libraries
- https://github.com/MeteorCommunity/discussions/issues/14
- https://autopublish.meteor.com

I guess I'll put something together

[2015-02-11 00:30] zol commented on #340
Yeah, would prefer b) too.

[2015-02-11 00:31] zol commented on #334
Nice, I can help clean it up too. We're almost done with this round!

[2015-02-11 00:40] tmeasday commented on #334
Take a look.

[2015-02-11 00:45] zol commented on #334
Looks great, thanks.

[2015-02-11 01:06] zol commented on #306
Please review commit c45337e

[2015-02-11 01:12] zol commented on #340
Code looks good but I'm not sure this is working. On localhost:
1. Goto `tmeasday`.
2. Star a couple of packages.
3. They don't show up on the 'starred' page even after a reload.

[2015-02-11 01:44] tmeasday commented on #340
Hmm. Works for me. I'm confused about your step one ?

[2015-02-11 01:49] tmeasday commented on #306
Looks great!

[2015-02-11 01:50] tmeasday commented on #340
For 3. -- does the # of starred packages change? Because that _should_ be reactive.

[2015-02-11 02:25] zol commented on #340
Sorry, that's a dodgy description. Attaching some screenshots (made starting with a refresh of that page):

![screen shot 2015-02-10 at 6 24 33 pm](https://cloud.githubusercontent.com/assets/81672/6140841/384142c8-b152-11e4-9fad-95b9ff85341b.png)

[2015-02-11 02:26] zol commented on #340
![screen shot 2015-02-10 at 6 25 09 pm](https://cloud.githubusercontent.com/assets/81672/6140860/58fae122-b152-11e4-9cd2-3e0c18f96e0d.png)

[2015-02-11 02:44] zol commented on #340
My bad, I got confused with how that page is supposed to work :) Test pass.

[2015-02-11 18:44] zol commented on #340
Deployed.

[2015-02-11 18:44] #340 closed, assigned to nobody

[2015-02-11 18:46] zol commented on #339
Deployed.

[2015-02-11 18:46] zol commented on #335
Fixed.

[2015-02-11 18:46] zol commented on #116
This is (finally) fixed. Thanks for your patience.

[2015-02-11 18:46] zol commented on #326
Fixed.

[2015-02-11 18:47] zol commented on #334
Deployed.

[2015-02-11 18:47] #334 closed, assigned to nobody

[2015-02-11 18:47] zol commented on #331
Deployed.

[2015-02-11 18:47] #331 closed, assigned to nobody

[2015-02-11 18:48] zol commented on #325
Looking good.

[2015-02-11 18:48] #325 closed, assigned to nobody

[2015-02-11 18:48] mizzao commented on #116
Thank you!

[2015-02-11 19:14] zol commented on #306
Deployed.

[2015-02-11 19:14] #306 closed, assigned to nobody

[2015-02-11 21:38] codylindley opened #342 "READ.md not show up."
I used the meteor CLI to create a package.

It of course put a README.md in the directory. and the Package.describe contains:

documentation: 'README.md'

But the read me file does not show up. What am I missing here?

https://atmospherejs.com/telerik/kendo-ui-core-default-theme

[2015-02-11 21:59] codylindley commented on #342
Ah, so the generated readme.md is not use by default by atmosphere. It's suppose to be served from a git endpoint. Is that right? The readme is not show up on the atmosphere page just beause it's part of the package.

[2015-02-11 23:02] zol commented on #342
It looks like you've figured this out.

[2015-02-11 23:02] #342 closed, assigned to nobody

[2015-02-12 06:01] dandv commented on #306
Will this work retroactively on flags that the moderators have raised before the system went into effect?

[2015-02-12 13:50] wstucco opened #343 "cannot edit profile"
On the profile page, if I click edit then change something and click Save, nothing happens.
No errors, no messages, it just doesn't save anything.
tested on Chrome 40.0.2214.111 (64-bit) and Safari 8.0.3 (10600.3.18) on OS X 10.10 (Yosemite)  in both normal and incognito mode, with all the extensions and plugins disabled.

[2015-02-12 19:42] zol commented on #343
Thanks for reporting @wstucco. This is a regression from our release earlier this week and will be fixed today.

[2015-02-13 02:35] zol commented on #343
Fixed.

[2015-02-13 02:35] #343 closed, assigned to nobody

[2015-02-13 02:37] zol commented on #306
Unfortunately not.

[2015-02-17 15:47] bobiblazeski opened #344 "Unable to update organization I belong to"
I want to update organization info for https://atmospherejs.com/nvd3 say add a website http://nvd3.org/ Why I'm unauthorized, though I belong to it.

Exception while simulating the effect of invoking 'updateProfile' r {error: 403, reason: "Unauthorized", details: undefined, message: "Unauthorized [403]", errorType: "Meteor.Error"…} Error: Unauthorized [403]

![image](https://cloud.githubuserconten

[2015-02-17 17:40] zol commented on #344
Thanks for reporting this @bobiblazeski . Its due to a regression caused by a recent hotfix. I've just pushed out a fix so please go ahead and try your change again.

[2015-02-17 17:40] #344 closed, assigned to nobody

[2015-02-17 21:48] bobiblazeski commented on #344
Works well, thank you.

[2015-02-19 08:05] dandv commented on #339
There's another bug. Single line endings are rendered literally, while any Markdown flavor suppresses them. At https://atmospherejs.com/webix/webix,

![image](https://cloud.githubusercontent.com/assets/33569/6263348/07cfe6f6-b7cb-11e4-8111-af43d6d77a1f.png)

[2015-02-19 17:56] zol commented on #339
I don't get it, what's the bug? We use github's gfm API to parse readme markdowns. The markup on https://atmospherejs.com/webix/webix is the same as on https://github.com/dandv/meteor-webix/

[2015-02-19 19:16] dandv commented on #339
The markup may be the same, but the rendering on GitHub is different:

![image](https://cloud.githubusercontent.com/assets/33569/6273986/af453ea6-b828-11e4-8152-c4bfaee06c2e.png)

[2015-02-19 19:18] dandv commented on #336
Maybe my comment from [#339](https://github.com/percolatestudio/atmosphere/issues/339#issuecomment-75012087) belongs here better.

[2015-02-19 19:53] zol commented on #336
Its actually a separate issue, thanks @dandv .

[2015-02-19 19:56] zol opened #345 "Github incorrectly converts certain markdown"
Most likely due to us using GHFM rather than GH's pure markdown converter.

Known issues:
- [ ] https://atmospherejs.com/webix/webix
  - Line breaks on single-line source file breaks
- [ ] https://atmospherejs.com/zimme/iron-router-active
  - Line breaks again
- [ ] https://atmospherejs.com/peerlibrary/blaze-components
  - Line breaks and `*..*` not being bold
- [ ] https://atmospherejs.com/voidal

[2015-02-19 19:56] zol commented on #345
We should create a repro and raise an issue with GH

[2015-02-19 19:58] zol commented on #339
@dandv , my apologies. On closer examination, the markup _is_ different. I've opened #345 to track this. We'll narrow this down to a repro and if it is indeed GH's fault we'll raise an issue with them. Thanks for writing it up.

[2015-02-20 06:15] dandv opened #346 "Exclude flagged packages from the homepage"
Flagged packages should probably not be featured among Trending / Recent / Most Used.

![image](https://cloud.githubusercontent.com/assets/33569/6282155/c5640648-b884-11e4-9ca6-079aa03cb481.png)

[2015-02-20 06:18] dandv opened #347 "Show a given package only once among Trending / Recent / Most Used?"
While a given package may very well be trending and recent (-ly updated) and Most Used, would it be better for diversity's sake to feature packages in only one of the categories?

![image](https://cloud.githubusercontent.com/assets/33569/6282169/318d9460-b885-11e4-9cac-c58673cbbeb6.png)

[2015-02-21 09:53] dandv opened #348 "Some styling gone? Borders around buttons, meteor add"
There used to be borders here:

![image](https://cloud.githubusercontent.com/assets/33569/6313647/6d1076a0-b96c-11e4-8f25-a653469e4c54.png)

[2015-02-21 11:01] dburles commented on #348
@dandv still there for me, what browser are you on?

[2015-02-21 11:42] dandv commented on #348
Dug more into it - it happens only at 90% or less zoom in Chrome.

https://atmospherejs.com/nothingisdead/elasticity

[2015-02-23 16:44] zol commented on #346
Hmm, have you flagged this package?

[2015-02-23 16:45] zol commented on #348
Thanks for reporting @dandv

[2015-02-23 16:46] zol commented on #347
Agreed. We should probably just show them in the 'Trending' section.

[2015-02-24 00:10] msavin commented on #286
I'm experiencing the issue still - very odd that this isn't supported out of the box. Could we have an ETA on when this will be fixed?

Note: I am updating the readme.md with-in the package, and also on GitHub.

[2015-02-24 03:20] tmeasday commented on #286
I'm actually confused about what this original ticket was about.

@msavin - what exact issue are you having?

[2015-02-24 03:28] msavin commented on #286
@tmeasday Thanks for the quick response!

Basically - when you upload a package, Atmosphere will pull its readme.md file and set it as the content for the package. But whenever you update that file on Git or with-in the package, it doesn't update. It's caused me a bit of frustration as one of my packages is trending but I could not update its readme content.

Compare:
http://github.com/msavin/Mong

[2015-02-24 03:56] tmeasday commented on #286
Hi @msavin - great package btw!

Hmm, it seems on the surface that something is wrong here. @zol can you take a look?

[2015-02-24 04:18] msavin commented on #286
Thanks. Also worth a note; the download numbers only seem to update every day or so.

[2015-02-24 20:16] zol opened #349 "Install counts seem to update infrequently"
Raised by @msavin in #286.

If I go to a frequently used package, e.g https://atmospherejs.com/meteor/meteor-platform , I would expect the app installs to go up relatively often. Currently, they're sitting on 171,674. I've checked the worker logs and usage appears to be syncing without errors.

[2015-02-24 20:18] zol commented on #286
@msavin I've pushed a fix to your readme refresh issue. It was caused by a small regression from our recent readme overhaul. You should now find that after changing your readme on github and visiting your package page (don't forget to reload) the readme will update.

I've opened #349 to track the install count issue.

@dandv could you please check to see if your issue is now fixed (don't forget to

[2015-02-24 20:18] zol commented on #349
@tmeasday could you please investigate this one.

[2015-02-24 22:19] msavin commented on #286
So nice! Thank you.

[2015-02-24 23:33] tmeasday commented on #349
Ok, somewhere along the line we started using `package['installs-per-year']` (a daily-denormed number that we use for sorting and displaying on the package lockup) on the show page.

Probably when we turned off the count publication temporarily. I guess we never switched it back when we turned it back on.

[2015-02-25 01:10] zol commented on #349
Deployed and tested OK.

[2015-02-25 01:10] #349 closed, assigned to nobody

[2015-02-25 06:47] tmeasday commented on #347
Hmmm. It's a good idea but it presents some implementation challenges ;)

[2015-02-25 06:47] tmeasday commented on #348
I think this is a Chrome bug if anything, no @zol?

[2015-02-25 11:05] dandv opened #350 "How are contributors determined?"
Does Atmosphere look anywhere else but at the package maintainers as added by `meteor admin maintainers`?

[2015-02-25 19:13] zol commented on #348
@dominicnguyen would be the best person to weigh in on it. It's likely some high tech styling that we use that triggers an edge case in chrome. The same behavior is present in FF albeit at a much smaller zoom level.

[2015-02-25 19:28] zol commented on #350
No, it takes the data directly from the package metadata as set by `meteor admin`

[2015-02-25 19:28] #350 closed, assigned to nobody

[2015-03-01 22:47] lorensr opened #351 "Add emoji support"
https://atmospherejs.com/parlay
![image](https://cloud.githubusercontent.com/assets/251288/6433351/526ea888-c021-11e4-8eaf-0c26b943591b.png)

You can convert unicode to :shortnames: with

https://github.com/Ranks/emojione

and then use:

https://github.com/hassankhan/emojify.js

[2015-03-03 08:27] dandv opened #352 "Organization logos/icons/avatars?"
https://atmospherejs.com/dandv shows a few of my collaborators being organizations for the 3rd party libraries I helped integrate. Is there a way to add logos to the profiles of those organizations?

[2015-03-03 18:57] jchristman opened #353 "Visual Representation of Outdated Dependency Versions"
For a package, it would be nice if the developer could see at a glance if his or her package depends on a package version that is out of date. That is, if twbs:bootstrap updates from 3.3.1_2 to 3.3.2 and my package uses 3.3.1_2, it would be useful if that were denoted somewhere on the package page, in a notification, etc. This would allow developers to make sure they are able to take full advantag

[2015-03-11 13:47] KristerV opened #354 "atmosphere is slow"
I love what you guys are doing but wtf.. searching for packages is a pain.
1. when I go to atmospherejs.com I obviously want to search. I don't want to use my damn mouse to go get the "search" button wtf...
2. When searching the response takes ages. How about instead of reacting to each letter I type, you actually get the result I want when pressing enter and do it fast.
3. When going back from a

[2015-03-11 14:10] timbrandin commented on #354
Something is not working as it should, I've also noticed. How about adding a search engine like Elastic or Solr? I might be able to help out settings those things up.. and then you could use Search Source by Meteorhacks and make awesome search!!

[2015-03-11 14:22] ssteinerx commented on #354
It's not just searching, the whole pre-search page is dog-ass slow.

Also, I agree about especially the first stupid animation.  I go there to search, why not just leave the search field alone and use it.  Opening a pop-over to do that is just silly at best.

[2015-03-11 17:17] zol commented on #354
Our apologies for this slow behavior, the app was undergoing some issues and this is not normal behavior. We've been experimenting with using a fleet of micro instances for the app servers and several of them had been unexpectedly throttled by AWS causing terrible performance throughout. We've increased the instance sizes and added cloudwatch alarms for low CPU credits to prevent this from happeni

[2015-03-11 21:20] #354 closed, assigned to nobody

[2015-03-11 22:05] KristerV commented on #354
thank you for the clarification.

[2015-03-12 04:27] tmeasday opened #355 "Use new package statistics API"
https://github.com/meteor/meteor/wiki/Meteor-Package-Server-API

[2015-03-12 16:31] zol commented on #355
Just a couple of comments on the commit.

[2015-03-19 04:29] arunoda commented on #355
This is nice. I was looking for this API :)

[2015-03-21 07:47] dandv commented on #345
Also seen at @zimme's https://atmospherejs.com/zimme/iron-router-active

[2015-03-21 11:06] zimme commented on #345
I was about to post an issue about this the other day but got side-tracked.

My badges seems to get put on separate lines just because the markdown is split into several lines.
However on Github it renders on the same line.

[code]

[2015-03-21 17:54] themeteorchef opened #356 "Ability to subscribe to notifications for package changes"
I'm not sure I've seen this before, but I think it would be a big help. Right now, if a package is updated the only way to know is to look at the site, or, run `meteor list` or `meteor update`. To help with this, would it be possible to add some sort of email notification that gets sent when a package you're "subscribed" to updates?

For example, if a package is bumped from `1.0.0` to `1.1.1` I ge

[2015-03-22 06:51] cvrebert commented on #352
:+1:

[2015-03-22 07:02] splendido commented on #352
:+1:

[2015-03-22 07:27] cvrebert commented on #348
FWIW, [in many cases, there's no good way to deal with (non-pinch) page zooming problems.](http://getbootstrap.com/getting-started/#support-browser-zooming)

[2015-03-22 07:29] cvrebert commented on #352
Semi-duplicate of #319.

[2015-03-22 11:02] mitar commented on #345
I also see similar issue here: https://atmospherejs.com/peerlibrary/xml2js

It seems converted converts newlines as well. It should not be doing that?

[2015-03-23 01:32] domyen commented on #348
Thanks @cvrebert, you're spot on. It's due to artifacting. When a stroke is set to 1px, zooming out results in subpixels that a browser will choose to render –or not. Cheers for the report! Closing.

[2015-03-23 01:32] #348 closed, assigned to nobody

[2015-03-23 01:37] domyen commented on #353
Fantastic idea & suggestions @jchristman. Tracking this on the [feature requests trello board](https://trello.com/c/ZUvr6ShR/15-feature-requests).

[2015-03-23 05:26] zol commented on #356
I think this would be cool. Something we'd consider adding. Perhaps you should lobby MDG to allow changelogs to be formally specified by packages.

[2015-03-23 13:59] themeteorchef commented on #356
@zol I really like that idea. What do you think is the best way to go about getting something like that noticed/made possible?

[2015-03-23 23:11] glasser opened #357 "Newest version number not always shown on package page"
The newest version number of a package is shown as the top version number in the History section.

The History section also displays things like exciting stats moments in the package's history.

The History section only shows the most three recent items by default.

Thus, if there have been three exciting stats moments since the last version was published, the current version number isn't displaye

[2015-03-24 00:28] zol commented on #356
Open an issue for discussion on their github repo. You could paste a link to it here in ours and we can weigh in on it too.

[2015-03-24 00:46] zol commented on #357
Thanks for the feedback @glasser . This is a really good point and we'll tackle it in the next round of development.

[2015-03-24 03:21] stivaugoin commented on #356
+1

[2015-03-24 17:10] themeteorchef commented on #356
Done: https://github.com/meteor/meteor/issues/4011

[2015-03-24 21:50] mwarren2 opened #358 "aldeed:autoform documentation links do not work"
The links on the docs page for aldeed:autoform do not work, not one of them.

Please fix, thanks.

[2015-03-24 22:40] zol commented on #358
Thanks I've confirmed the issue.

[2015-03-24 22:42] zol commented on #356
Thanks!

[2015-03-26 22:34] domyen opened #359 "Profile: Make the source of the avatar image clearer"
i.e., make a note that references gravatar

[2015-03-27 23:00] dandv opened #360 "Exclude flagged packages from the homepage count"
I've flagged all of [junk's packages](https://atmospherejs.com/junk) (whoever they are, probably MDG; @stubailo?). Atmosphere still shows 4521 packages.

[2015-03-28 00:57] dburles commented on #360
I'm not sure about it, would it then entail being more descriptive as to the count? "Non-flagged packages: 4521". It really is just what it is, the total amount of packages. Anyway, that's just my opinion :)

[2015-03-28 03:54] dandv commented on #360
Flagged packages shouldn't really be used, so the package count should indicate the number of packages one would actually find usable/functional. No need to change the description of the count.

When the flagged package (resolves the reason it was flagged and) publishes a new version, that package will get included in the count.

[2015-03-30 15:48] softwarerero opened #361 "Package History Incomplete"
I started https://atmospherejs.com/softwarerero/accounts-t9n in February 2014 with version 0.0.1. However the history on atmosphere starts with 0.0.17 in September 2014. I guess I made a mistake when migrating the package. Can I correct this?

[2015-03-30 22:43] tmeasday commented on #361
Hey @softwarerero,

I think the older versions are attached to the mrt:accounts-t9n package. This happened because we didn’t have your meteor developer account in time for the automatic migration.

Probably you should add something to the github readme to indicate to people that they should install the newer version so it shows up here: https://atmospherejs.com/mrt/accounts-t9n

Then possibly you

[2015-03-30 23:40] softwarerero commented on #361
Thanks. I see what happend. I assigned my Atmosphere account to another Meteor Developer account. Can I change this or add a second one?

[2015-03-31 00:57] tmeasday commented on #361
If you have access to the other MD account I think that'll be fine. As long as you can login as that developer you can mark the package as unmigrated (i.e. hide it in atmosphere).

[2015-03-31 00:57] tmeasday commented on #361
Let me know what that account is and I'll give it access.

[2015-03-31 01:31] softwarerero commented on #361
My Atmosphere account 'softwarerero' is connected to the Meteor account 'sun', but the package accounts-t9n belongs to 'softwarerero'.

[2015-03-31 03:13] tmeasday commented on #361
I've added you as a maintainer on the old package. You may now do what you like if you `meteor login` as `sun`. You can't rename packages, so generally people tend to just clearly message what the new package called and mark the old package as unmigrated.

[2015-03-31 03:25] softwarerero commented on #361
Done. Thanks.

[2015-03-31 03:25] #361 closed, assigned to nobody

[2015-04-01 01:38] cryptoquick commented on #321
This would be super cool, especially if it checked your package versions like David does (for applications), and maybe another for displaying your package.js version (for packages).

[2015-04-01 19:39] kalepail opened #362 "Duplicate account"
I published two packages before logging into my meteor account. They ended up here.. https://atmospherejs.com/tyvdh My actual account is https://atmospherejs.com/tyler. Is it possible to trash the bad anonymous account?

[2015-04-01 23:27] tmeasday commented on #362
Hi @tyvdh. Unfortunately you'd have to speak to the Meteor development group about that. Your best bet for now would just be to mark those packages unmigrated and they won't show up on atmosphere.

[2015-04-08 12:44] dandv opened #363 "Set focus to the search field when user lands at /"
Just as Google does with google.com/search, but with the caveat that the search UI would change not onfocus, but onkeydown.

[2015-04-08 18:12] zol commented on #363
This doesn't fit with our current UX but we are considering it for the next UI refresh.

[2015-04-10 08:53] mitar opened #364 "Missing documentation"
My package is missing documentation on Atmosphere: https://atmospherejs.com/peerlibrary/blaze-components :-(

[2015-04-10 09:45] tmeasday commented on #364
@zol seems like a bug in the URL rewriting:

[code]

[2015-04-11 08:53] splendido opened #365 "Documentation Sections are missing anchors"
Having an anchor for each section would permit to link them straigh away within issues text :-)
For example

See the 'Removing your package` section in the [Publishing](https://atmospherejs.com/i/publishing) page on Atmosphere.

Could be, simply:

See the [Removing your package](https://atmospherejs.com/i/publishing#removing-your-package) on Atmosphere.

[2015-04-13 09:44] dandv opened #366 "Odd SEO / Google search result"
A Google search for "aws weibo account" returns https://atmospherejs.com/packages/service%2520for:

![image](https://cloud.githubusercontent.com/assets/33569/7113264/e670283c-e186-11e4-9844-96e1633fe17f.png)

[2015-04-13 15:48] maxkfranz opened #367 "`meteor create --package my:package` fails"
[code]

Result:

[code]

[code]

[2015-04-13 15:49] maxkfranz commented on #367
Your `.npmignore` is the problem...

[code]

[2015-04-13 15:55] maxkfranz commented on #367
Never mind.  It looks like you don't support npm

[2015-04-13 15:55] #367 closed, assigned to nobody

[2015-04-14 00:24] dburles commented on #367
@maxkfranz see https://www.meteor.com/install on how to correctly install Meteor

[2015-04-14 01:39] tmeasday commented on #366
Thanks for the report @dandv.

This seems to be a problem with the sitemaps package we are using. When URLs have a ' ' in them, it seems to be outputting (for example):

[code]

[2015-04-14 05:10] tmeasday commented on #366
Ok, so the issue is that iron:router escapes the URL paths that come out of `Router.path()` (in this case to `"/packages/Service%20for"`) then gadicohen:sitemaps escapes the URLs a second time (to `"/packages/Service%2520for"`, which is what google indexes) .

Double escaping! Blurgh. @zol any thoughts on a good solution here? We could call `unescape()` on the path we get out of IR I guess?

[2015-04-14 12:56] maxkfranz commented on #367
Ya, thanks.  I automatically assumed you'd use npm, since you're also using Node.js for your serverside.  Should have read the docs more...

[2015-04-14 14:36] luisherranz opened #368 "Markdown issues"
It looks like atmosphere is not rendering all the titles correctly.
Check Examples or Use:
https://atmospherejs.com/meteorflux/reactive-dependency

In Github all of them are render correctly:
https://github.com/meteorflux/reactive-dependency

[2015-04-14 16:30] zol commented on #366
Urghh. @tmeasday I guess we could unescape it. A PR to IR with an option to not escape the path would be better though. I can't think of a better solution.

[2015-04-14 23:13] tmeasday commented on #366
No way to do it w/ IR right now. PR is too much of a PITA. Will just do it manually.

[2015-04-17 23:13] SamHatoum opened #369 "How does README content get refreshed?"
I have a package with a ton of [docs on GitHub](https://github.com/xolvio/meteor-cucumber), and on Atmosphere it has a [super old version of the docs](https://atmospherejs.com/xolvio/cucumber)

Same is true for another package I recently published. The [docs no GitHub](https://github.com/xolvio/meteor-inspectlet/) are out of sync with the docs [on Atmosphere](https://atmospherejs.com/xolvio/inspec

[2015-04-18 02:10] dburles commented on #369
Hey @samhatoum I believe you're looking for `meteor publish --update` this will update your package metadata. See `meteor publish --help`

[2015-04-18 06:18] laosb opened #370 "Doesn't show document without git url."
If you try `meteor show lyuyea:select-doc`, the document is OK but there's no document on Atmosphere. I don't want to publish it on Github as a separated repo(Fact is I'm lazy to do that), and the doc should be shown even without a git url I guess?

[2015-04-18 20:25] zol commented on #370
Thanks for reporting. A fix for this will go out for this today. You don't have to do anything, the fix will apply automatically.

[2015-04-18 20:28] zol commented on #369
@samhatoum we pull and cache the readme from github (unless there is one provided in your package). Updating the readme on github will have no effect until you publish a new version or update your package's metadata (as @dburles pointed out). Let us know if this fixes your problem.

[2015-04-18 20:35] zol commented on #364
@mitar just fixed this issue, it will go out later today and you won't need to do anything manual to have it begin working. Some of your `a` tags are missing `href`s and it turns out some of our parsing code wasn't careful enough.

[2015-04-18 20:41] zol commented on #366
Deployed and checked:

[code]

[2015-04-18 20:42] #366 closed, assigned to nobody

[2015-04-18 20:42] zol commented on #364
Deployed, @tmeasday check and close.

[2015-04-18 20:42] zol commented on #370
Deployed, @tmeasday check and close.

[2015-04-18 21:41] mitar commented on #364
Hm, thanks. But things are still not perfect. :-( It seems like newlines are not ignored. See this example:

[code]

This should be all one line.

Also `*...*` makes it bold, not italics.

Also clicking on any link in the TOC redirects you to the GitHub, to a 404 page, and not move you around the README.

BTW, why don't you use GitHub API to render READMEs? I think that would be the best. See here

[2015-04-18 21:51] zol commented on #364
We do use github's api but it's inconsistent with the way they display
readmes on their site. One option would be to just grab the markup directly
from the site.
On Sat, Apr 18, 2015 at 2:41 PM Mitar notifications@github.com wrote:

[2015-04-18 21:53] mitar commented on #364
Interesting. Grip does a pretty good job with it. I have not found any discrepancy yet between what I get from it and what I then see on GitHub. Maybe you should check into it?

[2015-04-18 22:08] zol commented on #364
Thanks, we'll look into it. We only noticed the issues once thousands of
people were hammering on the site :)
On Sat, Apr 18, 2015 at 2:53 PM Mitar notifications@github.com wrote:

[2015-04-19 00:59] dandv commented on #369
@zol, how are the two alternatives different? A README provided by the package means `documentation: 'README.md'` in `Package.describe`, but the README file itself is stored on GitHub.

Correct. `meteor publish --update` is sufficient.

[2015-04-19 01:01] dandv commented on #360
I'd second this request for the Recent packages list - flagged packages should not be shown.

Use case: https://atmospherejs.com/packages/recent shows https://atmospherejs.com/ylamsaou/errors, which is a test package made by someone while going through Discover Meteor.

[2015-04-19 01:02] dandv commented on #346
Seconding this request for the Recent packages list - flagged packages should not be shown.

Use case: https://atmospherejs.com/packages/recent shows https://atmospherejs.com/ylamsaou/errors, which is a test package made by someone while going through Discover Meteor.

In this case, yes, I used the moderator flag to flag `ylamsaou:errors`. I had probably done the same for Bootstrap in the screensh

[2015-04-19 01:06] dandv opened #371 "Odd display issue when navigating to search results"
If I navigate to https://atmospherejs.com/xcv58/collection-api?q=collection%20api in Chrome 42 on Ubuntu, the search string displays only one character:

![image](https://cloud.githubusercontent.com/assets/33569/7217720/9eedef76-e5f5-11e4-85be-44e00f105d56.png)

(Also, mrt: packages there should show up as flagged - https://atmospherejs.com/mrt/bait-collection-api, https://atmospherejs.com/mrt/col

[2015-04-19 01:16] dandv commented on #345
Same at https://atmospherejs.com/nimble/restivus

[2015-04-19 01:29] mitar commented on #345
Also reported as part of #364. Strange is, that [grip](https://github.com/joeyespo/grip), which I use to preview markdown, does not have this problem, and they are also using GitHub API.

[2015-04-19 02:46] SamHatoum commented on #369
Thank you, this has sorted my whole life out, I've now achieved a state of Zen! :)

[2015-04-19 02:46] #369 closed, assigned to nobody

[2015-04-19 08:15] zimme commented on #345
I actually believe GHF Markdown renders line breaks as new line but in regular markdown you need double space at the end of line for line break.

I think the README.md files rendered on Github use regular markdown for linebreaks and not GHF markdown.

This
is
broken up
in several
lines
without double spaces.

[2015-04-20 02:24] tmeasday commented on #369
Hmm. @zol - I thought we used etags for GH so you didn't need to republish if you changed the readme? It doesn't appear to be working however..

[2015-04-20 02:25] tmeasday commented on #346
We don't filter out flagged packages right now. I'm not sure if we want to start doing this or not.

[2015-04-20 02:28] tmeasday commented on #371
This appears to be a bug with the autorezising input. Thanks @dandv. PS those packages appear flagged now.

[2015-04-20 02:33] tmeasday commented on #370
LGTM.

[2015-04-20 02:33] #370 closed, assigned to tmeasday

[2015-04-20 02:35] tmeasday commented on #364
LGTM

[2015-04-20 02:35] #364 closed, assigned to tmeasday

[2015-04-20 02:38] tmeasday commented on #345
It's because we are using gfm, whereas apparently GH uses normal markdown on readmes: https://developer.github.com/v3/markdown/.

Not quite sure what to do here @zol, let's discuss.

[2015-04-20 11:27] dandv commented on #345
Looks like there are issues beyond newlines - have a look at "#Change config" at https://atmospherejs.com/voidale/bootstrap-alerts vs https://github.com/voidale/meteor-bootstrap-alerts#change-config

[2015-04-20 14:08] chompomonim commented on #305
+1 for this feature

[2015-04-21 03:46] tmeasday commented on #352
I'm going to close this as it's covered by #319

[2015-04-21 03:46] #352 closed, assigned to nobody

[2015-04-21 03:47] tmeasday commented on #355
This is done. closing

[2015-04-21 03:47] #355 closed, assigned to zol

[2015-04-21 03:48] tmeasday commented on #359
Related to #319

[2015-04-21 03:49] tmeasday commented on #360
Related to #346 - I don't think we are treating flagged packages as "invisible" (as we do for unmigrated packages). So I think I agree with @dburles on this one. @dominicnguyen - thoughts?

[2015-04-21 03:49] #362 closed, assigned to nobody

[2015-04-21 03:50] tmeasday commented on #365
Good idea, thanks @splendido

[2015-04-21 03:51] tmeasday commented on #368
I'd guess this is a dupe of #345. Thanks @LuisHerranz

[2015-04-21 03:51] #368 closed, assigned to zol

[2015-04-21 03:51] tmeasday commented on #345
Also reported by @luizherranz on #368

[2015-04-21 03:52] tmeasday commented on #345
I'll make a list of the known problems on the top of this ticket.

[2015-04-21 03:59] tmeasday commented on #286
@dandv I'm going to close this -- ping me if it indeed is not fixed.

[2015-04-21 03:59] #286 closed, assigned to zol

[2015-04-21 04:09] tmeasday commented on #365
Started on this but I've realised I'm 100% sure on the best approach. @dominicnguyen let's discuss.

[2015-04-21 17:48] dandv commented on #319
:+1:

[2015-04-21 18:03] dandv commented on #346
Well, think of it this way:
1. User searches for packages to do X. There are only a few choices, one of which is flagged. The user tries first the non-flagged choices, which don't satisfy their requirements. The flagged package does, but needs some work. The user jumps in, sends PR that addresses the flag. The original author publishes a new version, without the flag. Happy user, happy community.

[2015-04-22 00:35] tmeasday commented on #346
Right so you are saying for the more committed user who is searching, 1. applies, where as for a casual user, 2. applies and we should hide the flagged packages. It makes sense.

Will confer with @dominicnguyen who is the boss of such things.

[2015-04-23 06:34] dcworldwide opened #372 "Please publish your search modal code as a meteor package"
Not sure if this is the correct place. But the atmosphere package search modal is amazing. It would be great for the community if you packaged the code as a modal. Happy to help if you point me in the right direction.

[2015-04-23 06:47] tmeasday commented on #372
Hey @dcworldwide, thanks for the kind words!

It's tricky with UI components like this to publish as a package because there are some many interrelated parts that require a lot of polish to get right and aren't necessarily easily re-applicable to another project.

Having said that, I'm interested in which part of the modal specifically you are interested in:

1) The visuals/UX -- i.e the CSS anima

[2015-04-23 15:53] sebakerckhof opened #373 "Local atmospherejs"
Hey,

I'd like to set up a local atmospherejs installation for my custom packages that are not really of value to publicize. I can modify meteor so it could first search my atmosphere install and if no results are found, it could then continue searching on the official atmosphere.js. But of course therefore I'd need to be able to run a local atmosphere.

The only atmosphere related code I've found

[2015-04-23 19:43] zol commented on #373
Hey, Sorry @sebakerckhof you won't be able to run a local copy of the atmosphere web app.

[2015-04-25 00:13] msavin opened #374 "List "last update" time"
I noticed Atmosphere updates the download count daily (?). Since its not real-time, I think the count should be accompanies by a "last updated" timestamp.

[2015-04-26 18:05] msavin opened #375 "Remove artificial padding around images for README.md"
On GitHub and MD-style README files, the image's have a max-width of 100%. They are either displayed at their true size or capped at 100% of the width. Atmosphere seems to follow the max-width: 100% style but adds a padding of 1.25em to each side. I'd like to suggest to remove it to give a more consistent viewing experience with GitHub.

[2015-04-26 18:11] msavin opened #376 "Display more package configuration details ("weak" dependencies & debugOnly parameter)"
1) Atmosphere displays all dependencies, weak or not, as dependencies. This may be a bit misleading to developers as they try to see what else the package would bring into their application. I believe "weak dependencies" should have their own section, since they are only included if the parent package / app contains those dependencies.

2) I think its important to mention whether or not a package

[2015-04-27 03:36] tmeasday commented on #375
Hi @msavin -- can you provide an example of a package with this issue? Cheers.

[2015-04-27 03:36] tmeasday commented on #376
These are good points, we'll look at them soon, thanks @msavin

[2015-04-27 03:36] tmeasday commented on #374
That's a reasonable point.

[2015-04-27 15:41] msavin commented on #375
:+1:  check out the difference between these two:

https://github.com/msavin/JetSetter
https://atmospherejs.com/msavin/jetsetter

[2015-04-28 01:41] dcworldwide commented on #372
You're welcome :) The more i learn about the web the more i appreciate that packaging ux components is never as simple as it seems.

Points 1 to 2 are of key interest to me. Is the app meteor? If so, do you mind sharing some details on your front end stack? I.e. Do you use IR? For transitions between the main page and the search modal, do you use percolate studio IR / animation packages? I'm also

[2015-04-28 16:48] zol opened #377 "Broken etag readme retrieval logic"
It appears like somewhere along the way we lost the correct `etag` readme refresh behavior. I think this was due to MDG's introduction of hosted readmes.

@tmeasday what should the correct logic be if a github url exsists as well as a hosted readme?

[2015-04-28 16:49] zol commented on #369
@tmeasday we don't anymore. I think perhaps when the package server started supplying readme our original logic changed. We should revisit this as looking closer at the code I don't think the current logic is right (the etag will basically have no effect).

Opened #377

[2015-04-28 22:53] tmeasday commented on #377
It's a good qn. The host readme won't update without a re-publish obviously but it feels like it should take precedence as sometimes (as an example) there's more than one package hosted at the same GH url (e.g. https://atmospherejs.com/mdg/geolocation, although they aren't using separate readmes there).

So I think the logic should be:
1. Hosted readme, check once when package is published.
2. GH

[2015-04-28 22:53] tmeasday commented on #377
Or is it possible to like a hosted readme to a potentially changing file?

[2015-04-29 07:35] tmeasday commented on #372
Hi @dcworldwide,

So a couple of things.
1. Yes it is a Meteor app.
2. We do use IR. When you open the search overlay, we change the current route with code like this (which basically appends `?q=text` onto the route):

[code]
3. We do something very similar (with `replaceState: true`) on each keystroke as you type in the search field. This is all wired up manually, although perhaps it'd be a good

[2015-04-29 10:37] evenfrost opened #378 "Github README.md anchors not working at atmosphere"
Apologies for possible duplicates of #323 and #151, though it may just be related issues.
Anchors put in package README.md on GitHub ([example](https://github.com/evenfrost/spacekit)) redirect to 404s in README.md on Atmosphere ([example](https://atmospherejs.com/evenfrost/spacekit)) because of the `/blob/master` part. Is there a way for proper linking such anchors to GitHub (or maybe even Atmosph

[2015-04-29 23:09] tmeasday commented on #378
Hmm. This seems tricky but perhaps we could special case it when we can tell the `README.md` URL is  the root of a GH project. @zol - thoughts?

[2015-04-30 04:16] dandv opened #379 "Unmigrate tom's intercom package?"
Has https://atmospherejs.com/tmeasday/intercom become https://atmospherejs.com/percolate/intercom ?

[2015-04-30 04:23] tmeasday commented on #379
Ahh, yes. I thought we'd done this.

[2015-04-30 04:24] #379 closed, assigned to nobody

[2015-04-30 21:22] zol commented on #378
@tmeasday that seems like a reasonable approach. Converting relative urls to absolute should only be done on READMEs that satisfy that criteria.

[2015-05-02 16:39] zimme commented on #241
I'm about to rename my `zimme:iron-router-active` package to `zimme:active-route` because I'm working on adding support for `meteorhacks:flow-router`. With support for another router I don't feel the name is representing the package functionality.

Can you guy's help me with the transition? Keep the history at atmosphere and such.

What I'm going to do is this:
1. Publish `zimme:active-route` at a

[2015-05-02 16:46] zimme commented on #241
After looking at the history log at https://atmospherejs.com/zimme/iron-router-active I realize there isn't really any history events for this package other then the download count thing... So I might not need your help with anything.

However, it would be nice to have a better flow for renaming packages. :+1:

[2015-05-03 23:27] tmeasday commented on #241
Yeah. I guess it's fairly rare for people to rename packages (apart from the old `mrt:X` packages from the Meteorite transition). I guess if we had official support for it we might look into bringing over the top-Xs and stuff..

[2015-05-04 00:11] dcworldwide commented on #372
Hi @tmeasday, appreciate your feedback. Thanks.

I'll run with a design very similar to yours. I wasn't aware of replaceState. Thats a great tip.

The package I was referring to is https://github.com/ccorcos/meteor-transitioner. The package couples uihooks and velocity.js quite nicely. It works great for route transitions but I found it too limiting for my use case (i.e. I need to animate multiple

[2015-05-07 17:59] zimme commented on #241
@tmeasday, Sorry to bother you but I've taken this, MeteorCommunity/discussions#72, initiative. It would result in a need for renaming/moving packages where the metadata around the packages is quite important.

Do you have any thoughts on how we can make renaming/moving packages as smooth as possible.

Otherwise, maybe you know who at MDG would be best to ping into this issue. I'm thinking ekate b

[2015-05-08 00:35] tmeasday commented on #241
I think @ekatek is the person to ask. Let's confine this discussion to https://github.com/meteor/meteor/issues/2392 to avoid confusion.

[2015-05-10 21:53] Siyfion opened #380 "We need to solve the issue of "clone" packages... This is getting silly."
For example, please let me refer you to this thread: https://github.com/jshimko/meteor-snapsvg/issues/1

Now I'm not proud of the way I've ended up dealing with this, but it's getting stupid. Considering I started off by stating that perhaps we should have collaborated together and both helped maintain the package, it got ugly, fast.

I can see this sort of behaviour becoming more and more of an i

[2015-05-12 05:13] tysonclugg opened #381 "Line wrapping mid-word"
Package descriptions show with lines wrapping within words, due to use of `word-break: break-all;` -- looks ugly and breaks correctly formed words into garbage.

[2015-05-12 05:37] tmeasday commented on #381
Hey @tysonclugg is there a particular package that is bothering you?

[2015-05-12 05:56] tysonclugg commented on #381
Hi @tmeasday - see the highlighting below:

![Broken line wrapping](http://i.imgur.com/Ralxu0c.png)

[2015-05-12 06:10] tmeasday commented on #381
Wow, crazy. What browser is that? Chrome / Linux?

[2015-05-12 06:12] tysonclugg commented on #381
Ubuntu 14.04 / Firefox 37.0.2

[2015-05-12 06:21] tmeasday commented on #381
Ahh. It does this on FF/OSX too. Heads up @dominicnguyen

[2015-05-14 04:56] tmeasday commented on #380
Hi @Siyfion,

Although it's not ideal to have a bunch of duplicates of the same package in the database, I'm not sure there's a whole lot that can be done about it. Just like there are a lot of forks of github repositories, it's just the way things work in an open source world.

Sure, it would be better if you and @jshimko worked together on a single package, especially for something as simple as

[2015-05-14 04:56] #380 closed, assigned to nobody

[2015-05-14 07:43] tmeasday opened #382 "Search page should not show scores"
E.g. try searching for 'bootstrap' -- you'll only see scores for the packages that are on the homepage.

[2015-05-15 16:34] zol commented on #382
We made the decision with @dominicnguyen not to include the score line graph on the search results page for performance reasons and because the trending line graph is not very useful on this page.

If you're cool with it we should rename and convert this ticket to actually ensure we don't show the trending graph on the search results page - as opposed to right now where we still show it if we have

[2015-05-18 00:34] tmeasday commented on #382
Ok, no problem

[2015-05-21 02:26] tmeasday commented on #360
ping @dominicnguyen

[2015-05-21 02:27] #372 closed, assigned to nobody

[2015-05-21 02:27] #373 closed, assigned to nobody

[2015-05-21 04:16] smileboywtu opened #383 "I just can't satisfied with the search way of the site."
there are more than 5000 packages in the site of atmosphere, the the package with the same category is also so much, when we want to find some package we need, we need to read text, read text again and again. I just go tied of this way. some of the package with more and more docs, but without a simple example letting user have a preview, so I take much time finding the packages wanted. why don't y

[2015-05-21 04:24] tmeasday commented on #383
Hi @smileboywtu, did you know that packages can include a picture in their readmes? (For instance: https://atmospherejs.com/msavin/jetsetter).

We do our best to try and bring the best packages to the top of the list when you search, based on the metrics that we have available (although we aim to do better in the future).

I think at the end of the day choosing a library to rely on is something th

[2015-05-21 04:24] #383 closed, assigned to nobody

[2015-05-21 07:51] smileboywtu commented on #383
I hope batter features coming soon. Thanks for your reply.

[2015-05-21 11:12] montecruiseto commented on #319
+1

[2015-05-21 16:00] sebakerckhof opened #384 "Question about front-end copy"
Hello,

Since working with private packages inside a team is kind of annoying in meteor (especially if you need to maintain multiple versions etc.)
Therefore I'm currently implementing a meteor package server,  API compatible with the official Meteor package server. When it's done I want to open source the package server, since other Meteor users seem to also have this problem. But I'd like to add

[2015-05-23 05:15] dandv opened #385 "See More doesn't load packages at /packages/foo"
![see more doesn t work](https://cloud.githubusercontent.com/assets/33569/7782500/ef9fc760-00cf-11e5-9840-73c8cea49161.gif)

[2015-05-23 11:15] dandv opened #386 "Mechanism to unmigrate packages that their authors can no longer un-migrate"
[Here](https://github.com/halilertekin/meteor-materialize/issues/2) ([archive](https://web.archive.org/web/20150523111312/https://github.com/halilertekin/meteor-materialize/issues/2)) is a discussion that showcases the usefulness of unmigrating flagged packages. TL;DR: the original author no longer has a GitHub account, or is otherwise unable to unmigrate the package due to acts of God or whatnot.

[2015-05-23 14:38] splendido commented on #386
I guess there's no way to delete/unmigrate a package from atmosphere,  since this is something to be dealt with on the MDG's packages server using _meteor_ API.

This said, as a first tool it might be helpful to have  a moderators group to mention inside issues OP so to cc others moderators and collect a consensus about flagging an old package.
Perhaps something like @percolatestudio/atmosphere-mo

[2015-05-23 14:52] splendido commented on #386
In this specific case, the package [halil:materialize](https://atmospherejs.com/halil/materialize) appears to me as flagged (I actually flagged it...).
Do you think it would be useful to have a different flag simbol to be used for MOD flags?
...at least for moderators to get a feed-back about what they flagged and whatnot...

![mod-flag](https://cloud.githubusercontent.com/assets/6148980/7784609/f

[2015-05-23 18:48] dandv commented on #386
Nope, that's how I found out about that halil package.

A flagged package shows up flagged, but it still clutters the search results. Arguably, that's to prevent MOD abuse, but if two mods flag a package, and X period of time elapses without the flag being addressed, it would be useful to be able to unmigrate it.

[2015-05-23 21:05] splendido commented on #386
Ok, I see.

...perhaps 5 MOD flags should be enough to ring the bell at MDG's HQ ;-)

[2015-05-25 00:03] tmeasday commented on #385
Hmm. Good point!

[2015-05-25 05:44] dandv opened #387 "Ninja package can't be flagged"
https://atmospherejs.com/sashko/paper

[2015-05-25 07:32] dandv opened #388 "OpenSearch XML should use the ?q= format"
https://atmospherejs.com/opensearch.xml links to /packages/, which has issues.

[2015-05-28 07:47] tmeasday commented on #384
Hi @sebakerckhof,

I think we'd prefer it if atmosphere's brand remained distinct for now.

Good luck with the project though. Let me know if you want to borrow any package syncing code ;)

[2015-05-28 07:49] tmeasday commented on #386
Hey guys,

Thought about this a bit. I think it's best if Atmosphere remains as thin a wrapper around the source of truth for packages (i.e. MDG's servers) as possible. So for instance, we shouldn't hide flagged packages (#360), and we shouldn't auto-unmigrate packages.

Not to say I think it's a bad idea to unmigrate such dead packages at their end. (TBH I'm of two minds about it, but don't have

[2015-05-28 07:49] #386 closed, assigned to nobody

[2015-05-28 07:50] tmeasday commented on #360
Closing this for reasons discussed in #386

[2015-05-28 07:50] #384 closed, assigned to nobody

[2015-05-28 07:50] tmeasday commented on #387
Hmm. Not sure about this. Seems like this package breaks the rules about packages :(

[2015-05-28 15:01] sebakerckhof commented on #384
Yeah, I've just based the front-end of microscope for now. Usually you wont have too many private packages, so this should be sufficient.

You can find the WIP here: https://github.com/sebakerckhof/stratosphere

The idea is to merge private packages with the public packages in one database and when there is a name collision (e.g. you want to have a custom DDP implementation), it will rename the up

[2015-05-28 20:13] dandv opened #389 "Set focus to the page after loading"
If I go to a package page, e.g. https://atmospherejs.com/twbs/bootstrap, pressing down arrow doesn't scroll the page.

Chrome 43 on Windows.

[2015-05-29 02:33] tmeasday commented on #384
Hi @sebakerckhof,

I don't have the code for the official package server implementation, but the syncing part is documented here: https://github.com/meteor/meteor/wiki/Meteor-Package-Server-API. I can share some code with how atmosphere does the syncing if it helps.

As for publishing, I can't help you with that -- no idea how it works!

[2015-05-29 02:41] tmeasday commented on #389
Hmm, can this be done on a scrollable div? I guess so..

[2015-05-29 20:53] trusktr opened #390 "Local Atmosphere for testing?"
Can I run Atmosphere locally, then tell Meteor to use the local Atmosphere (falling back to the official one when packages aren't found) so I can test how packages work without posting non-working junk on Atmospherejs.com?

[2015-05-30 02:01] tmeasday commented on #390
Hey @trusktr,

Sorry to keep batting you around but Atmosphere is just a front end, you'd really need to speak to MDG (i.e. open an issue at github.com/meteor/meteor) about running a custom backend.

You may be interested in this: https://github.com/percolatestudio/atmosphere/issues/384

[2015-05-30 02:01] #390 closed, assigned to nobody

[2015-05-30 08:07] trusktr commented on #390
Ah, that's so cool. Thanks!!

On Friday, May 29, 2015, Tom Coleman notifications@github.com wrote:

##

/#!/JoePea

[2015-06-03 12:18] cubitworx commented on #353
I also think it would be really great to have the ability to include a dependency restriction in the search. For example when doing a search you could limit it to packages that are only compatible with Meteor > V1.0 - the filtered results would take into account all dependencies for that package.

As an example I recently tried to use `LumaPictures/meteor-luma-ui` with Meteor V1.1.0.2 and found th

[2015-06-10 06:01] dandv commented on #182
Since comments are not implemented, can we keep this issue open?

[2015-06-10 06:13] tmeasday commented on #182
Is there any point given the roadmap?

[2015-06-10 06:27] dandv commented on #182
1. To me (and probably others), closed issues signify they are solved.
2. The flightpath roadmap is less known than this GitHub repo (I might be wrong on this one).
3. Hyperlinking works better on GitHub (See my link to @jagi's repo above).

[2015-06-10 09:57] Vadorequest commented on #182
I agree with Dan.
Le 10 juin 2015 08:27, "Dan Dascalescu" notifications@github.com a écrit :

[2015-06-10 10:12] lukejagodzinski commented on #182
Would be great to have it. Of course there is a risk that it could transform into Q&A forum.

I would see it in the form similar to the comments on Google Play. Where you can choose version, which the comment refers to.

It could be also good idea to add tags or category to the package, so that it would be easier to search for the tools from the given area.

[2015-06-11 06:05] tmeasday opened #391 "Include readmes in meta description"
cf: https://forums.meteor.com/t/better-meta-content-for-atmosphere/5493

[2015-06-12 22:50] SamHatoum opened #392 "How do I enable the GitHub / ReportBugs button?"
Hey ho

I've tried to do `meteor publish --update` but that doesn't seem to work. I think I have the right stuff in my `package.js` [here](https://github.com/xolvio/meteor-cucumber/blob/develop/package.js#L9)

Am I missing something?

[2015-06-13 00:02] tmeasday commented on #392
That URL looks malformed to me. Should it be: `https://github.com/xolvio/meteor-cucumber.git` ?

[2015-06-13 00:07] SamHatoum commented on #392
that'll be why! Thanks Tom :)

[2015-06-13 00:07] #392 closed, assigned to nobody

[2015-06-13 22:31] sebakerckhof commented on #384
Thanks. Knowing that earlier could have saved me a lot of work.
Just one question. I guess you also have a mongodb backend in which you import the package data.
How do you guys handle dots in dependency key names?

For example. A version record had a dependencies nested object. This dependencies object again has sub-objects for each dependency. The key being the same as the package name of the dep

[2015-06-15 03:51] tmeasday commented on #384
Hey @sebakerckhof, we sure did. Our solution (which I'm not a huge fan of. A temporary solution... that's still here):

[code]

[2015-06-28 08:22] JackAdams opened #393 "Show a tiny "latest release" date when displaying search results."
To help with quick mental filtering of the increasing volume of cruft on atmosphere.

For instance, if I type:

[code]

in the search box, I get five results, four of which are indistinguishable except by the author's name (three are forks of the other).

At the moment, we have the number of downloads, which is helpful in deciding which of the four identical-looking packages is the one we should c

[2015-07-06 00:37] tmeasday commented on #393
This seems like a reasonable idea. @dominicnguyen ?

[2015-07-07 19:31] neur0manc commented on #107
Hi, another :+1: from me. Got scared at first when seeing that [collection2](https://atmospherejs.com/aldeed/collection2) has a dependency on [insecure](https://atmospherejs.com/meteor/insecure) until @stubailo explained it's a weak dependency (which it didn't know then). Informing the user about weak dependencies would be a solid improvement.

See [meteor forum](https://forums.meteor.com/t/atmosp

[2015-07-09 15:28] Zodiase opened #394 "Is atmosphere detecting change of the fourth digit in version?"
My package is wrapping another toolkit which uses semantic versioning 2.0.0. So my version code starts with theirs, with a fourth digit for my revisions. The thing is, I've been updating my git repo several times in the last 24 hours, topped my version from "1.0.0-0" to "1.0.0-2", but it looks like atmospherejs.com is not picking up the changes as I can see my old Readme file being displayed.

[2015-07-11 20:14] avalanche1 opened #395 "semantic:ui-css isn't updated to the latest version"
Why https://github.com/Semantic-Org/Semantic-UI-CSS/ has ver 2.0.3 and https://atmospherejs.com/semantic/ui-css ver 2.0.**2**? Aren't they kept in sync automatically?

[2015-07-12 18:01] zol commented on #395
No, they're not. The author has to do a `meteor publish` which it looks like they haven't done yet.

[2015-07-12 18:01] #395 closed, assigned to nobody

[2015-07-13 03:10] jlukic commented on #395
We're using https://autopublish.meteor.com/ and it looks like the build has errored. I'll take a look

[2015-07-14 19:32] dvzrd opened #396 "How to update a published package?"
Hey,

I published a package today but then I made some changes to the repo to fix some bugs.

I ran meteor publish --update but the package files haven't updated, it's still giving me the same error that I fixed in my repo.

How do I update my package? I couldn't find anything on this in the /publishing docs. Thanks for the help.

[2015-07-14 20:14] dvzrd commented on #396
I got it figured out. In case anyone was wondering here's what I did:

After fixing/updating the package repo, I updated the version number in package.js and then I simply ran meteor publish to publish the updated version.

Then you have to run meteor update in your app so your app runs the latest version of the package.

[2015-07-14 20:14] #396 closed, assigned to nobody

[2015-07-20 01:36] dandv opened #397 "[CRITICAL] Atmosphere extremely slow"
Starting ~12 hours ago, Atmosphere has been slower and slower. Now I can't even load pages.

https://atmospherejs.com/wylio/mandrill has been frozen at the spinner for minutes.

Here's a GTMetrix. I think they timed out at 20 seconds:

https://gtmetrix.com/reports/atmospherejs.com/eo8MEQTI

DareBoost gave up after 30 seconds:

https://www.dareboost.com/en/report/55ac50670cf21c4782338889

In my bro

[2015-07-20 01:58] tmeasday commented on #397
Hi @dandv - thanks for the report. One of our web machines had run out of CPU credit. Is it better for you now?

[2015-07-20 03:51] dandv commented on #397
Yes, thanks for the quick fix.

[2015-07-20 03:51] #397 closed, assigned to nobody

[2015-07-23 22:21] ghost opened #398 "Unable to create organization"
I recently created the `ixorg` organization on Meteor Developer Accounts. I even published a package under its namespace, and everything went fine, but I cannot find either the org or the package on Atmosphere?

[2015-07-24 01:22] tmeasday commented on #398
Thanks @schisma - this was a syncing issue at our end. I appreciate the report, very helpful.

I think it's fixed now? Let me know if not.

[2015-07-24 01:22] #398 closed, assigned to nobody

[2015-07-24 06:29] ghost commented on #398
Yeah, thanks!

[2015-07-24 07:35] hipstersmoothie opened #399 "Late Profile Picture Style Application BUG"
When visiting a user's profile, the profile picture originally shows as a square but quickly changes to a circle. Also upon viewing the .gif, the number for packages and starred aren't loaded when the loader disables. Although this isn' t nearly as noticeable as the picture.

I am on Chrome Version 43.0.2357.134 (64-bit) on a mid 2014 Macbook Pro. The issue is not present on either firefox or safa

[2015-08-01 03:54] dandv opened #400 "Trouble logging in"
I can't seem to be able to log into Atmosphere with my MD account in Chrome.

![can t login](https://cloud.githubusercontent.com/assets/33569/9020518/3094e336-37c6-11e5-8b43-fd4f9fef0870.gif)

Tried ~5 times by now.

Same problem in Firefox, but after a 3rd try or so, I'm in.

No console error messages. Do you guys use Rollbar or the like to log client-side errors?

[2015-08-01 04:02] tmeasday commented on #400
I suspect you just need to wait a little longer?

For me it took 2-3 seconds after doing the oauth dance for the button to change. Couldn't tell you exactly the reason.

[2015-08-01 06:51] splendido commented on #400
...I had to wait way more a couple of days ago: ~10-15 secs :'(

[2015-08-04 04:24] dandv commented on #400
Yes, took me about 10-15 seconds too, just now.

[2015-08-04 10:11] dandv commented on #345
Not sure if this was pointed out elsewhere - there needs to be a space after `#` for heading to be rendered. [Example](https://github.com/xolvio/meteor-webdriver/pull/41/files#diff-04c6e90faac2675aa89e2176d2eec7d8L9).

[2015-08-04 14:12] andersr opened #401 "Copy package command line info to clipboard rather than just select all"
Hi - I'd like to suggest that you update your select all feature to be a copy to clipboard feature in the command line info input box. It's a small thing, but would definitely improve usability.

In other words, change this...

<img width="489" alt="screen shot 2015-08-04 at 10 08 20 am" src="https://cloud.githubusercontent.com/assets/819213/9062545/1623839a-3a91-11e5-8e89-0ba504b2ad6f.png">

To b

[2015-08-07 22:35] timbrandin opened #402 "502 Bad Gateway: Registered endpoints failed to handle the request."
This is the current response I'm getting from all pages on https://atmospherejs.com/

[2015-08-08 09:34] timbrandin commented on #402
It's solved now.

[2015-08-08 09:34] #402 closed, assigned to nobody

[2015-08-09 07:31] dandv opened #403 "Pass-through to npmjs"
## Meteor 1.3 update

Now that Meteor can use npm packages directly, I'd like to resurrect the dialog on adding discoverability of non-Atmosphere packages through the Atmosphere interface.

If a developer searches for package X that hasn't been specifically wrapped for Meteor, they will find nothing, or even worse, false positives. Hopefully, the developer will think of re-doing their search on [n

[2015-08-10 05:05] brettle opened #404 "Search strings longer than 26 characters don't work"
Try searching for "brettle:accounts-anonymous" or "useraccounts:famous-wrapper", for example. In both cases the correct results suddenly disappear after typing the 27th character.

[2015-08-10 05:16] tmeasday commented on #404
Good pickup @brettle

[2015-08-10 05:26] brettle opened #405 "Example travis.yml is outdated"
On [the publishing page](https://atmospherejs.com/i/publishing), the section entitled "Adding Travis-CI support" has an outdated .travis.yml file. According to the [travis-ci-meteor-packages README.md](https://github.com/arunoda/travis-ci-meteor-packages), a `sudo: required` line is now needed. I recommend just providing a direct link to that README.md instead of trying to keep the Atmosphere docs

[2015-08-10 05:33] brettle opened #406 "Atmosphere can't find the README.md if you use the git scheme for the git URL"
This is probably easiest to address with a doc fix. On [the publishing page](https://atmospherejs.com/i/publishing), in the section entitled "Setting your package's README and git URL", it should say that the git field needs to use the `https` scheme (not the `git` scheme).

[2015-08-11 19:27] zol commented on #404
This is due to the maxGramSize setting in solr `<filter class="solr.NGramFilterFactory" minGramSize="1" maxGramSize="25"/>`

What is a reasonable maximum? Or should we just take a [0,x] substring where x is equal to maxGramSize to search with and thus work around whatever issue is causing 0 search results to appear?

[2015-08-12 00:56] tmeasday commented on #404
I guess there'll always be a limit if people are going to type full package names into the search box. I'd say 25 is more than enough to limit the result set to something reasonable, so I'd go with the second.

[2015-08-12 04:13] brettle commented on #404
You might also want to limit the number of characters that can be typed
into the search box, just to make the limit clear to the user.
On Aug 11, 2015 5:57 PM, "Tom Coleman" notifications@github.com wrote:

[2015-08-12 04:15] tmeasday commented on #404
Well it's not exactly a limit, just that typing more characters won't make any difference to the search right?  I think it's better to just let people type, less annoying IMO

[2015-08-12 05:28] brettle commented on #404
I was just trying to avoid surprising a user searching for
"brettle:accounts-anonymous-auto" with not only the matching
"brettle:accounts-anonymous-auto", but also the non-matching
"brettle:accounts-anonymous" (and the soon-to-be-published
"brettle:accounts-anonymous-ui"). Not a big deal though.

On Tue, Aug 11, 2015 at 9:15 PM, Tom Coleman notifications@github.com
wrote:

[2015-08-13 23:28] tmeasday opened #407 "Use git submodules not meteorite"
So 2013

[2015-08-17 03:54] dandv commented on #387
Another one: https://atmospherejs.com/ekate/debug-only

[2015-08-21 08:25] dandv commented on #401
ZeroClipboard is super easy to set up.

[2015-08-21 08:26] dandv opened #408 "Can't login - blank post-OAuth window"
![can t login 2](https://cloud.githubusercontent.com/assets/33569/9404342/9f597920-47a3-11e5-97d8-9f84a1c8cf87.gif)

[2015-08-23 00:11] tmeasday commented on #408
Thanks @dandv - we weren't forcing https for a sec there, whoops! Fixed now I think?

[2015-08-23 00:11] #408 closed, assigned to nobody

[2015-08-25 11:54] ghost opened #409 "Search is not working on 404 page"
On 404 error page, e.g. https://atmospherejs.com/thisiserrorpage , if you try to search package GET query ?q=jquery is relative to current URL.

[2015-08-26 00:29] zol commented on #409
Thanks @AGukasov . I've confirmed the issue.

[2015-09-01 14:29] splendido opened #410 "Somehow Show pre-release versions for published packages"
It would be nice to have a button or something (or some configurable presonal options...) to show all published version of a package emulating the result of, e.g.:

`meteor show --show-all twbs:bootstrap`

this could make pre-releases of packages more discoverable by _astronauts_...

At the same time it could be good to show pre-releases also in the `Recent` section on the homepage.

[2015-09-05 13:37] serkandurusoy opened #411 "Atmoshpere is not refreshing package data, now lagging behind more than 24 hours"
Take a look at https://atmospherejs.com/packages/recent to see that the most recent package seems to have been published more than 24 hours ago.

Also, there is an ongoing discussion over at https://forums.meteor.com/t/atmospherejs-com-metadata-is-not-being-picked-up/9338/10 that seems related.

[2015-09-06 09:41] udiedrichsen opened #412 "Ideas for atmosphere enhancements"
I wrote a short post with some suggestions for improving the famous atmosphere:
https://forums.meteor.com/t/ideas-for-atmosphere-enhancement/9353

Now we have over 7000 packages in atmosphere. It becomes very hard to find the right package
with the current search function.

Having a lot packages is good, but when you not able to find the right things it becomes frustrating.

I tried to find out ho

[2015-09-06 22:17] tmeasday commented on #411
Ok, I think this is sorted out. Thanks for the report @serkandurusoy.

[2015-09-06 22:17] #411 closed, assigned to nobody

[2015-09-06 22:21] serkandurusoy commented on #411
:+1:

[2015-09-16 19:05] chip commented on #319
:+1:

[2015-09-23 13:21] medihack opened #413 "Not official and broken package of FuelUX"
There is a package named [exacttarget:fuelux](https://atmospherejs.com/exacttarget/fuelux) in Atmosphere that wraps the [Fuel UX](https://github.com/ExactTarget/fuelux) frontend widget library. Unfortunately the Atmosphere package is not working at all and it is not an official release, even if the username makes it look like this and the Github link links to the official repository.
I asked the o

[2015-10-02 11:27] mitar commented on #345
One more README with bad line breaks: https://atmospherejs.com/peerlibrary/reactive-publish

But those line breaks issues do not happen with [grip](https://github.com/joeyespo/grip).

[2015-10-03 08:52] splendido commented on #410
I'd say [this post](https://forums.meteor.com/t/bootstrap-4-alpha-is-out/8683) on the forums is somehow connected to this issue.

[2015-10-05 14:11] newswim commented on #391
Just checking in on this issue, I noticed there's still some meta content funk when google returns search results from atmosphere.

[2015-11-05 15:39] tdecaluwe opened #414 "Anchor links inside readme don't work"
Relative links inside the readme are being prepended with an address pointing to the master branch (`https://github.com/username/repo/blob/master` to be more precise).

However anchor links shouldn't be prepended with this address, they should stay on the current page. Additionally, since they don't contain a relative path inside the repo, they lead directly to a 404 page.

Also, if we want to be

[2015-11-16 21:05] danialfarid opened #415 "ng-file-upload not official publish"
https://atmospherejs.com/danialfarid/ng-file-upload
I am the owner of that github module and It is published here by another user and the version is very outdated so lots of people are having problem following the new release readme files with the old version of the package that is published here.

Could you delete that package or give me access so I can publish latest versions?

[2015-11-17 03:21] sean-stanley commented on #415
+1

[2015-11-17 11:47] thomasvanlankveld opened #416 "Changelog / multiple versions of README"
I've run into a bug which I think comes from using version `0.1.5` of `ecmascript`, but I'm not sure, because Atmosphere only shows one version of the package's README.

It's especially annoying to only have documentation for `0.1.6` since I can't [get it to work](https://github.com/meteor/meteor/issues/3536) :#

Availability of a changelog would be great, availability of previous versions of the

[2015-11-24 12:18] medihack commented on #413
Bump. Any help here? Is there really no way to contact that user. Is it somehow possible to flag that package so that it can be deleted an the official package can be uploaded?

[2015-11-24 12:21] medihack commented on #415
Same problem here: https://github.com/percolatestudio/atmosphere/issues/413

Unfortunately no answer yet. It's also disappointing that there is now way to flag a package.

[2015-11-24 13:46] splendido commented on #413
hello @medihack, I'm sorry to ear there are problems like this one on atmosphere.
Since I'm a `MOD` I could easily flag the package but this won't solve the problem.
I think there's no way at the moment to get in touch with a meteor developer user.

cc to other MODs: @tmeasday @dburles @dominicnguyen @sachag @dandv