[2014-02-09 21:56] zol opened #1 "The first one"

[2014-02-09 22:05] zol opened #2 "aaa"
bbb

[2014-02-09 22:08] zol opened #3 "another issue"
fix the damn thing please!

[2014-02-09 22:10] zol opened #4 "bbb"
ccc

[2014-02-09 22:13] zol opened #5 "vvv"
ggg

[2014-02-09 22:15] zol opened #6 "gsad"
dfghdhjf

[2014-02-09 22:17] zol opened #7 "blanketty blank"
foo blank bar

[2014-02-09 22:17] #1 closed, assigned to nobody

[2014-02-09 22:17] #2 closed, assigned to nobody

[2014-02-09 22:17] #3 closed, assigned to nobody

[2014-02-09 22:17] #4 closed, assigned to nobody

[2014-02-09 22:17] #5 closed, assigned to nobody

[2014-02-09 22:17] #6 closed, assigned to nobody

[2014-02-09 22:17] #7 closed, assigned to nobody

[2014-02-09 22:19] zol opened #8 "This is from atmosphere"
Yay, CORS is working fine!

[2014-02-10 03:26] domyen opened #9 "Hello world"
Testing

[2014-02-12 17:52] zol opened #10 "THats so good!"
Do we have a flash?

[2014-02-12 17:54] #8 closed, assigned to nobody

[2014-02-12 17:54] #9 closed, assigned to nobody

[2014-02-12 17:54] #10 closed, assigned to nobody

[2014-02-12 17:59] zol opened #11 "Style flash on feedback page"
@tmeasday, D and I are thinking we're ready to move across to the release/bug phase and start tracking issues/todos in github (remember to use the percolate-beta repo)

[2014-02-12 21:08] domyen opened #12 "Keyboard shortcuts inactive on page load"
Reproduce by navigating to Atmosphere and pressing 'a'[menu] or 's'[search]. If you click on a blank area of the page and then press these keys the intended functionality works.

[2014-02-12 21:47] tmeasday commented on #12
Not seeing this. Which browser? I'm doing:
1. Open new window in chrome
2. Type localhost:3000 in url bar, hit enter
3. Wait a moment, then hit 's'

It appears to work fine.

[2014-02-13 18:09] domyen opened #13 "Fork sitemap package to correct generated sitemap <loc>"
Change Line 33 to      + '://' + req.headers.host;

[2014-02-13 18:35] domyen opened #14 "test"
test

[2014-02-13 18:37] domyen opened #15 "test"
test

[2014-02-13 18:39] domyen opened #16 "test"
test

[2014-02-13 18:39] domyen opened #17 "test"
test

[2014-02-13 18:40] domyen commented on #11
Done. aa1d8f05afed1efab99081e0cda88565b93aed1c

[2014-02-13 18:41] #14 closed, assigned to nobody

[2014-02-13 18:41] #15 closed, assigned to nobody

[2014-02-13 18:41] #16 closed, assigned to nobody

[2014-02-13 18:41] #17 closed, assigned to nobody

[2014-02-13 18:43] domyen commented on #12
Turns out that this can't be reproduced.

[2014-02-13 18:51] domyen commented on #12
Ok this can be reproduced in Saf, Chrome, and FF.
1. login to github via the feedback form
2. reload page
3. type 's' or 'a' via the keyboard
4. open up the feedback form to see that you've just typed into the title field of the feedback form

Should we blur inputs?

[2014-02-13 18:55] domyen commented on #12
Fixed as of d122a616bb8dac8dcc8f43cb2ca82efe58d6e1d8

[2014-02-16 18:31] zol opened #18 "Fix github oauth"
I changed the redirect url in github but for some reason now the oauth fails.

[2014-02-18 18:45] zol opened #19 "Favicon is a smudge on my non-retinal display"
![Uploading Screen Shot 2014-02-18 at 10.44.43 AM.png . . .]()

[2014-02-18 18:45] zol commented on #19
![screen shot 2014-02-18 at 10 44 43 am](https://f.cloud.github.com/assets/81672/2198767/df9d64d8-98cc-11e3-9686-6631239489f3.png)

[2014-02-18 18:47] zol opened #20 "Returns to percolatestudio.com after adding your email to the mailing list"
When you add your email via the footer, the return link is to percolatestudio.com rather than atmosphere.

[2014-02-18 18:47] zol commented on #20
Also, clicking the right arrow in the field does nothing.

[2014-02-18 18:52] zol opened #21 "On mobile, should be able to slide menu away"
By dragging, like in a standard mobile app.

[2014-02-19 01:31] zol commented on #18
This is really weird - the error is only happening on production, for some reason `Meteor.loginWithGithub` errors with:

[code]

[2014-02-19 05:17] tmeasday opened #22 "This is a test"
test issue

[2014-02-19 05:19] tmeasday commented on #18
Ok, there were a few things wrong here:
1. We didn't have a production github app setup. I created this one: https://github.com/organizations/percolatestudio/settings/applications/81562
   - I added the clientId/secret to ~/atmosphere/settings.json -- was this the right spot?
2. A problem with changing client id + secret, as fixed by https://github.com/percolatestudio/atmosphere/commit/dfa104e8a01

[2014-02-19 05:20] tmeasday commented on #18
Ok, I now realise that you intended to use the old "atmosphere development" app for the beta. So 3 was what was causing the issue.

[2014-02-19 05:22] #22 closed, assigned to nobody

[2014-02-19 06:13] domyen commented on #20
Updated URL on Mailchimp. Fixed the right arrow doing nothing. 0a5715ebbd80702dc116c4bf1aa2d672700ae810

[2014-02-19 07:49] domyen commented on #19
Updated to a slightly clearer version.  bef057d4dd81bc8c1e234346c9c26310c2886e40.

[2014-02-19 17:40] zol commented on #19
Looks good, thanks.

[2014-02-19 18:45] zol commented on #13
Fixed by 06eb8ec906d87717be68936ab74e073eb8bfeaf9

[2014-02-19 18:48] zol opened #23 "Testing issues"
Yup, this is a test

[2014-02-19 18:48] zol commented on #23
Working

[2014-02-19 18:48] #23 closed, assigned to nobody

[2014-02-19 18:49] #11 closed, assigned to domyen

[2014-02-19 18:49] #12 closed, assigned to domyen

[2014-02-19 18:49] #13 closed, assigned to zol

[2014-02-19 18:49] #18 closed, assigned to zol

[2014-02-19 18:49] #19 closed, assigned to nobody

[2014-02-19 18:50] #20 closed, assigned to zol

[2014-02-19 21:22] guilhermedecampo opened #24 "Footer links need reset scroll"
add this filter:

resetScroll: function () {
    var scrollTo = window.currentScroll || 0;
    $('body').scrollTop(scrollTo);
    $('body').css("min-height", 0);
  },

=)

[2014-02-19 21:27] darylantony opened #25 "Its stifling my productivity because it looks too awesome and I'm busy playing with the slick UI :P"
WOW.

[2014-02-19 21:27] tvararu commented on #25
+1

[2014-02-19 21:29] brentjanderson opened #26 "Search by username/org name should also show repositories"
It appears that the search function only supports searching by repository name. Searching by tags, repository owner/org (e.g. percolatestudio), or ReadMe contents would be enormously helpful when searching for packages.

[2014-02-19 21:30] brentjanderson opened #27 "Clicking the username for a package should take you to their Github/bitbucket page"
For packages based out of Github or Bitbucket, clicking the author username should take you to their profile on their respective service. Perhaps even better would be having a user profile which, when you click a user's name, you can see their repositories, links to github/bitbucket/other social media, etc.

[2014-02-19 21:43] serkandurusoy opened #28 "Where is sorting by added/updated date?"
I like the current atmosphere's default sort order (and displaying all packages) since I take a look at it everyday to see what's new. It allows me to discover new packages. I think the new version should have some means to browse/sort by date.

[2014-02-19 21:43] serkandurusoy opened #29 "Where is sorting by added/updated date?"
I like the current atmosphere's default sort order (and displaying all packages) since I take a look at it everyday to see what's new. It allows me to discover new packages. I think the new version should have some means to browse/sort by date.

[2014-02-19 21:43] serkandurusoy opened #30 "Where is sorting by added/updated date?"
I like the current atmosphere's default sort order (and displaying all packages) since I take a look at it everyday to see what's new. It allows me to discover new packages. I think the new version should have some means to browse/sort by date.

[2014-02-19 21:46] serkandurusoy opened #31 "Search needs a loading indicator"
I had to do multiple searches thinking my keyword - collection :) - did not get a hit until I realized perhaps I should wait. Without a loading indicator, the search feels as if it is not working.

[2014-02-19 21:48] serkandurusoy commented on #29
While creating new issues from the site, double posting problems should be handled. The UI does not respond to the click event on the submit button. Actually, the submit button does not provide noticeable visual cue that it has been clicked. I was thinking "my bloody touchpad started not clicking again!"

[2014-02-19 21:48] #29 closed, assigned to nobody

[2014-02-19 21:48] serkandurusoy commented on #30
While creating new issues from the site, double posting problems should be handled. The UI does not respond to the click event on the submit button. Actually, the submit button does not provide noticeable visual cue that it has been clicked. I was thinking "my bloody touchpad started not clicking again!"

[2014-02-19 21:48] #30 closed, assigned to nobody

[2014-02-19 21:49] serkandurusoy opened #32 "Issue double posting from site should be handled"
While creating new issues from the site, double posting problems should be handled. The UI does not respond to the click event on the submit button. Actually, the submit button does not provide noticeable visual cue that it has been clicked. I was thinking "my bloody touchpad started not clicking again!"

[2014-02-19 21:53] jadeqwang opened #33 "UI expectation"
When I hover over anywhere on the box (e.g. the graph) of a package on the atmosphere frontpage, my mouse is a hand, which implies I can click on it. However, only clicking on the title will actually bring me there. Can you make clickable everywhere in the box?

By the way, what does the graph represent? Is it usage over time or commits over time?

[2014-02-19 21:57] cmalven opened #34 "Back button should return to search results when applicable."
Steps to Reproduce:
- Search for "admin"
- Click the first result
- Click the browser's _Back_ button

Expected Result:
I see search results for the search "admin"

Actual Result:
I see the Atmosphere home page

[2014-02-19 21:57] zol commented on #33
Thanks Jade, it looks like the graph is swallowing clicks - we'll fix this.

The graph represents 'atmosphere rating'. In fact, everywhere we show a graph or metric it's going to be the atmosphere rating unless we explicitly say otherwise.

[2014-02-19 22:05] tmeasday commented on #33
We'll be elaborating on exactly what "Atmosphere Rating" is soon too...

[2014-02-19 22:14] cmalven opened #35 "Sparklines aren't super useful without time scale"
The primary visual method used to present package health is a spark line, I believe representing commits over time (though that isn't ever made clear).

A problem with this is that a package that has existed for a few days looks almost indistinguishable from a package that has existed for months. In fact, newer, less battle-tested packages often appear to be of better health because their curve ap

[2014-02-19 22:21] zol commented on #35
Thank @cmalven - good feedback, we'll take a closer look at this in the next phase of development.

[2014-02-19 22:27] cmalven commented on #35
@zol Cool. This thing is amazing, btw. Great job so far!

[2014-02-19 22:30] hharnisc opened #36 "Syntax Highlighting on Code Snippets"
In the README markdown it would be easier to digest code snippets if they had some syntax highlighting.

[2014-02-19 22:49] cmalven opened #37 "I miss cmd-clicking"
A pretty common use-pattern for me with package managers (and the web in general) is to do a search, then cmd-click (on a Mac) each package I'm interested in to open it in a new tab for later review/comparison. It'd be nice to have cmd-clicking back.

[2014-02-19 22:53] domyen commented on #37
@cmalven I can confirm that this is very high on our todo list.

[2014-02-19 22:57] cmalven commented on #37
@dominicnguyen That's great!

[2014-02-20 00:23] mrmowgli opened #38 "Search includes URL's in description."
Searching for a package "github" pulls up 20 hits, when only a few have the word github in the description, and only one actually has github in the title.  The rest happen because the package is hosted on github, so the URL is being parsed.   So perhaps there could be a search only titles checkbox?

[2014-02-20 00:40] Slava commented on #24
+1 after scrolling to the end, clicking "publish packages", I get teleported to the middle of the page.

[2014-02-20 00:47] zol commented on #24
Thanks @guilhermedecampo  and @Slava - this will be fixed asap.

[2014-02-20 01:24] Slava opened #39 "A tumbler to disable shortcuts"
WASD shortcuts are great but it would be nice to have a way to disable them. I usually use Vimium - it has its own set of keyboard shortcuts to navigate on the page. If there was a small little option to disable it (on my computer, maybe save it to localStorage), it would be nice.

Not a high priority, obviously.

[2014-02-20 01:30] Slava opened #40 "Popular searches is only populated on the front page"
Reproduction
- go to any package page
- click on search or press "s"
- see the "popular searches" section on the bottom is empty

expected: it is populated with "jquery", "smartcollections", etc.

Works from the frontpage

[2014-02-20 01:31] aldeed opened #41 "Beta site doesn't load on iPhone Safari"
In Safari on iPhone 4S running latest OS, the site won't load. Seems to continually refresh or something.

(On desktop, it's everything I wanted and more. Thanks!)

[2014-02-20 01:31] Slava opened #42 "Scrolling down is impossible while the "feedback" button is hovered"
The orange button in the right top corner appears on the scroll down. Once it appeared, if your mouse pointer happened to be located in the area of the button, you can't scroll down. You can scroll up however.

Mac OS X Mountain Lion, Google Chrome 32. Super low priority, just letting you know :)

[2014-02-20 02:26] geekyme opened #43 "Super nice front end design!!"
is this atmosphere also a meteor app itself?

[2014-02-20 02:35] zol commented on #43
@geekyme - you bet! If you hang out long enough you'll see packages update in front of yours eyes.

[2014-02-20 02:35] #43 closed, assigned to nobody

[2014-02-20 02:37] geekyme commented on #43
geeeeeeeee. now you guys gotta update discovermeteor to show off how to make this sort of wicked animations!

[2014-02-20 02:42] Slava commented on #41
It might be related to the bug in Meteor which should be fixed in the next Meteor release.

[2014-02-20 02:43] zol commented on #41
Thanks @aldeed - it's working fine for me and others. I'm having the same issue with docs.meteor.com on my desktop safari right now - sounds like it's a known issue with Meteor that's currently being resolved.

[2014-02-20 04:13] arunoda opened #44 "List new packages"
We need a list of newly added and updated packages as well.

[2014-02-20 04:54] Lepozepo commented on #28
That and showing the date for the latest update a package has received would rock

[2014-02-20 07:53] kylemclaren opened #45 "Typo under Moment.js package"
Usage description reads `var oneMonentPlease = moment();`
Should read `var oneMomentPlease = moment();`

[2014-02-20 08:00] tmeasday commented on #45
You'll have to take that up with @acreeger: https://github.com/acreeger/meteor-moment/issues

[2014-02-20 08:00] #45 closed, assigned to nobody

[2014-02-20 08:06] kylemclaren commented on #45
Sorry, posted the issue before checking the source package...

[2014-02-20 09:54] kevohagan opened #46 "Enhancement : target="_blank" when clicking on package github button"
In my opinion, i would put a target blank on the anchor tag to go to the github page of the package. I often like to check the package on github while still on atmospere :)
really small detail though

[2014-02-20 10:08] sclausen opened #47 "Open package in new tab"
You are not able to right klick on a package and select open in new tab/window, neither does the middle mouse button work.

[2014-02-20 10:53] dburles commented on #47
hey @Phosphoros I believe this same issue has been reported https://github.com/percolatestudio/atmosphere-beta/issues/37

[2014-02-20 11:05] skeetmtp opened #48 "Using browser history back from github don't work as expected"
- start from http://beta.atmospherejs.com/
- click on one trending package (for ex collection2)
- click on github link
- click on browser back  button : no bug , we reach collection 2 package page
- click on browser back  button again

=> see url is not matching currently displayed page

[2014-02-20 12:02] nitya opened #49 "Search needs improvement"
Search on "iron router" brings up 1 package (accounts-entry) but not the most intuitive popular result (iron-router)

Search by "iron", "router" or "iron-router" (exact hyphenated match) works as desired. However given search is central to this application, and given most packages are hyphenated names, this issue could become critical.

A simple solution could be to take the search for "iron route

[2014-02-20 12:37] sclausen commented on #47
Sorry, the issue title didn't meant anything to me, so I didn't noticed the similarity.

[2014-02-20 12:37] #47 closed, assigned to nobody

[2014-02-20 14:24] ai10 commented on #44
yes; freshmeat may be more interesting than trending.

[2014-02-20 15:52] crsssl opened #50 "Error while navigating"
... which also hurts Iron Router (or whatever you're using). FWIW, here is the console error log:
Exception in setTimeout callback: Error: Can't select in removed DomRange
    at v.$ (http://beta.atmospherejs.com/d83cf28cbc7252ae21204ab357923d3029873e06.js:9:17158)
    at Object.r.templateInstance.findAll (http://beta.atmospherejs.com/d83cf28cbc7252ae21204ab357923d3029873e06.js:9:21011)
    at htt

[2014-02-20 15:57] zol commented on #50
Thanks, @crsssl are you able to reproduce the problem?

[2014-02-20 16:06] crsssl commented on #50
I'll try. It's something surrounding the Search function. I get these errors, too, when clicking the "suggested" searches.

Exception from Deps recompute: TypeError: Object #<Object> has no method 'contributors'
    at Object.Template.packagesShow.helpers.userListData (http://beta.atmospherejs.com/d83cf28cbc7252ae21204ab357923d3029873e06.js:14:17657)
    at http://beta.atmospherejs.com/d83cf28cbc7

[2014-02-20 16:10] crsssl commented on #50
Try this, and see if you get the same problem...

1) Click on Search Packages now.
2) Choose "Popular Search" = Facebook-sdk
3) Click the Back button.
I believe the problems begin here. Methods "dailyScores", "contributors", "related" and property "name" cannot be found on whatever object they're attached to.

[2014-02-20 16:35] zol commented on #50
Awesome, thanks. I was able to reproduce it. Clicking through to a package from the popular searches page then clicking back yields the missing properties errors.

[2014-02-20 16:46] crsssl commented on #50
Great. Thanks for all this, and keep up the great work.

[2014-02-20 17:05] zol commented on #50
And thank you to you for taking the time out of your day to help us out!

[2014-02-20 17:42] domyen commented on #46
@kevohagan, great idea, fixed in the next deployment

[2014-02-20 17:49] domyen commented on #33
Fixed with the next deploy.

[2014-02-20 22:41] patrickleet commented on #43
Beautiful site, of course I had to know how it works. Although it looks pretty complicated at first glance, it’s actually quite simple.

Here’s the basic simplified site structure in jade

[code]

And some css for each overlay (theres a bit more, but these are the important parts)
{ position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
opacity:0;
z-index: -1;
transition: all 250ms ease-in-out;

[2014-02-21 02:57] SachaG opened #51 "Can't open links in new window"
It'd be nice if links were regular <a> tags.

[2014-02-21 12:51] Lauricio commented on #44
definitely

[2014-02-21 14:42] hellogerard opened #52 "Most Used not useful?"
Hello,

Firstly, great work guys. Best package repo website out there. After looking at this a lot for the past 2 days, the "Most Used" section on the home page doesn't seem to change much, which makes sense. Maybe we could replace it with something more dynamic, like "Most Recently Updated" (#44 and #28)?

Gerard

[2014-02-21 16:37] hellogerard commented on #34
Pro workaround: instead of hitting the `Back` button, hit the `s` key to bring up your last search w/ results. (Hitting `s` anywhere will bring up search.)

[2014-02-21 17:48] yasinuslu opened #53 "[Feauture]Packages from contributors"
It would be good to see all packages published from a specific contributer.

[2014-02-21 17:52] yasinuslu opened #54 "Do you plan to open source atmosphere-beta ?"
It would be a huge help to the community if you release it's source code :)

[2014-02-21 18:15] domyen commented on #53
@yasinuslu +1, this is coming soon!

[2014-02-21 18:19] domyen commented on #51
Is this the same issue as #37?

[2014-02-21 18:33] domyen commented on #43
@patrickleet spot on! We'll go over it in more detail in the next few months but you've got the meat of it.

This technique is the basis of how we transition in Atmosphere. For a meteor package that supports page-to-page transitions follow our package [iron-transitioner](http://beta.atmospherejs.com/package/iron-transitioner) (we'll be updating it soon for iron-router and meteor UI).

[2014-02-21 18:43] yasinuslu commented on #53
Great, thanks for awesome work :)

[2014-02-21 18:43] #53 closed, assigned to nobody

[2014-02-21 21:26] queso commented on #27
Actually,

I would love to see the link stay on atmosphere and show a collection of packages that user/org has published to Atmosphere.

[2014-02-21 21:28] queso commented on #54
:+1:

[2014-02-21 21:29] queso commented on #44
:+1:  I assume there is a freshness built into the package ranking?  I am sure there comes a point where a lack of updates might indicate dead projects...

[2014-02-21 21:34] zol commented on #44
Yes there is. We also factor in install count as a lack of updates but a high number of installs may signal a mature, well loved package.

On Friday, February 21, 2014 at 1:29 PM, Josh Owens wrote:

[2014-02-21 22:10] brentjanderson commented on #27
+1 - that's a better implementation, especially since they will undoubtedly have non-atmosphere projects as well.
1. 2. 2014 v 14:26, Josh Owens notifications@github.com:

[2014-02-21 22:57] chazbatrouney opened #55 "Close button not working on feedback window (on mobile Safari)"
The X (top right) is unclickable from the feedback screen, although all other functionality is available. Running latest iOS 7 with Safari.

[2014-02-22 00:30] zol commented on #55
Try harder Chaz :) agreed its a problem though.

[2014-02-22 02:02] chazbatrouney commented on #55
I was tapping like crazy with my finger, in all sorts of awkward positions.

Just thought I would give my two cents worth - but seriously, it's looking amazing!

Watched the YouTube clip from sanfran dev conference, pretty exciting for percolate.

Chaz

[2014-02-22 02:09] SachaG commented on #51
Yes :)

[2014-02-22 02:09] #51 closed, assigned to nobody

[2014-02-22 10:45] Tarang opened #56 "Use SSL"
It would be nice if atmosphere used SSL.

Some ISPs don't have websockets because they use transparent proxies which dont support them but it makes for a bit of a slow experience falling back to XHR

Of note here is that the DDP client would not be able to connect in this case, since there is no support for XHR with the node-ddp-client module. In the event that meteorite used the new atmosphere wi

[2014-02-22 12:10] kylemclaren opened #57 "Star/favorite a package in Atmosphere"
Will you guys add this functionality? So I don't have to go to the GitHub repo to do so.

[2014-02-23 04:13] tmeasday commented on #54
Yes we do! I'm not 100% sure on the timing, probably very soon!

[2014-02-23 15:27] yasinuslu commented on #54
Great to hear that @tmeasday. Thanks for all your help to the community.

[2014-02-23 15:27] #54 closed, assigned to nobody

[2014-02-24 03:36] Slava opened #58 "jade package has no GitHub repo linked"
The `jade` package has no link to its GitHub repo and its Readme.md. Not sure if it is the fault of the author or the Atmosphere: http://beta.atmospherejs.com/package/jade

[2014-02-24 17:40] zol commented on #58
It's because the git url does not end with ".git" and it's currently included in our match for deciding whether the 'git' link is for github. @tmeasday is there any reason for not loosening our regexp here and just relying on the first part of the match (github.com)

[2014-02-24 22:27] tmeasday commented on #58
I guess not. I'm not sure the package will actually work if they've mis-specified the URL however.

[2014-02-24 22:49] mquandalle commented on #58
I've fixed the git URI in the `smart.json` file. How could I refresh the atmosphere data without releasing a new version of my package? I guess this question is also relevant for a `README.md` modification.

[2014-02-24 23:29] tmeasday opened #59 "Browsing directly to anchors does not work"
See also IR#373: https://github.com/EventedMind/iron-router/issues/373

[2014-02-24 23:53] blairn opened #60 "Trying to look at more then one result from search is painful."
When looking for a package to do something, I sometimes find a bunch of packages and need to look at each one.
Not being able to open them up in different tabs isn't good, also I look and one and click on the back button, it doesn't take me back to the list of search results.

[2014-02-24 23:55] blairn opened #61 "Can't find feedback button on search page."
In the email out it says "A feedback button is on every page, you can’t miss it.", well, I couldn't find it on the search page when I wanted to give feedback.
I don't think it exists there.

[2014-02-25 06:54] zol commented on #58
You have to release a new version to fix this - you should just increment the patch version. It’s good practice to do so whenever you release something that’s changed, even if you think it should make no difference.

On Monday, February 24, 2014 at 2:49 PM, Maxime Quandalle wrote:

[2014-02-25 17:44] domyen commented on #60
Thank you for submitting. Seems like a repeat of #37 & #34. I'll close for now.

[2014-02-25 17:44] #60 closed, assigned to nobody

[2014-02-25 19:46] serkandurusoy opened #62 "Serious flaw in *trending/popular* algorithm"
As I go through which packages are trending/popular, I recognize a few from the Discover Meteor book.

It seems that those packages that are used in the book are almost always close to the top in the popular lists.

I think this points to a flaw that any (although rightfully) successful book or open source app that gets installed/run by many people will immediately render those packages used there

[2014-02-26 20:29] teknomath opened #63 "Where is the github link for a package?"
I don't see the github link for a package (in this case, bootstrap-themes)...I have some questions that the github page for the package can answer (like, the age of last update and the collection of themes included).  The old Atmosphere had a github link for every package, just like NPMjs.org does.

[2014-02-26 21:58] zol commented on #63
Most likely the git url doesn't end with .git, as in issue #58. We'll be fixing this by making the regexp less strict soon.

[2014-02-26 21:58] #63 closed, assigned to nobody

[2014-02-27 17:11] nate-strauser opened #64 "Listing of all packages in simple chronological order"
Any plans to have a simple date ordered listing of all packages, similar to atmosphere v1?  I'm sure most users dont find this too useful, but as a package author i do like to just see what's new.

Great work so far!

[2014-02-27 23:33] tmeasday commented on #25
Thanks guys

[2014-02-27 23:33] #25 closed, assigned to nobody

[2014-02-27 23:46] tmeasday commented on #41
Going to close this one and hope it goes away for you @aldeed

[2014-02-27 23:46] #41 closed, assigned to nobody

[2014-02-27 23:47] tmeasday commented on #42
Hmm. That's a funny one.

Not sure there's much we can do about it. @dominicnguyen ?

[2014-02-27 23:47] tmeasday commented on #44
Going to close this as a dupe of #28

[2014-02-27 23:47] #44 closed, assigned to nobody

[2014-02-27 23:49] tmeasday commented on #48
This is actually a bug in iron-router: https://github.com/EventedMind/iron-router/issues/250

Will be fixed in the next release of IR and soon after here.

[2014-02-27 23:49] #48 closed, assigned to nobody

[2014-02-28 00:36] tmeasday commented on #49
Also: #38 and #26

[2014-02-28 00:37] tmeasday commented on #38
Going to close this and deal with it as part of #49

[2014-02-28 00:37] #38 closed, assigned to nobody

[2014-02-28 00:37] tmeasday commented on #26
Going to close this and deal with it as part of #49

[2014-02-28 00:37] #26 closed, assigned to nobody

[2014-02-28 00:38] tmeasday commented on #50
This is a problem with the cmather branch of IR that hopefully will never make it into real release of IR :) Thanks for the great report @crsssl

[2014-02-28 00:39] tmeasday commented on #52
Thanks for the report @hellogerard. We're going to stew on this a bit longer but for now I'll close this and cover it under #28

[2014-02-28 00:39] #52 closed, assigned to nobody

[2014-02-28 00:40] tmeasday commented on #56
Good point. Thanks @Tarangp .

@zol  - can you sort this when you have a chance?

[2014-02-28 00:41] tmeasday commented on #57
Hey @kylemclaren. Definitely a planned feature. Not sure exactly when it'll appear. :)

[2014-02-28 00:43] tmeasday commented on #61
@blairn heh, fair point. I guess we'd argue that the search is an overlay, not a page; but then that'd be being pedantic ;)

[2014-02-28 00:43] #61 closed, assigned to nobody

[2014-02-28 00:44] tmeasday commented on #64
Hey @nate-strauser -- yeah this is a popular feature request. Will close this and track it as #28

[2014-02-28 00:44] #64 closed, assigned to nobody

[2014-02-28 00:53] tmeasday commented on #62
Hey @serkandurusoy, thanks for the detailed thoughts and write up.

Here's our current thinking on all this:
1. Packages from the book:
   - Well I guess they must still be popular. We updated the book to use IR in late november and only started tracking package downloads in late december, so I can only conclude there must be a significant group of people that haven't made the transition yet.
   -

[2014-02-28 00:53] #62 closed, assigned to nobody

[2014-02-28 02:53] tmeasday opened #65 "test"
test

[2014-02-28 02:54] #65 closed, assigned to nobody

[2014-02-28 03:35] tmeasday opened #66 "test"
test

[2014-02-28 04:14] tmeasday commented on #40
Thanks @Slava - good one.

[2014-02-28 04:16] #24 closed, assigned to tmeasday

[2014-02-28 04:16] tmeasday opened #67 "test"
test

[2014-02-28 04:16] tmeasday commented on #32
Thanks @serkandurusoy, good one.

[2014-02-28 04:16] #32 closed, assigned to nobody

[2014-02-28 04:16] #33 closed, assigned to nobody

[2014-02-28 04:17] #37 closed, assigned to nobody

[2014-02-28 04:17] #40 closed, assigned to nobody

[2014-02-28 04:17] #46 closed, assigned to nobody

[2014-02-28 04:17] #66 closed, assigned to nobody

[2014-02-28 04:17] #67 closed, assigned to nobody

[2014-02-28 11:53] kylemclaren commented on #57
@tmeasday Good to hear! Possibly have the option of signing in with Meteor developer account and/or GitHub :) Cheers.

[2014-02-28 13:58] dandv commented on #57
:star:

[2014-02-28 14:00] dandv commented on #31
Search is so extremely fast for me, that I never felt the need for a loading indicator. In fact I was hoping to look in the source code to learn how they made it so fast, because the old Atmosphere was quite slow.

[2014-02-28 14:05] dandv commented on #54
:+1:! I was most curious about the extremely fast search (v1 was quite slow, and it loaded the entire collection of packages on the client). Seems like a pub/sub autocomplete package could be factored out, because the two we have right now do autocompletion only on the client - [typeahead](https://github.com/sergeyt/meteor-typeahead/issues/4) and [autocomplete](https://github.com/mizzao/meteor-aut

[2014-02-28 18:56] serkandurusoy commented on #31
What about network lags? Those who are on mobile broadband or any other slow collection? I'm still experiencing slow search results.

[2014-02-28 19:01] serkandurusoy commented on #62
1) I'd want them hidden/shown by preference. I, for one, believe that the popularity of an app translating to inevitable popularity of a package is kind of unhealthy in terms of data meaning.

2) I'm intrigued :)

3) Does not matter if full downloads are required. Packages are mere kilobytes and one can very easily download packages multiple times over some time and bias the whole popularity ranki

[2014-02-28 21:42] domyen commented on #42
There isn't much we can do about it without changing the structure of our app (which is optimized for iron-transitioner). Let's wait till we get there and reassess.

[2014-02-28 23:25] domyen commented on #35
Thank you for the feedback @cmalven it's really insightful.

**Intent of sparklines**
Our goal is to highlight which packages are notable _and_ reliable.

**Recommendation**
We workshopped this internally with the help of @danieljkatz. We're coalescing around reworking the graph to illustrate downloads over time in comparison to the median downloads over the same period for the entire ecosystem. W

[2014-02-28 23:53] domyen commented on #34
This is interesting. Perhaps we need a way to easily get back to the search results overlay via the back button.

@tmeasday What do you think about enabling this in the router and mapping it to a URL parameter only when the search is active. e.g., /package/search?q=jquery

A simple flow might be:
1. Home (/)
2. Search (/search?q=jquery)
3. Package (/jquery-ui)

If a user is on the site we keep con

[2014-03-01 02:04] domyen commented on #31
@serkandurusoy good to design such allowances into the product.  We'll push this change with the next build.

[2014-03-01 05:43] Art1Sec8 opened #68 "Suggestion - ability to rate packages"
Have you thought about allowing users to rate packages? It might help to weed out the buggy packages.

[2014-03-01 08:27] serkandurusoy commented on #31
Hi @dominicnguyen good to hear that, I'm working from a (_ehem_) sailboat and that's constantly reminding me of the 14.4 baud modem era.

[2014-03-01 23:21] jacksondc commented on #68
+1

[2014-03-02 02:48] dandv opened #69 ""This package doesn't have a readme yet" on houston"
That error shows up at http://beta.atmospherejs.com/package/houston, but its GitHub does show a `README.md`. I remember the occasional "README not found" was a problem with the old atmosphere too.

[2014-03-02 02:50] dandv commented on #68
There's a similar suggestion for starring packages (#57), but I think rating would let users express a more nuanced opinion. Feel free to use my [jquery-rateit](http://beta.atmospherejs.com/package/jquery-rateit) package :)

@Art1Sec8: can you please edit the title of the issue and change "Suggestion" to something more precise? Thanks!

[2014-03-02 19:24] tomrogers3 opened #70 "Back button behavior inconsistent, e.g. from search results"
Hi, am really liking the new atmosphere look and features. This is just a small piece of feedback - back button behavior should ideally be consistent with typical user expectations and go back to the previous page. For example from search results it should go back to the search page, not home. Any questions just let me know. Thanks!

[2014-03-02 19:26] tomrogers3 commented on #70
Noticed this is a duplicate of #34, couldn't see that at the time of submitting feedback from the atmosphere beta site. Closing.

[2014-03-02 19:26] #70 closed, assigned to nobody

[2014-03-03 06:57] tmeasday commented on #28
@dominicnguyen - added a recent packages section to the home page. Ideally we'd also show the date on the grid as well as @Lepozepo suggested.

[2014-03-03 06:57] tmeasday commented on #28
(In devel branch)

[2014-03-03 07:04] tmeasday commented on #69
Github is returning a 404. I guess it's because @gterrono moved the package.

I guess the answer here is to ask him to kindly update his package's metadata with the correct info.

[2014-03-03 07:13] gterrono commented on #69
Should be fixed now. Thanks for letting me know.

[2014-03-03 07:21] tmeasday commented on #34
This is a tricky one but I think it's a good idea.

[2014-03-03 07:22] #69 closed, assigned to tmeasday

[2014-03-03 07:23] tmeasday commented on #50
Moving down the stack as I think we can live with it until @cmather hunts down the solution.

[2014-03-03 11:35] dandv opened #71 "Proper, clickable links for search results"
When comparing different packages, I would like to click on some of the search results to open them in new tabs. Right click however doesn't work - there's no `a` element in the `module packagesItem` list items, though the cursor has a pointer shape.

[2014-03-03 11:36] dandv opened #72 "Anyone else not enthusiastic about the search overlay?"
Maybe it's just me, or the novelty of it, but I find the interaction with the search overlay popping up and covering everything else, a bit... unwieldy?

[2014-03-03 16:41] serkandurusoy opened #73 "Most used section is empty"
As of now (Mar 3, 16:40GMT) the most used section renders empty for all given timeframes.

[2014-03-03 16:42] serkandurusoy commented on #72
It kind of has not grown on me yet, either.

[2014-03-03 17:00] zol commented on #73
Working fine here.

[2014-03-03 17:00] #73 closed, assigned to nobody

[2014-03-03 17:05] zol commented on #72
Perhaps it's too undiscoverable but the design underpinnings of the search overlay are:
- Your search results are preserved when you close the overlay. (allowing you to come back to your last search)
- You can use the 's' hotkey to bring up the search.

Did you guys find those features?

This allows for a user flow that's similar to cmd+s for spotlight search on a mac. The risk is that this intera

[2014-03-03 18:41] serkandurusoy commented on #72
I just realized I've been hitting the `esc` key to hide the overlay intuitively, nice! But in general, I'm still feeling a little bit awkward when using search, with no tangible reason whatsoever. Also, my complaint about the site being not so use friendly for lo-band connections apply to search as well. I'm writing this from a boat, there is heavy rain and storm, the connection is quite bad, and

[2014-03-03 19:20] domyen commented on #28
@tmeasday - Done in devel, please hookup dates for recent packages only.

**Format**
1. Current day: '#h'
e.g., Package was updated 2 hours ago shows '2h'.
2. Yesterday and beyond: 'Month Date'
e.g., Package was updated 2 days ago shows 'Mar 1'

[2014-03-03 19:24] domyen commented on #31
@tmeasday reference 5b3fd2749b07d20f3caf3719a0127e3e4e77f18c.
I've commented out the location where we add a 'search-loading' class when a search is...loading :)

[2014-03-03 23:16] dandv commented on #72
I did notice that search results were preserved... maybe it would be more discoverable if the overlay was a bit smaller, so it doesn't look like it replaced the page? Something like a pull-down console thing maybe, like in Unity or old-school games like Quake? (I think ` activated it there)

[2014-03-04 06:19] tmeasday commented on #31
Done.

[2014-03-04 07:08] tmeasday commented on #28
Done

[2014-03-04 18:25] domyen opened #74 "System messaging/notification"
Notification infrastructure to be able to surface actions on packages (follow, copied, etc) or to highlight connection problems (trying to reconnect, you're not connected to the internet)

[2014-03-04 20:41] pmuens opened #75 "Search-Result fades away if one opens package in search-Result with 'cmd' + 'left mouse click'"
This might be related to #71:

If I've searched for packages and get the search-Result back, I can open the displayed packages in a new tab by pressing 'cmd' + 'left mouse click' on my MAC.

However, if I do so, the search popup will fade away. The detailed information for the package opens up in a new tab but it would be great if the search-Result won't fade away.

BTW: Awesome work guys!

[2014-03-04 22:52] domyen commented on #75
Cheers, added this issue to the next milestone. Should be out shortly.

[2014-03-04 23:09] domyen commented on #58
This seems fixed. Closing.

[2014-03-04 23:09] #58 closed, assigned to tmeasday

[2014-03-04 23:18] domyen commented on #28
Note: we'll tackle linking off to package lists for 'trending', 'recent' and 'most used' in the near future. @dburles requested this earlier in the beta.

[2014-03-05 00:07] domyen commented on #31
Confirmed.

[2014-03-05 00:07] #31 closed, assigned to tmeasday

[2014-03-05 00:14] domyen commented on #71
Going out with the next release. 2cbf92979d0b4034ec84778e69a87f687248d1f3

[2014-03-05 05:13] Dsyko opened #76 "Links within Readme.md are hijacked and converted to relative URL rather than going to absolute URL"
When you are looking at a packages Readme.md within Atmosphere and it has a link which points to an external resource, clicking the link takes you to a http://beta.atmospherejs.com/ link rather than the intended url.

For example in the package http://beta.atmospherejs.com/package/entypo clicking on the link to the icon map takes you to http://beta.atmospherejs.com/meteor-entypo/ rather than the p

[2014-03-05 09:32] pmuens commented on #75
Awesome! Thanks!

[2014-03-05 17:54] #71 closed, assigned to domyen

[2014-03-05 17:55] #55 closed, assigned to domyen

[2014-03-05 17:57] #75 closed, assigned to tmeasday

[2014-03-05 21:53] tmeasday commented on #76
Did those links use to work directly from Github (https://github.com/Dsyko/meteor-entypo/) ? I see you’ve changed them to absolute URLs now..

[2014-03-05 22:00] Dsyko commented on #76
Yeah they seem to work on github just fine. I'm not sure what you mean by change them to absolute URLs, I haven't made any changes, I don't think I ever had them as relative URLs.

 The same problem comes up with other packages as well. See the Font-Awesome package: http://beta.atmospherejs.com/package/font-awesome and try to click on any of the links there.

Maybe this is only happening on my mac

[2014-03-06 01:57] tmeasday commented on #76
No, sorry you are right!

I assumed that the URLs must have been relative and that's why it didn't work, but I see now that we are hijacking absolute URLs somehow. It's most likely an Iron Router bug.

I'll look into it.

[2014-03-06 02:02] Dsyko commented on #76
Ahh ok, good to know my browser isn't going crazy :)

Thanks for looking into it!

[2014-03-06 12:40] dandv commented on #76
+1 - same problem at http://beta.atmospherejs.com/package/observatory-apollo. Link does look absolute when inspecting the element.

A different problem with the "documentation" link at http://beta.atmospherejs.com/package/winston - it yields a 404.

[2014-03-06 12:43] dandv opened #77 "Add tooltip for "100" and other download markers"
What does the "100" mean in the [history of a package](http://beta.atmospherejs.com/package/winston)? For some reason (maybe because my eyes came there after seeing the GitHub link, and because the history mentioned **releases**), I thought it meant that the project had reached the 100 commits milestone, but I think it means 100 downloads.

"100" is also a bit of a false activity indicator... e.g.

[2014-03-06 19:33] domyen commented on #28
@tmeasday Bug: When the date is past 1 day, the date shows up as Mar 4th, we should get rid of the 'th'. See screenshot.

Mar 4th >>>> Mar 4

![screenshot 2014-03-06 11 32 01](https://f.cloud.github.com/assets/263385/2349631/2f50ea40-a566-11e3-8f1b-a769afa660d3.png)

[2014-03-07 00:59] domyen opened #78 "Menu: Toggle the keyboard shortcut icons when 'mobile'"

[2014-03-07 05:16] emgee3 commented on #76
Oh man, I thought I was going nuts... temporary workaround is to open links in new tab.

[2014-03-07 16:28] pmuens opened #79 "Safari Only: Tab opens twice when clicking on the package-Name with CMD + 'Left mouse'"
If one opens the detail-Page of a package by clicking CMD + 'Left Mouse' on the Package-Name (e.g. in the trending section) the tab will open up twice.

I face this issue on a Mac with the Safari web browser.
The strange thing is that this issue only occurs when operating with Safari.

Thanks in advance!

[2014-03-08 01:41] dburles opened #80 "No loading animation for package view"
The package view should load a bit nicer, at the moment the footer will sit at the very top while the page is loading, see screenshot.  [edit: notice the menu, title and feedback button]

![screen shot 2014-03-08 at 12 40 42 pm](https://f.cloud.github.com/assets/319567/2364146/b959531a-a662-11e3-8794-7e3a681b3104.png)

[2014-03-08 13:36] dburles opened #81 "Servers, 503's"
Seeing a lot of "503 Service Unavailable, No server is available to handle this request."

[2014-03-09 19:12] domyen commented on #80
Cheers @dburles. @tmeasday and I be looking at this along with page-to-page transitions and animations when there is resolution around iron-router with blaze. Definitely will not be forgotten about.

[2014-03-09 19:15] domyen commented on #81
I've experienced this as well. @zol have you been seeing this as well?

[2014-03-10 17:44] zol commented on #81
Yeah, the backend was struggling this weekend (of all weekends) when T and I were both off the air. On hindsight, should have left a secondary node on, which is what T did to combat the problem. We'll investigate this week.

[2014-03-10 17:44] #81 closed, assigned to zol

[2014-03-10 18:21] domyen commented on #77
Cheers @dandv, tooltips will be going out with the next release.

**Re: activity indicator**
I'm curious to see if this remains the case as the scale of downloads in the ecosystem increases. e.g., What download milestone can the community expect a 'well-used' package to have in the future  (Iron-router is at 5k).

[2014-03-10 18:31] domyen commented on #78
Keyboard shortcut ui now only appears on mid-large screens.

[2014-03-11 00:12] domyen opened #82 "Mixpanel: QA & test"
QA & Test current mixpanel infrastructure.

[2014-03-11 00:34] domyen opened #83 "Meta tag: update "desc" with package description"

[2014-03-11 05:57] tmeasday commented on #79
Good pickup @pmuens -- actually it just happens if you happen to click the title -- due to us using a `<a>` element _and_ a link handler.

[2014-03-11 06:02] tmeasday commented on #76
It was a bug I introduced in the new-location branch. Thanks for the report.

[2014-03-11 06:12] #78 closed, assigned to domyen

[2014-03-11 06:23] #28 closed, assigned to tmeasday

[2014-03-11 06:23] #59 closed, assigned to tmeasday

[2014-03-11 06:23] #76 closed, assigned to tmeasday

[2014-03-11 06:23] #79 closed, assigned to tmeasday

[2014-03-11 06:23] #83 closed, assigned to tmeasday

[2014-03-11 07:01] #77 closed, assigned to domyen

[2014-03-12 06:38] tmeasday commented on #34
Ok, I worked at this for a while but it really runs counter to the design of the Iron Router to try and have a page rendered on the screen (what's under the overlay) that's not encapsulated in the URL.

So the only way I can see to do it would be to work in some kind of hash approach, like `/packages/iron-router#search=foo`, but I'd be worried that that would cause problems in conflicting with _re

[2014-03-12 06:46] tmeasday commented on #49
Ok, did a vaguely better search:
- properly splits up terms
- searches author name
1. I don't think there's much we can do about the packages that have github URLs in their descriptions. This is kind of poor metadata on those packages.
2. We could search the readme, but I feel this is going to get a lot of false positives.

I think we can improve this further once MDG is hosting the data and it's

[2014-03-13 02:12] hellotoby opened #84 "Provide a way to browse all packages"
Please provide a way to browse all packages.

This helps a lot when you kind of know what you want, but aren't sure of the keywords to search for.

[2014-03-13 07:38] tmeasday commented on #34
Ok. Did this via method 2 in there (using `replaceState`).

Still not entirely sure it's not janky, but it's kinda cool. Please test @dominicnguyen

[2014-03-13 17:52] domyen commented on #34
This is quite cool @tmeasday. The Atmosphere situation is a bit non-standard but one that we've run into in the past and I expect one that we'll run into in the future as well. I think it satisfies a lot of interaction that's been requested. However, I think we should try to shoot for a URL update to make page-to-page changes transparent to the end user.

For consideration:
![pushstate-02-02](http

[2014-03-14 01:04] tmeasday commented on #34
1. Regarding your first point (what URL to use).

   As I vaguely outlined above, it's not possible to not include the underlying page URL in the "search overlay URL". I see two options:
    a. `/packages/foo?q=bar`
    b. `/packages/foo#q=bar`

   Both have potential "overlaps" with existing query strings or hashes, but I guess a. we can control by just not using the parameter `q` anywhere else.

[2014-03-14 01:52] domyen commented on #34
So the decision is
1. update url format to /packages/foo?q=bar
2. keep double transition with the intent to delay page load from bar to foo until _after_ the overlay animation finishes (pending iron-transitioner)

[2014-03-14 05:16] tmeasday commented on #34
OK. Done. Please test.

[2014-03-14 07:21] tmeasday opened #85 "Search landing page says "no packages" while it loads"
Most likely needs to just wait on it's sub.

[2014-03-14 17:36] domyen commented on #34
It's working pretty well.

I found a bug where a users search session doesn't persist.
Repro:
1. Open localhost:3000 in a private window
2. Bring up search using 's' key or 'search' link and type in 'fa'
3. Click on a package from search results
4. Land on the intended page
5. Bug: notice that the search text in the menu isn't updated to read 'fa'
6. Bug: open up the search again and notice that t

[2014-03-14 17:40] domyen opened #86 "Search: [Enter] key causes search spinner to endlessly spin"
Repro:
1. Open localhost:3000
2. Activate search
3. Type 'fa' into the input
4. Wait for the results to load and the spinner to be replaced with the magnifying glass icon
5. Bug: press [Enter/Return], the spinner now spins tirelessly despite the fact that all results are accounted for

[2014-03-16 11:09] Nomeasmo opened #87 "Back button after clicking a search result item should go back to the results page"
It puzzles if a back goes back two steps. The behavior of keeping the search results is pretty nice though.

[2014-03-17 06:17] tmeasday commented on #87
Thanks @Nomeasmo - this is a dupe of #34.

[2014-03-17 06:17] #87 closed, assigned to nobody

[2014-03-17 06:22] tmeasday commented on #34
Fixed. Are we good to deploy this?

[2014-03-17 17:06] domyen commented on #86
@tmeasday New bug: Opening search for the first time causes the spinner to activate even though the query is blank.

[2014-03-17 17:11] domyen commented on #34
This is good. I'm going to close and open up the Iron-Transitioner issue to sequence animations for browser back & browser forward.

[2014-03-17 17:11] #34 closed, assigned to tmeasday

[2014-03-17 17:13] domyen commented on #49
@tmeasday Perhaps we don't register URLs in search via a regex? Other than that I think we're good for now.

[2014-03-17 18:08] rdickert opened #88 "Bitbucket-hosted package has no links"
I was checking out packages that add an editor and found the package [sp-epic-editor](http://beta.atmospherejs.com/package/sp-epic-editor).  I was confused when I couldn't get to the github page from the Atmosphere page. Turns out, it's hosted on bitbucket, and Atmosphere doesn't provide buttons to find the repo, whereas a github-hosted project has both a "Github" and a "Report Bugs" link. If Bitb

[2014-03-17 22:27] tmeasday commented on #49
What do you mean exactly? Do you mean match `term` **as long as it's _not_ in a URL**?

[2014-03-17 22:50] tmeasday commented on #86
Fixed. Please check.

[2014-03-17 22:54] domyen commented on #49
e.g., Say we have a description that looks like "this package is a meteor wrapper for bootstrap (http://bootstrap.com)", we'd only register the keywords "this package is a meteor wrapper for bootstrap" and omit the URL.

From a best practice standpoint, URL's shouldn't be in the description.

[2014-03-17 23:03] domyen commented on #88
We'll take these good suggestions onboard when we tackle edge cases like this. Since we're focussing most of our efforts on Github, Bitbucket isn't supported at this time but perhaps will be in the future.

Example packages that aren't on GH for future reference:
- (ms-seo)[http://beta.atmospherejs.com/package/ms-seo]
- (sp-epic-editor)[http://beta.atmospherejs.com/package/sp-epic-editor]

[2014-03-17 23:20] #86 closed, assigned to tmeasday

[2014-03-18 00:48] tmeasday commented on #49
Hmm. I tried to figure out how to avoid matching URLs via a regexp but didn't have an success.

@zol - any ideas? I need a way, given say `"github"` to construct a regexp `RE` such that:

[code]

Any thoughts?

[2014-03-18 00:48] tmeasday commented on #49
Oh and it also needs to work with any substring of `"github"`.

[2014-03-18 01:43] #85 closed, assigned to nobody

[2014-03-18 02:26] tmeasday commented on #49
Going to move this to future as everything bar URLs is resolved (and I don't know how to fix that).

[2014-03-18 02:27] tmeasday commented on #82
Ping @zol

[2014-03-18 02:40] tmeasday commented on #26
I've improved the search to search author names (e.g. "Zoltan Olah"). It doesn't pick up names in the github URLs or readmes as yet.

The reason is that because the search isn't very smart yet (just uses a full-text search, not an index or relevance or anything like that), searching these would lead to a lot of false positives.

[2014-03-18 03:04] tmeasday opened #89 "scrolling hookup on `rendered` event is wrong"
Can still trigger problems. Repro
1. Load a search URL directly: e.g. http://localhost:3000?q=foo
2. Close the search overlay
3. Scroll down.

[2014-03-18 17:07] domyen commented on #89
@tmeasday When I load a search page on the home screen, closing the overlay does not take me back to home but rather to the new blank tab/window. Is this what you're describing above?

[2014-03-18 17:50] domyen opened #90 "Home: trigger package grid animations once"
Grid animations are triggered every load of home. @tmeasday is it possible to only trigger them once per session (i.e., when you go back to a home page from another page on the site you shouldn't see the homepage animation again)

[2014-03-18 19:34] Tarang opened #91 "I was searching and got this error 'options need $regex'"
Full text of error below (as at time of this issue)

[code]

[2014-03-18 23:32] serkandurusoy opened #92 "List of recent items seems to omit the most recent 24 hours"
I currently have both sites open side by side and beta's recent items start with phaserio whereas on the v1, there seems to be ~30 packages released/updated after that.

What's outstanding (perhaps just coincidentally) is that v1 shows phaserio as the first package timestamped as "a day ago" while others following are "xx hours ago"

[2014-03-19 02:02] tmeasday commented on #91
I could reproduce this by searching for "$foo"

[2014-03-19 04:14] tmeasday commented on #92
Yes! I accidentally turned off the syncing. Thanks for the report @serkandurusoy

[2014-03-19 04:14] #92 closed, assigned to nobody

[2014-03-19 12:30] kylemclaren opened #93 "README not appearing (Chrome)"
For some reason the README doc is not pulling in.

![screen shot 2014-03-19 at 2 27 02 pm](https://f.cloud.github.com/assets/3727384/2459835/1b1bc1e8-af62-11e3-902b-fcd8a2392779.png)

[2014-03-19 17:20] domyen commented on #93
If a package is very very new it takes a moment to show the readme. This state usually appears in the interim while we pull the readme from Github.

@kylemclaren http://beta.atmospherejs.com/package/bootswatch-darkly seems to have a readme.

[2014-03-20 00:23] #93 closed, assigned to nobody

[2014-03-20 05:20] tmeasday commented on #89
Yes! You are right. I should check for this.

[2014-03-20 06:05] tmeasday opened #94 "It can take a while for packages to appear after publication."

[2014-03-20 07:23] kylemclaren commented on #93
Think it's an issue with Chrome as it works with Safari 100%. I'll disable some extensions and see what could be blocking it..

[2014-03-20 07:55] domyen commented on #93
Let me know how it goes. I wasn't able to reproduce on Chrome earlier but
if there's a sequence of steps that triggers this behavior I would like to
get to the bottom of it.

On Thursday, March 20, 2014, Kyle McLaren notifications@github.com wrote:

##

_Dominic Nguyen_
Design Lead
http://percolatestudio.com
@domyen
+1 858 335 1680

[2014-03-20 19:08] zol commented on #82
As a first step I've reset the data points for the production project in mixpanel and emailed their staff to update our quote. As soon as they've done this I will look closer at our events.

To clarify, the issue is that events seem to get tracked multiple times.

[2014-03-21 00:41] yasinuslu commented on #36
+1

[2014-03-21 11:34] matteodem opened #95 "Package "keybindings" says that it isn't my package but it is."
Hey there

I got this problem nowhere but with "keybindings", can that be fixed? I wanted to push a new release but this got in the way.

[2014-03-21 19:09] zol commented on #82
I've disabled mixpanel tracking for now as GA covers the metrics we're interested in for the moment (pageviews).

[2014-03-21 19:09] #82 closed, assigned to zol

[2014-03-21 21:02] domyen commented on #95
We'd like to help, can you clarify the problem?

[2014-03-21 21:08] domyen opened #96 "Search: Remove limit on search results displayed"
There is a limit on the number of search results displayed. Find a way to remove the limit while maintaining speed & responsiveness.
1. Search 'f'
2. Notice that it has more than a hundred packages
3. Scroll down and see that it only loads 20 packages

@tmeasday any ideas? Perhaps load the initial 20 and infinite scroll to load the rest?

[2014-03-21 21:15] domyen opened #97 "Search: Overlay appears on initial page load of every page"
When loading a page, it first renders the search overlay and then animates to the intended page. This seems like a regression.

@tmeasday please have a look.

[2014-03-22 09:13] tmeasday commented on #95
Hey @matteodem - that's odd. What's your username on atmosphere? It appears to be owned by 'matdem'.

[2014-03-22 22:31] matteodem commented on #95
Hello there, that might be my old username. Is there anyway to qualify that I'm the rightful owner of the package and change it to "matteodem"?

[2014-03-23 15:27] nooitaf opened #98 "Search, more precise query hits less."
![screen shot 2014-03-23 at 16 13 55](https://f.cloud.github.com/assets/1898194/2493626/a8edd1b6-b29e-11e3-8100-27d58befcdeb.jpg)

![screen shot 2014-03-23 at 16 14 08](https://f.cloud.github.com/assets/1898194/2493627/ad81d9ca-b29e-11e3-859f-edabffb485d2.jpg)

[2014-03-23 16:37] marcodejongh opened #99 "Readme is not loading"
The notifications repository has a readme.md but for some reason its not loading
http://beta.atmospherejs.com/package/notifications

[2014-03-23 22:46] tmeasday commented on #95
I added matteodem as an owner of the package.

[2014-03-23 22:46] #95 closed, assigned to nobody

[2014-03-23 23:05] domyen commented on #99
Hey @marcodejongh, we load the readme from Github at the moment so Atmosphere users should add the Github url of their packages to show readmes. This may change in the future to support folks w/o GH or who use other services like Bitbucket.

For now I'm going to close and link to a similar issue: https://github.com/percolatestudio/atmosphere-beta/issues/88

[2014-03-24 01:48] tmeasday commented on #91
Hmm.. Not seeing this any more. @Tarangp - can you reproduce?

[2014-03-24 02:19] tmeasday commented on #89
The original problem is a weird one.

For some reason, when the homepage re-renders (due to the overlay closing), the waypoints stop working. Due to the nature of blaze, `rendered` doesn't get called again, so we can't fix it.

I can't figure out why the waypoints stop working (it happens even when there are no CSS changes). I'll need to dig into the waypoints source to try and figure out it.

The

[2014-03-24 05:56] yasinuslu opened #100 "Flickering on search"
Left panel flickers when i open or close search view.

[code]

[2014-03-24 07:44] domyen opened #101 "Search: Result disappear from DOM when search is dismissed"
@tmeasday In the circumstance that a user:
1. searches first for 'foo'
2. clicks on a result
3. opens the overlay again

It seems that we request the results again when re-opening the overlay. This seems like it could possibly lead to performance issues because we're reloading the same data multiple times, however it may lead to a more responsive user experience... any thoughts?

[2014-03-24 07:44] marcodejongh commented on #99
@dominicnguyen Ah found the problem after your comment. I included the github url without the git extension and then it doesn't work. So maybe it should be programmed more defensively or it should be documented that you should include the .git extension

[2014-03-24 17:23] domyen opened #102 "Base URL Redirects"
URLs (with and without trailing slash):
1. http://beta.atmospherejs.com/package/
2. http://beta.atmospherejs.com/packages/
3. Noindex 404 pages

Should redirect to home (/). Right now we're generating a 404 for Google.

[2014-03-24 18:30] domyen commented on #99
@tmeasday any reason why we require the .git extension? This may be resolved with MDG sorts out the packaging backend.

[2014-03-25 00:15] domyen commented on #100
@yasinuslu, I can't seem to reproduce this, any tips?

[2014-03-25 00:52] tmeasday commented on #89
Closing this as we aren't doing it anymore

[2014-03-25 00:52] #89 closed, assigned to tmeasday

[2014-03-25 01:12] tmeasday opened #103 "Figure out IT layout"
This is a placeholder for some issues that we are going to have to figure out
- [ ] header / footer
- [ ] adding a class for the current page to the layout (for header color)?
- [ ] scroll position -- which element is scrollable, do we store scroll position per history entry?

[2014-03-25 01:21] yasinuslu commented on #100
I'm on archlinux and using latest chromium. I just tested with chrome beta (34) without problems. Seems like the problem is specific for my current chromium build, sorry about that.

[2014-03-25 01:56] domyen commented on #100
No worries. Thanks for the report!

[2014-03-25 01:56] #100 closed, assigned to domyen

[2014-03-25 02:16] #102 closed, assigned to tmeasday

[2014-03-25 02:16] #101 closed, assigned to tmeasday

[2014-03-25 02:22] domyen commented on #99
@marcodejongh thanks for the suggestion. Packages should now work without .git extension.

[2014-03-25 02:22] #99 closed, assigned to tmeasday

[2014-03-25 02:23] #97 closed, assigned to tmeasday

[2014-03-25 02:23] domyen commented on #98
@nooitaf thanks, should be fixed now!

[2014-03-25 02:23] #98 closed, assigned to tmeasday

[2014-03-25 19:03] #49 closed, assigned to tmeasday

[2014-03-25 19:08] domyen commented on #72
We've taken this feedback on board and further refined the search experience:
- Back button on search now available
- 'Searching' spinner for slower connections
- Open packages in new tabs
- Better query matching

I'll close this issue for now. If there are specific improvements feel free to make a new issue. Thanks folks. :)

[2014-03-25 19:08] #72 closed, assigned to nobody

[2014-03-25 19:09] domyen commented on #80
Will be tackled by Iron Transitioner integration in the next week or two. https://github.com/percolatestudio/atmosphere-beta/issues/103

[2014-03-25 19:09] #80 closed, assigned to domyen

[2014-03-25 19:12] domyen commented on #27
@queso @brentjanderson  This is next on the roadmap. Specifically we'll be adding Atmosphere accounts via Meteor oauth. Closing issue for now.

[2014-03-25 19:12] #27 closed, assigned to nobody

[2014-03-26 00:23] tmeasday commented on #80
I think this is already fixed anyway.

[2014-03-26 05:33] miraten opened #104 "Atmosphere login?"
I was going to publish my own package to the Atmosphere.
When the release done using 'mrt release ./' command, the prompt appears to input username/password.
I entered my Meteor account, and my GitHub account to get the message 'User not found'.
There is no sign up link in the Atmosphere Home.

What should I do?

[2014-03-26 05:37] tmeasday commented on #104
Oh, sorry! I hadn't thought of this. You can sign up at http://atmosphere.meteor.com/accounts

[2014-03-26 05:50] tmeasday commented on #104
I updated the documentation to explicitly mention this but I think we need to make it clearer.

[2014-03-26 06:28] domyen commented on #90
Ended up editing grid animations out.

[2014-03-26 06:28] #90 closed, assigned to nobody

[2014-03-26 08:43] iwanjunaid opened #105 "Thousand Separator for Number of Downloads"
Please provide thousand separator for number of downloaded for particular package.

[2014-03-26 08:59] kylemclaren commented on #93
@dominicnguyen Working now. Wondering if it could be an HTTPS issue as discussed [here](https://groups.google.com/forum/#!topic/meteor-talk/OLmn04jiUNo) because looks like you guys have added SSL. May have been related to my ISP or the AVAST! plugin on Chrome. Didn't have a chance to test properly but all good. Thanks for the good work!

[2014-03-26 09:23] miraten commented on #104
Thanks, I released my package successfully.

It is a simple, but more featured i18n package inspired by Telescope source.

[2014-03-26 09:40] serkandurusoy commented on #96
+1

I actually got here to see if anyone else has reported this issue. Getting only 20 packages is very limiting. Not just for large-span searches like "f", but for highly critical searches like "collection" as well! This has 65 hits but only 20 results displayed :(

[2014-03-26 09:44] serkandurusoy commented on #84
I'd like to be able to see a list of all available packages as well, but also be able to sort them (date, name, publisher).

I browse atmosphere almost daily to see what's new! And scroll all the way down every once a couple of weeks to remind me of what can be done, what has already been done so that I get some ideas about my app, or perhaps new apps.

The old atmosphere used to provide a means t

[2014-03-26 09:46] serkandurusoy opened #106 "don't limit recent items to 10"
The recent items section on the home page limits the item count to 10. Well, there are days when more than 20 items are released/updated. Especially those days when CFS gets some update :)

Well, We should have some means to expand that list.

While at it, why not provide means to expand other sections (trending, most used ...)

[2014-03-26 12:56] Lauricio commented on #106
+1

[2014-03-26 14:53] dwlf commented on #104
@tmeasday> I updated the documentation to explicitly mention this but I think we need to make it clearer.

Right, the log in design pattern is to have a log in button in the menu bar. And I'd hope the accounts page would be in the new design (v2).

1.1 The PDF of your book Discover Meteor reads:
"Second Note: You'll need to login at http://atmosphere.meteor.com and create a username and password w

[2014-03-26 17:42] domyen commented on #105
Coming up!

[2014-03-27 00:47] tmeasday commented on #104
Hey @lloydde - I appreciate this is confusing and we'll do our best to make it clearer. It's a temporary situation while we await official packaging support.

For now, you need to just head to http://atmosphere.meteor.com/accounts, create an account (with the login buttons on the top right), [1], and then you should be good to use that for `mrt publish` & friends.

It's not possible to host v1 at

[2014-03-27 05:51] shaneseaton commented on #106
The limit is..well...limiting!!

[2014-03-27 06:00] willemx commented on #106
Yes!
I miss this feature as much as I like the new layout...

[2014-03-27 06:09] willemx commented on #84
+1
Just a simple boring list like in the old atmosphere would be fine. No fancy makeup needed for this feature, just display as much items as will fit on the screen.

[2014-03-27 09:12] tmeasday commented on #106
@dominicnguyen - I've implemented a first version of this for the package search landing pages as we discussed, in the `infinite-scroll` branch.

Passing over to you for comment + styling.

[2014-03-27 09:16] tmeasday commented on #104
I've updated http://atmosphere.meteor.com/accounts to be more informative, and it should hopefully be less confusing to people. Comments appreciated.

@dominicnguyen - in the devel branch I put some simple extra text at the top of the publishing page. Can you emphasise it please

[2014-03-27 17:10] domyen commented on #106
@tmeasday For infinite scrolling and package loading in general there are 3 states that I'd like to represent:
1. **Searching**: Loading indicator
2. **Results found**: Counting the set of incoming items & rendering the placeholders
3. **Results displayed**: Populating those placeholders with content

I think we have coverage on 1 & 3 but not 2. I'll style 1, let's figure out if 2 is feasible.

**

[2014-03-27 18:42] domyen commented on #104
Done. Ready for release

[2014-03-28 03:46] #104 closed, assigned to tmeasday

[2014-03-28 07:43] tmeasday commented on #106
OK, cool. Getting closer to this.

I think I pretty much implemented what you want on that page, apart from the redundant "spinner below packages" (image no 4). We already know how many packages there are to match the query, so there's no reason no to go straight to step 5.

[2014-03-28 07:44] tmeasday commented on #106
Please have a play and let me know what you think @dominicnguyen

[2014-03-28 13:54] aldeed opened #107 "Should show dependencies accurately"
It may be easier to wait for the new packaging system to do this, but it would be good if the package dependencies listed were limited to those that are actually dependencies. It seems as though it's currently just pulled from `smart.json`.

As an example, [cfs-worker](https://atmospherejs.com/package/cfs-worker), which I've helped with, lists `collectionFS` as a dependency, but that package is on

[2014-03-28 18:22] domyen commented on #107
Cheers for the suggestions. Updating this feature is likely to be scheduled post Meteor 0.9 packaging to avoid repeating work.

[2014-03-28 19:22] domyen commented on #106
I've adjusted the styles a bit and added a new state for the package modules. '.module-loading' is a placeholder state (the grey box) for the module. When the module loads it should populate the empty '.module-loading' with content and remove the class.

The loading experience for infinite scroll modules would be:
1. Trigger scroll
2. Get expected # of incoming packages
3. Create empty modules for

[2014-03-30 15:15] Nemo64 commented on #36
Just Released my first package and stumbled over this too.
The css classes are already there, they would just need a few css colors.

[2014-03-30 22:16] dandv commented on #96
+1. Nodezoo has [the same issue](https://github.com/rjrodger/nodezoo/issues/7). Would be nice to learn from their mistake.

[2014-03-30 22:18] dandv opened #108 "Flag or remove from public view orphan / redirect packages"
Some packages are duplicates of existing packages. Right now this isn't transparent, inflates the search results artificially, and the user will land at the same package twice.

To reproduce:
1. Search for "admin"
2. Click on `houston` and `z-mongo-admin`.

The latter is https://atmospherejs.com/package/z-mongo-admin, but it redirects to `houston`.

[2014-03-30 22:22] dandv opened #109 "Remove dead package - admin"
https://atmospherejs.com/package/admin

[2014-03-30 22:23] domyen commented on #96
This will be addressed along with infinite-scroll https://github.com/percolatestudio/atmosphere-beta/issues/106.

[2014-03-31 01:25] dandv opened #110 "Package without GitHub link - justgage"
https://atmospherejs.com/package/justgage-package

[2014-03-31 04:32] bkosik24 opened #111 "dateformatjs package incorrect"
In the How to use section, the installation instructions are: mrt add date-formatjs. That is incorrect, it should be: mrt add dateformatjs

[2014-03-31 04:49] tmeasday commented on #103
@dominicnguyen - please have a play with the transitions branch -- I think IT is pretty much working, so now it's a matter of sorting out styling and layout.

[2014-03-31 04:51] tmeasday commented on #111
You'll have to take that up with @sunkay @bkosik24 - https://github.com/sunkay/meteor-date-format/issues

[2014-03-31 04:51] #111 closed, assigned to nobody

[2014-03-31 05:19] tmeasday commented on #91
ping @Tarangp :)

[2014-03-31 05:59] tmeasday commented on #106
I think it's getting closer. I added two temporary 1s timeouts to the search publication so we can see the intermediate scrolling state.

Regarding your notes:
1. I'm not sure there's much point. The only times there'll be enough results to need to IS more than 3 times, it'll be for something like the recent packages where it's not very server resource intensive to fetch them. Let's not prematurel

[2014-03-31 06:43] Tarang commented on #91
@tmeasday yup looks like this one is fixed! The SSL is also making it really fast now! =)

[2014-03-31 06:43] #91 closed, assigned to tmeasday

[2014-03-31 06:44] Tarang commented on #56
Atmosphere now using ssl - closing.

[2014-03-31 06:44] #56 closed, assigned to nobody

[2014-03-31 17:24] domyen commented on #106
@tmeasday push your changes :)
1. I want to prevent premature scrolling by adjusting the point where we would trigger the scroll closer to the very end of the list. (ignore what I said about viewport, i misspoke)

[2014-03-31 17:43] domyen commented on #103
Awesome. A big step! Let's figure it out today via video.

This is what I was thinking for animations
1. **View-to-view**: (Home to package) Dissolve the backgrounds into each other with no left-right movement. Transition the contents –i.e., what's nested inside <header> and <section>– using a fade-in-out with minor left and right transition so it feels like it _genies_ onto the page.
2. **Menu-to

[2014-03-31 21:16] domyen opened #112 "Styleguide: Allow for anchor-links on styleguide"
Enable anchor-links for /styleguide. As we add more to the styleguide it'd be good to bookmark anchor links and also to share it with the community!

[2014-03-31 22:17] tmeasday commented on #106
Sorry! Done.

Ahh, ok, so remove a bit of the offset. Check.

[2014-03-31 23:38] SachaG opened #113 "Going back loses scroll position"
Going back with the browser's back button always brings you back to the top of the page. Maybe scroll position should be stored somewhere instead?

[2014-04-01 00:15] domyen commented on #113
I think we're having a look at this one with the Iron Transitioner integration (https://github.com/percolatestudio/atmosphere-beta/issues/103).
@tmeasday can you confirm?

[2014-04-01 01:21] tmeasday commented on #113
Yes, exactly. When we have a transitioner working, we can scroll each page separately - then we can look at storing the scroll position in the history and re-using it.

[2014-04-01 02:07] tmeasday commented on #106
- [x] Reduce offset
- [x] Should stop triggering callback when loading
- [x] Stop at 100 packages
- [x] Add `.module-loading` to package lockup, then remove.

[2014-04-01 05:40] dwlf commented on #104
Verified resolved.... it definitely is much improved, but I hope packaging is better part of Meteor Development soon as there is still a gap between account creation (for atmosphere.meteor.com) and "Don't worry, it's simple. Just Sign in ▾"

[2014-04-01 05:42] tmeasday commented on #104
@lloydde - maybe this will whet your whistle a little: https://www.youtube.com/watch?v=RWhbjQ7GeQw&list=UU3fBiJrFFMhKlsWM46AsAYw#t=2798

[2014-04-01 05:43] dwlf commented on #104
Just read "You can add support in your app with meteor add accounts-meteor-developer. If you then include {{loginButtons}} somewhere in your template, you'll see a configuration wizard, which will guide you to www.meteor.com/account-settings to set up an OAuth application. You can expect to see community sites like Discover Meteor, Atmosphere, and EventedMind using accounts-meteor-developer soon."

[2014-04-01 05:51] dwlf commented on #104
@tmeasday things are making much more sense to me in that context. Thank you.

[2014-04-01 07:35] tmeasday commented on #106
Alright, check it again.

[2014-04-01 07:37] tmeasday commented on #112
Already working I think dude. Just put down an `<a name="something">`

[2014-04-01 15:31] pwujek opened #114 "Simple issue with rendering title"
for the page https://atmospherejs.com/packages/File%2520Upload
the title displays on the page  as:
'File$20Upload'
rather than:
'File Upload'

[2014-04-01 17:05] #105 closed, assigned to tmeasday

[2014-04-01 17:12] domyen commented on #112
Not sure what that means.

Do I add: name="typography" to href="#typography" class="nochrome"?

[2014-04-01 17:34] domyen commented on #106
Cheers!  At the moment is seems like we wait till the entire group has received information before we remove .module-loading en mass; is it possible to do it on a per-package basis? I find that it feels slower because we wait for 20 some packages to load before animating.

i.e., if we see that a package has rendered all necessary content, the .module-loading is removed for that package.

[2014-04-01 18:14] gjolund opened #115 "This tag has already been committed to the repo."
received error on release and am now unable to update package listing

[code]

[2014-04-01 18:19] gjolund commented on #115
deleted releases on repo and re-released and everything worked

[2014-04-01 18:19] #115 closed, assigned to nobody

[2014-04-01 22:40] tmeasday commented on #106
Unfortunately, it's not technically possible to do that. If we place packages in the list as they arrive then we can't control the order and they'll flicker as they re-order.

I have some ideas about how to transmit the order as well as the package list (which we'll need when we transition to a more robust search index on the server). When we implement that we can revisit this.

[2014-04-01 22:41] tmeasday commented on #112
The link to the anchor looks like `<a href="/styleguide#typography">Go To Typography</a>`. The anchor itself looks like `<a name="typeography>Typography</a>`.

[2014-04-01 22:43] tmeasday commented on #114
Is that an error? Can I ask how you came by that link?

[2014-04-01 22:59] pwujek commented on #114
I did that earlier in the day and now when I try to re-create it I can't get there.
I believe I got there by doing a search, but the main search doesn't do that.

[2014-04-02 00:16] tmeasday commented on #114
Ok, well let me know if you are able to reproduce it.

[2014-04-02 00:16] #114 closed, assigned to nobody

[2014-04-02 01:12] vectorselector commented on #84
yes, it's rather frustrating not to be be able to browse all packages. maybe i just find it amusing to check out what someones ideas are or were. i can see if a package has been recently updated and maintained, but that's not the only pleasure in life you know :)

[2014-04-02 05:48] tmeasday commented on #106
@dominicnguyen - so are we good with the functionality as it stands? I need to:
- [x] Generalize the behaviour into a component
- [x] Use it on the search overlay
- [x] Add recent items page
- [ ] Don't track secondary searches
- [ ] Get rid of search delay.

[2014-04-02 17:30] #112 closed, assigned to tmeasday

[2014-04-02 17:30] domyen commented on #106
Sounds good.

[2014-04-03 06:37] particle4dev commented on #109
https://atmospherejs.com/package/upload-avatar => remove this package, please. I can't remove it from atmosphere.meteor.com

[2014-04-03 07:03] tmeasday commented on #106
OK, @dominicnguyen - can you please check out the search overlay and recent packages page. We are almost done here..

[2014-04-04 00:05] domyen commented on #106
@tmeasday here are the 2 refinements we discussed in chat:
1. Option to hide page spinner. We don't want 2 spinners on search
2. Load more button should appear after the packages have loaded (i.e., it appears at the same time as the spinner right now)

The infinite scroll seems to hiccup and stall the scrollbar in between rendering the greyed out package (.module-loading) and animating the package

[2014-04-04 00:54] zol commented on #106
Capturing profiling info during scrolling shows that there is major work being done in `deps.js` that's blocking the UI thread. This is inline with what i'd expect: @tmeasday we should talk about whether it's possible to mitigate this someway.

[2014-04-04 07:39] tmeasday commented on #106
@dom - done.

re: perf -- could be drawing the SVGs? would like to hear your thoughts @zol

[2014-04-05 05:07] mizzao opened #116 "Relatively linked pictures don't load on atmosphere"
For example, compare the PNG image in

with

These broken links also occur with

[2014-04-06 06:32] timbrandin opened #117 "I wish I could save my favorite packages here"
That would be epic!

[2014-04-07 00:04] tmeasday commented on #116
Can you just use absolute URLs for the images? It's going to be tricky for us to fix this I would have thought.

[2014-04-07 00:32] mizzao commented on #116
I actually switched from absolute to relative URLs because I read a GitHub article about how linking to absolute URLs made it harder for users who fork the repo to have the link working, etc.: https://help.github.com/articles/relative-links-in-readmes

So I'll just accept the broken pics for now and wait for whenever you guys manage to get this fixed.

[2014-04-08 06:59] tmeasday commented on #106
Ok. Removed infinite scroll for now. Will revisit perf problems when we have time.

@dominicnguyen I am good to deploy if you are (merged to devel). Do you want to double check the styling (specifically the "More" button under "Recent Packages" and the "Load More" button on search overlay), and give me the green light.

[2014-04-08 12:11] rynti opened #118 "Use FastRender to avoid "undefined" in the title"
#### Problem

Whenever you refresh a page or load an Atmosphere page for the first time, the title is kind of messed up, saying for instance _undefined_ on package detail pages, where instead the package name should be. This is due to the fact that the client does not yet have any package data loaded during the initial page load, this will only happen after the page loaded and the client subscribe

[2014-04-09 17:15] ndarilek opened #119 "Something's up with livescript"
I use the livescript package in an app, and it fails to download from the new Atmosphere. More specifically:
1. The current livescript package appears to be dead. Meteorite attempts to download it but the repository no longer exists.
2. If I use livescript-latest, I'm prompted to confirm an SSH key fingerprint for Github despite the fact that the repository is checked out over HTTPS. I suspect mos

[2014-04-09 17:25] domyen commented on #117
@timbrandin I think it'd be cool as well!

I'm curious, in what situations would you use it and what would you like to do with it?

[2014-04-10 02:53] tmeasday commented on #119
Are you sure you don't have any packages that are checking out over `ssh://` (check your `smart.lock` to be sure)?

I can't see why it would call out to ssh to access a `https://` URL. If anything this sounds like a github issue?

[2014-04-10 04:16] ndarilek commented on #119
Absolutely sure, I've grepped for ssh and have wiped my smart.lock
multiple times. I can check out the https URL fine without this issue.
It doesn't make any sense to me but I can reliably reproduce with the
steps included.

[2014-04-10 04:19] tmeasday commented on #119
I don't really know the specifics of the git protocol and specifically how github does it.

Can you git clone that URL on one of these machines?

[2014-04-10 04:39] ndarilek commented on #119
Yes.

Do the steps of:
1. Move ~/.ssh/known_hosts out of the way.
2. Run a Meteor app with the "livescript-latest" package in its
   dependency list.

not duplicate the issue for you? Again, it happens on multiple machines
for me.

[2014-04-10 05:47] tmeasday commented on #119
Ahh! The issue is that the package includes a submodule with a `ssh` git URL. Get the author to change that ...

[2014-04-10 12:32] timbrandin commented on #117
Hi Dominic,

It would be nice for them to show up as starred in the search result or why not always show them directly when no search has been done yet and the search window is open. I can't always remember which module I've used you know, especially the machine name for it to add it to my projects.

And it would be a nice way of promoting content I guess. :)

Best regards,
// Tim, Sweden

Skickat

[2014-04-10 19:30] tavenzelnio opened #120 "its gorgeous"
its want this very badly

[2014-04-10 21:49] serkandurusoy opened #121 "packages appearing more than once on recent items"
I don't know if consistently https://atmospherejs.com/package/jquery-smart-wizard this one or if it happens to others as well, but it seems some packages appear twice (not necessarily side by side) in the recent items list.

[2014-04-10 21:50] serkandurusoy opened #122 "We should have case insensitive package naming"
There are packages with the same name but different case, which makes it confusing to track packages.

For example: https://atmospherejs.com/package/Famous and https://atmospherejs.com/package/famous

[2014-04-10 23:22] tmeasday commented on #121
Hmm.. not seeing it here.. how odd.. Perhaps the order changed while you were looking through it?

[2014-04-10 23:31] tmeasday commented on #122
Oh! As it turns out both of those packages are deleted but we aren't hiding them..

[2014-04-11 12:03] serkandurusoy opened #123 "missing dates on recent list"
On the new recent view, there is no indicator about when the package was released/updated until it is opened

[2014-04-11 12:04] serkandurusoy commented on #121
I think there is another problem here. Or maybe that, but certainly reproducible. For example, I can now see the user-stream package twice. (and this time side by side).
![image](https://cloud.githubusercontent.com/assets/4649948/2679366/7bac14ce-c171-11e3-89ba-7731b7a771d5.png)

[2014-04-11 12:05] serkandurusoy commented on #122
I don't see them any more.

[2014-04-11 22:48] dandv opened #124 "Remove dead package yahoo-finance"
https://atmospherejs.com/package/meteor-yahoo-finance

[2014-04-13 03:08] electricjesus commented on #35
I'm going to mention something regarding the meteorite command `mrt`. I know this isn't in this specific project's scope -- but I feel I should mention it here. Since we all find packages anyway on atmosphere, so why not? <sup>..right? <sup>please say yes</sup></sup>

Now if the `mrt` command also tracks removes maybe you could gauge reliability better? _In addition to that_, It could ask if you w

[2014-04-13 08:40] timbrandin commented on #117
Oh and one more thing,

let's say I found this package which looks promising but not yet ready for
production.
I would love for a feature like star on this one, then one could get
notifications to updates on that package.
Or why not a summary of the changes to the packages I've starred when one
is logged in on atmosphere.

Best regards
// Tim

2014-04-10 14:32 GMT+02:00 Tim Brandin tim.brandin@gma

[2014-04-13 13:20] davidgomes opened #125 "It's Github not GitHub"
Everywhere in Atmosphere, where it says 'Github' it should be 'GitHub' ;)

[2014-04-13 18:41] zol commented on #35
Hey Seth, Great idea - thank you. However, we aren’t continuing work on `mrt` anymore as it will be superseded by Meteor very soon (when 0.9 comes out).

[2014-04-14 09:48] jamesfebin opened #126 "Meteor Twitter Api Fixed"
I have fixed the Meteor Twitter Api ..
Here is the fixed git repo.
https://github.com/jamesfebin/meteor-twitter-api

[2014-04-14 21:23] dandv opened #127 "Guidelines for repackaging 3rd party packages"
The [Publishing docs](https://atmospherejs.com/docs/publishing) should have a section on Packaging existing libraries, linking to http://www.meteorpedia.com/read/Packaging_existing_Libraries

Thanks!

[2014-04-15 02:30] electricjesus commented on #35
Aww what.. that's kind of sad and happy at the same time. Would the meteor command then support those kind of statistics perhaps?

[2014-04-15 02:42] stefanocudini opened #128 "mrt publish problem from repo cloned"
"mrt publish ." not work by clone of my repo:
https://atmospherejs.com/package/leaflet-search

[code]

My pkg files is right? Why not work publish action..? O.o
First time I'm using mrt publish from source directory.. afterwards I'm cloning from github and the next publish.. not work!

**smart.json**

[code]

**package.json**

[code]

[2014-04-15 03:17] tmeasday commented on #128
Are you logged into atmosphere as the right user on the command line?

On Tuesday, 15 April 2014 at 12:42 pm, stefano cudini wrote:

[2014-04-15 05:49] tmeasday commented on #106
Still need to get other sections and proper infinite scroll going but I'm going to close this one now..

[2014-04-15 05:49] #106 closed, assigned to nobody

[2014-04-15 07:28] tmeasday commented on #103
For reasons discussed elsewhere, the nuanced transitions we want here are difficult to achieve in Blaze and IT as things stand.

@dominicnguyen do you think we should do a simpler transition (think of each page as a fixed block, header and footer included) in the meantime, or wait for the update?

[2014-04-15 11:08] stefanocudini commented on #128
In the new layout atmospherejs.com I do not see any button to login, I'm looking from some time..

[2014-04-15 11:26] stefanocudini commented on #128
and..

[code]

I don't understand how works auth system in atmosphere...
First time remember that I'm signup by Github my account

[2014-04-15 14:55] arunoda opened #129 "fast-render 404"
Not sure why is this?

![screen shot 2014-04-15 at 8 22 40 pm](https://cloud.githubusercontent.com/assets/50838/2708590/c2bdcf26-c4ad-11e3-9a05-da3c6ab9ec11.png)

It's not even shown when I searched for arunoda too.

![screen shot 2014-04-15 at 8 24 34 pm](https://cloud.githubusercontent.com/assets/50838/2708605/ee31aca4-c4ad-11e3-8fa6-96baf334715a.png)

Not sure why?

[2014-04-15 15:09] aslagle commented on #129
Same thing for [reactive-table](https://github.com/ecohealthalliance/reactive-table)

[2014-04-15 15:28] vectorselector opened #130 "package disappeared from atmosphere suddenly?"
the meteor-partitioner package has disappeared from atmosphere, literally overnight.
https://github.com/mizzao/meteor-partitioner
showing a 404 at https://atmospherejs.com/package/partitioner

that and this new, unbrowseable atmosphere is a PITAS and useless generally, unless you like playing the lottery. There is no way to explore the trove. Do you folks own mad google stock or something, because

[2014-04-15 20:08] zol commented on #35
Not sure at this stage, it will depend on MDG’s priorities.

[2014-04-15 20:55] domyen commented on #103
I'd prefer to wait on the update. The header (not so much the footer in this case) gives the transitions & animations context because it is the single static element that anchors the other effects.

If we transition the header along with the rest of the page, the transition is much less powerful and akin to a page refresh.

[2014-04-15 22:37] dandv opened #131 "Duplicate search results"
https://atmospherejs.com/?q=getters shows the same package by @jonjamz twice:

![image](https://cloud.githubusercontent.com/assets/33569/2713936/79314b1c-c4ee-11e3-8e8c-1e02bf3d211a.png)

[2014-04-16 00:31] mizzao commented on #130
Actually, if you look at https://atmospherejs.com/ right now, it would seem that nothing has been updated since April 11th. Must be some backend problem.

It also seems that the code for the atmosphere site itself has been removed from GitHub...

[2014-04-16 00:34] mizzao commented on #129
Same thing for a lot of packages: #130

Also, it is April 15th today but most recent packages on Atmosphere are April 11th:

![image](https://cloud.githubusercontent.com/assets/2080084/2714850/cbc6c55e-c4fe-11e3-8b23-06fb99129db8.png)

Surprised no one has noticed this so far...it's been bugging me several days. Earth to @tmeasday...

Also, is the code for this repo now private or something? What

[2014-04-16 00:39] mizzao commented on #122
Have you accidentally hidden a billion other packages as well?

https://atmospherejs.com/package/sharejs -> https://github.com/mizzao/meteor-sharejs
https://atmospherejs.com/package/fast-render -> https://github.com/arunoda/meteor-fast-render
https://atmospherejs.com/package/partitioner -> https://github.com/mizzao/meteor-partitioner

Methinks whatever fix was attempted here caused #129 and #130.

[2014-04-16 02:19] tmeasday commented on #131
Whoa. Thanks @dandv - we seem to have synced a couple of dupes. Will get rid of them.

[2014-04-16 02:22] tmeasday commented on #128
Hey @stefanocudini - sorry the situation is a bit confusing right now.

You can login [here](http://atmosphere.meteor.com/accounts) to your Meteorite account.

If you are logged in to the wrong account on the command line, you'll need to delete your `~/.mrt.cfg` file. Let me know if that helps.

[2014-04-16 02:24] tmeasday commented on #130
Yes, the metadata syncing got out of whack there for a bit. Should be ok now.

@vectorselector you can browse packages exactly as you did in the old site here: https://atmospherejs.com/recent

[2014-04-16 02:25] tmeasday commented on #130
@vectorselector - are you saying that the built in search isn't finding what you need? Is that because you are searching for more generic terms rather than specific things that are mentioned in packages?

[2014-04-16 02:25] tmeasday commented on #129
Argh. Not sure what happened here but all should be well now.

[2014-04-16 02:25] #129 closed, assigned to nobody

[2014-04-16 02:26] tmeasday commented on #122
No it was unrelated, but it's a reasonable theory.

@serkandurusoy to your original point -- you'll need to take this up with MDG :)

[2014-04-16 02:26] #122 closed, assigned to nobody

[2014-04-16 02:27] tmeasday commented on #84
FYI you can now do this at http://atmospherejs.com/recent

[2014-04-16 02:27] #84 closed, assigned to nobody

[2014-04-16 02:29] tmeasday commented on #126
Hey @jamesfebin - you'll need to wait for the author to accept your PR or publish your own version of the package I guess.

The official package solution as of 0.9.0 will have a better way to deal with this problem.

[2014-04-16 02:29] #126 closed, assigned to nobody

[2014-04-16 02:30] tmeasday commented on #123
Good point @serkandurusoy !

[2014-04-16 02:31] tmeasday commented on #110
That's odd. It does have a git url. Must be tripping our RegExp somehow.

[2014-04-16 02:33] tmeasday commented on #119
I'm going to close this. If you want to track it further, can we move the discussion to https://github.com/oortcloud/meteorite

[2014-04-16 02:33] #119 closed, assigned to nobody

[2014-04-16 02:33] tmeasday commented on #120
Thanks @tavenzelnio !

[2014-04-16 02:34] #120 closed, assigned to nobody

[2014-04-16 02:37] tmeasday commented on #121
Ok, there are two version of user-stream, same problem as #131. Not sure about the other one.

Will remove dupes when I get a second. I'll close this and track it there.

[2014-04-16 02:37] #121 closed, assigned to nobody

[2014-04-16 03:23] mizzao commented on #116
The relative links to History.md and docs on iron-router don't load:

https://atmospherejs.com/package/iron-router

It's impossible for everyone to use absolute links. So we'll need to fix this at some point :)

[2014-04-16 04:05] tmeasday commented on #116
Any idea how to set the base url on a section of the DOM? As far as I can tell it's impossible.

Sadly the next best idea is probably using an iframe for this..

[2014-04-16 04:15] mizzao commented on #116
Is rewriting the links not a possibility? What is being used to generate the page from Markdown; could you hook into that?

[2014-04-16 04:18] tmeasday commented on #116
Rewriting links (and images) is possible but feels like the kind of thing that tends to have a lot of edge cases and ends up causing issues.

@zol - any thoughts about this? My idea was to include an iframe that served up something like http://atmospherejs.com/package/foo/README -- which would render the README with the correct CSS but sets the `<base>` element to point to the github page for the

[2014-04-16 06:03] dandv opened #132 "Search results relevancy / sorting"
Probably a number of enhancements can be made here, but one that seems pretty obvious it searching for two words. Would it be possible to show first packages that contain both words?

For example, ["http proxy"](https://atmospherejs.com/?q=http%20proxy) returns, among others, the **moment** package, which deals with neither http or proxies, but has "http://momentjs.com" on its page. The only packa

[2014-04-16 07:29] danielqiu opened #133 "The repository is empty"
Do you have a plan of sharing the code?

[2014-04-16 07:58] #131 closed, assigned to nobody

[2014-04-16 12:52] gouroujo opened #134 ""Username" field instead of "Name""
With the default user accounts package, meteor doesn't create a profile field in the users collection. So the field profile.name is empty! I change and list the users with theirs usernames.

[2014-04-16 14:05] stefanocudini commented on #128
yes! Now publishing work!

I do not know if I just have not found it, but you should put a button to login in new layout

however congratulations it's beautiful!

[2014-04-16 14:05] #128 closed, assigned to nobody

[2014-04-16 15:58] zol commented on #116
@tmeasday sounds like a good plan re: the iFrame.

[2014-04-16 23:11] tmeasday commented on #134
Hi @gouroujo - I'm not sure what you are reporting here? Is this an issue with the accounts-base you are concerned about?

[2014-04-17 11:52] stephentcannon opened #135 "That ain't yr package son error"
Trying to release a package upgrade of single-page-login that works with Meteor 0.8.0 and iron-router 0.7.1.

First attempt meteorite asked me for a  login and password and I don't remember that prior.

I don't remember having an atmosphere/meteorite account prior.  So, I signed up on the https://atmosphere.meteor.com/accounts and then associated this new account with my Meteor Developer account.

[2014-04-17 14:59] dandv commented on #36
+1. Tried both ```js and ```javascript but no highlight.

[2014-04-17 18:22] hharnisc commented on #36
This has done the trick for syntax highlighting, and it's been very easy to integrate (MIT like license too):

https://github.com/isagalaev/highlight.js

[2014-04-18 07:55] tmeasday commented on #135
Hi @stephentcannon - the username that you've used for that package is `steevecannon`. Maybe try logging in with that account? Otherwise I can add your new account as a maintainer..

[2014-04-21 08:55] tdesc opened #136 "Search not trim spaces %20"
If search contains empty first space, it stops working
Wrong working examples:
https://atmospherejs.com/?q=%20underscore
https://atmospherejs.com/?q=underscore%20
Working one:
https://atmospherejs.com/?q=underscore

[2014-04-22 23:49] domyen opened #137 "Search Overlay: Animation refinement"
Get to the bottom of the animation performance on the search overlay. When the search overlay has no results the animation is consistent and reliable.  When there are results the animation get's choppy.

Question: does the template re-render when triggering the overlay?

[2014-04-23 20:42] mizzao commented on #116
It looks like this has been fixed!

[2014-04-23 22:46] #96 closed, assigned to tmeasday

[2014-04-25 18:53] gjolund opened #138 "I'd love an admin panel for managing my packages"
I have a ton of old packages that I'd like to remove, and it would be nice to see some more in depth analytics on the types of apps using my packages ( versions, environments, etc )

[2014-04-26 07:38] dburles commented on #125
thanks @davidgomes

[2014-04-26 08:36] #125 closed, assigned to nobody

[2014-04-26 08:58] dburles commented on #136
hey thanks @tdesc fixed with next release

[2014-04-26 08:58] #136 closed, assigned to nobody

[2014-04-26 09:27] dburles commented on #118
Hey @rynti thanks for the suggestions, since you posted this issue I'm pretty sure that the 'undefined' problem has now been resolved with the loading animation.

[2014-04-26 09:30] dburles commented on #118
Sorry, realised you were talking specifically about the page title! reopening..

[2014-04-27 02:22] albinekb opened #139 "Copy of the same package"
https://atmospherejs.com/package/Cordova
And
https://atmospherejs.com/package/cordova

Is the same package, when searching for "cordova" i got these, and they link to different pages but the same github-projects.

[2014-04-28 01:08] tmeasday commented on #138
Sure would! ;)

[2014-04-28 04:48] tmeasday commented on #137
Ok, @dominicnguyen I think (read: hope) this is fixed in devel. Can you take a look, and make sure it's still behaving OK..

[2014-04-28 04:56] tmeasday commented on #135
@stephentcannon - how did you go with this?

[2014-04-28 04:56] #134 closed, assigned to nobody

[2014-04-28 04:59] tmeasday commented on #132
We've got a future feature of using a full fledged relevancy based text index. In the meantime we're just using mongo and text matching, sorting via atmosphere score.

Do you have any idea of how we could use mongo to do a more nuanced order? My mongo-fu isn't really very well developed but I fear there's no real way to do what you are asking..

[2014-04-28 05:14] stephentcannon commented on #135
Tom, will take a look at it later this week.  Sorry been distracted.

On Mon, Apr 28, 2014 at 12:56 AM, Tom Coleman notifications@github.comwrote:

##

Thanks
Stephen Cannon
Mobile: 727.386.6298
Fax: 727.608.4512
stephentcannon@gmail.com
http://www.debitelite.com/

[2014-04-28 08:16] gjolund commented on #138
I'm planning on being at your SF talk on the 20th, maybe we can mind meld for a minute an come up with something that will work.

[2014-04-28 12:51] domyen commented on #137
@tmeasday The overlay animates a lot better. I removed the scale from the animation to improve performance further.

Bug: when trying to pull up the search results set again, the .module-loading class is not removed.
Repro:
1. Search 'fa'
2. Click on search result
3. Pull up overlay again
4. see grey boxes in place of packages

![screenshot 2014-04-28 05 50 39](https://cloud.githubusercontent.com/

[2014-04-28 12:59] domyen commented on #138
Sounds good @austinrivas. We're on standby for the official MDG package backend to do a user-accounts push.

[2014-04-28 19:46] dandv opened #140 "rm jqiery-timeago, no GitHub"
https://atmospherejs.com/package/jquery-timeago

User doesn't have that repo in https://github.com/crapthings?tab=repositories

[2014-04-30 11:58] stephentcannon commented on #135
Tom,
1.  I do not remember the password for the account: steevecannon
2.  The old site where the login does not have a password reminder feature.

On Mon, Apr 28, 2014 at 1:14 AM, Stephen Cannon stephentcannon@gmail.comwrote:

##

Thanks
Stephen Cannon
Mobile: 727.386.6298
Fax: 727.608.4512
stephentcannon@gmail.com
http://www.debitelite.com/

[2014-04-30 17:02] mizzao commented on #116
Eh, just kidding. I was looking at an absolute link accidentally.

[2014-04-30 22:52] lirbank opened #141 "Don't word-wrap <pre>"
Hey,

(In Chrome,) it would be great if you didn't word-wrap the code examples. Look at my examples on [accounts-merge](https://atmospherejs.com/package/accounts-merge). Too looong lines, my bad, but still it looks ok [on Github](https://github.com/lirbank/meteor-accounts-merge/).

Solution:

[code]

[2014-04-30 22:56] beneshed opened #142 "Y'all are awesome"
Works way better than nprogress. Props to you

[2014-05-01 03:08] tmeasday commented on #135
Hey @steeve — I added your steeve account as a maintainer of that package, so you should be able to publish it now.

On Wednesday, 30 April 2014 at 9:58 pm, steeve cannon wrote:

[2014-05-01 03:12] steeve commented on #135
I think you guys got the wrong @steeve :)

[2014-05-01 03:17] tmeasday commented on #135
Oh. My bad, sorry @steeve

[2014-05-01 21:39] stephentcannon commented on #135
Tom

i am stephentcannon on gh

steeve on meteor.com accounts

On Wed, Apr 30, 2014 at 11:17 PM, Tom Coleman notifications@github.comwrote:

##

Thanks
Stephen Cannon
Mobile: 727.386.6298
Fax: 727.608.4512
stephentcannon@gmail.com
http://www.debitelite.com/

[2014-05-02 06:51] dburles opened #143 "Feedback overlay possibly needs some description"
The context of the feedback button when viewing a package can easily be confused for feedback for _that particular package_ and **_not**_ atmosphere. (example: #142)

[2014-05-02 06:53] dburles commented on #124
hey @dandv you can direct them to [this page](https://atmosphere.meteor.com/wtf/maintain) which shows instructions on how they can remove the package

[2014-05-02 06:53] #124 closed, assigned to nobody

[2014-05-02 06:58] dburles opened #144 "Improve inefficient publish-counts queries"
Limit the fields that we're watching/returning from the query
- [x] Total
- [x] Installs
- [x] Search

[2014-05-02 22:37] dandv commented on #124
The GitHub repo is missing, so I don't know how to get a hold of the author.

[2014-05-03 00:52] dburles commented on #139
thanks @albinekb. @raix there's instructions here on how you can remove a package from atmosphere https://atmosphere.meteor.com/wtf/maintain

[2014-05-03 08:12] dburles opened #145 "504 Gateway Time-out"
Still seeing timeouts occasionally

[code]

[2014-05-03 20:25] rzymek opened #146 "remove private/non existent packages from atmosphere"
I came across a package that probably was changed to private on github: ogno-cart. Github shows 404, mrt asks for github user/pass on install.

Automatic checking of repository urls would be nice. Alternatively  a way to mark a package as not longer available.

[2014-05-05 00:49] tmeasday opened #147 "Deleted packages show up in related packages etc."
For instance https://atmospherejs.com/package/transactions

[2014-05-05 06:13] tmeasday commented on #108
Hey @dandv - perhaps you can ask @gterrono to remove the package, following these instructions https://atmosphere.meteor.com/wtf/maintain

[2014-05-05 06:15] tmeasday commented on #109
Both packages marked deleted.

[2014-05-05 06:15] #109 closed, assigned to nobody

[2014-05-05 06:15] tmeasday commented on #135
@stephentcannon - did you sort out the package?

[2014-05-05 06:16] #140 closed, assigned to nobody

[2014-05-05 06:16] tmeasday commented on #140
Thanks @dandv

[2014-05-05 06:17] tmeasday commented on #142
Thanks @the-ben-waters - did you mean to direct this at a specific package?

[2014-05-05 06:17] #142 closed, assigned to nobody

[2014-05-05 06:17] tmeasday commented on #145
I think we were seeing some server trouble. @Zol - any ideas?

[2014-05-05 06:18] tmeasday commented on #146
@matteodem - can you make the repo public or delete the package from atmosphere via atmosphere.meteor.com/wtf/maintain ?

[2014-05-05 06:21] #130 closed, assigned to nobody

[2014-05-05 06:25] beneshed commented on #142
Yes and I can't remember what. It helped me finish an all nighter project. I can't remember LOL

[2014-05-05 06:51] tmeasday commented on #103
Ok. @dominicnguyen - I implemented a first version of in page loading for the show page. During the loading period, `this` is `{loading: true, {metadata: {name: 'X'}}}`. You'll see right now the template just basically doesn't show anything it needs data for but obviously we should put some animated elements in.

Once that is done I'll do a first version of the transitions, unless you want to have

[2014-05-05 08:46] tmeasday commented on #137
OK, fixed I think @dominicnguyen

[2014-05-05 09:01] tmeasday commented on #147
Hmm. No, somehow the same package was published twice. Not sure what happened but I'm deleting from v1 database.

[2014-05-05 11:59] stephentcannon commented on #135
Seems that way.  I can publish updates to it.
On May 5, 2014 2:15 AM, "Tom Coleman" notifications@github.com wrote:

[2014-05-05 13:52] timbrandin opened #148 "Make it possible to search from the addressbar"
For example if one types wikipedia.com[tab] on gets directly the possibility to search on wikipedia.

In chrome I can add it myself, but one should not need to.
chrome://settings/searchEngines

[2014-05-05 13:57] timbrandin commented on #148
Here's some hints on this trail..
http://webmasters.stackexchange.com/questions/44452/making-a-site-searchable-via-chrome-search-bar

[2014-05-05 13:59] timbrandin commented on #148
And even better, if I know the name of the package I wanted to read about it could go directly to that page. :+1: Like for example http://atmospherejs.com/package/iron-router

[2014-05-05 17:01] zol commented on #145
@tmeasday - yeah, I was looking into this on the weekend. The number of times atmos becomes unresponsive due to CPU is increasing, although according to GA our traffic isn't increasing significantly. Something smells shlemielly.

My initial suspicions are the cron job - sometimes it takes a long time to run although it shouldn't run that often.

It would be good to rule out our re-curring code (ca

[2014-05-05 18:05] domyen commented on #137
Confirmed. Ty @tmeasday

[2014-05-05 18:05] #137 closed, assigned to domyen

[2014-05-05 18:22] domyen commented on #103
@tmeasday which branch? Can't seem to find it.

[2014-05-05 22:50] tmeasday commented on #103
transitions. Try loading a package page up directly.

[2014-05-07 00:06] dandv opened #149 "Atmosphere down relatively often lately?"
Just saw this:

![image](https://cloud.githubusercontent.com/assets/33569/2897244/6852420e-d57b-11e3-99ac-18b0e9084113.png)

[2014-05-09 22:15] Ulexus opened #150 "Repo doesn't exist"
The referenced repository (https://github.com/yubzhao/meteor-coinbase) either doesn't exist or isn't publicly accessible.

[2014-05-11 15:13] iBobik opened #151 "Relative links in README"
If in README in repository is relative link to other Github page, this link is copied to project page on Atmosphere without any translation. For example on https://github.com/EventedMind/iron-router/ is link named "API" what targets to other page in repository. This README is copied to https://atmospherejs.com/package/iron-router and the same API link targets to 404.

[2014-05-12 01:21] dburles commented on #143
@dominicnguyen hey any thoughts?

[2014-05-12 01:27] dburles commented on #118
Fixed

[2014-05-12 01:27] #118 closed, assigned to nobody

[2014-05-12 01:27] dburles commented on #123
close?

[2014-05-12 01:28] tmeasday commented on #123
Just wanted @dominicnguyen to take a look..

[2014-05-12 02:01] dburles commented on #110
thanks @dandv  - fixed

[2014-05-12 02:01] #110 closed, assigned to nobody

[2014-05-12 06:52] ivanbrykov opened #152 "Unable to publish new version of the package"
Hi!

I have created my <a href="https://github.com/brykov/meteor-multiple-callbacks">first Atmosphere package</a> and was able to publish its first version.

After few improvements I made new commit, pushed it, added new tag and pushed it, too:

[code]

After that I tried to release my changes to Atmosphere:

[code]

But I got the error:

[code]

Any chance to figure out why it happens?

[2014-05-12 06:53] tmeasday commented on #152
Hi Ivan,

You need to add the new version to `smart.json`.

Cheers,
Tom

On Monday, 12 May 2014 at 4:52 pm, Ivan Brykov wrote:

[2014-05-12 07:00] ivanbrykov commented on #152
oh.. damn it.
I killed nearly 2 hours on that.
I guess it would be nice to add a topic to this article https://atmospherejs.com/docs/publishing about releasing new version.

[2014-05-12 07:01] #152 closed, assigned to nobody

[2014-05-12 16:51] domyen commented on #123
Yes, we should be displaying the recent package-type on the recent page. So the time should render next to the author like so:
![screenshot 2014-05-12 09 50 49](https://cloud.githubusercontent.com/assets/263385/2947367/992cc088-d9f5-11e3-9002-fa476cec8549.png)

[2014-05-12 16:58] domyen commented on #143
Since the feedback button lives in the global menu area, I'm not too concerned about folks getting confused. Let's keep an eye on it. As far as I know #142 was the first mistaken feedback for a package that we received in 3 months.

p.s., we're also removing this element with the accounts/oauth sprint.

[2014-05-12 17:59] domyen commented on #103
Definitely on the right track. To confirm: we need template level loading states (i.e., for description, readme, etc). There seems to be a bit of nuance to the implementation, let's pair on the template-level and the page-level transitions when you're here.

[2014-05-12 18:35] domyen commented on #149
We've taken action to prevent Atmosphere outages in the future and are investigating possible causes.

[2014-05-14 15:35] hharnisc opened #153 "Downloads/hotness graph is not clear on what it's indicating"
I see a graph associated with every package but it's a mystery on what it's actually indicating.  The graph also seems to change scale for seemingly no reason.  It would be nice if we could get some idea of scale or even what figures into the calculation.  Right now it's at least as mysterious as a credit score.

[2014-05-14 16:54] davidworkman9 opened #154 "Publishing and incorrect username/password combo soils current version number"
I pushed a new version number to my package and did a `mrt release .` I was then prompted for my username/password which I got wrong my first try. Then when I went to try again it told me that tag had already been committed to the repo. Asking for username/password combo first would be really handy in preventing these kind of problems.

[2014-05-14 21:44] tmeasday commented on #154
Hi @davidworkman9 - `mrt release` just does `mrt publish` plus pushing git tags. So if you get halfway through and it fails, you can try again with `mrt publish .`.

[2014-05-14 21:44] #154 closed, assigned to nobody

[2014-05-15 11:19] dandv opened #155 "Duplicate package `dc`"
https://atmospherejs.com/package/dc.js-package and https://atmospherejs.com/package/dc are identical (point to the same repo) but one of the pollutes searches for "chart".

[2014-05-15 11:20] dandv opened #156 "rm nvd3 package"
https://atmospherejs.com/package/nvd3 - repor made private, as complained by [another package](https://atmospherejs.com/package/meteor_nvd3). Releasing the namespace would be nice.

[2014-05-15 13:44] davidworkman9 commented on #154
Thanks!

[2014-05-19 08:14] gjolund opened #157 "Cannot publish new versions of older packages"
I am locked out of several of my packages that were created over a year ago.

I am continuously receiving a message saying the package does not belong to me.

I've mentioned this a few other times on here and received no response, and without a way to delete old packages I'm kind of stuck.

The package that brought this issue to light again is `flot`, but I have atleast 3-4 other packages experien

[2014-05-19 13:18] udondan opened #158 "Duplicate & unpublish packages"
I see there are several tickets for duplicate packages or the question how to unpublish a package. Instead of replying to one of those tickets let me create an umbrella ticket so we can get a general answer/solution.

**Duplicate packages:**
This happened for me for 3 of my 4 packages I created. So it seems this is a general problem recently. The one package where it didn't happen, was created a f

[2014-05-19 17:20] tmeasday commented on #157
Hi @austinrivas

That package (`flot`) is owned by a user w/ username `austinrivas@gmail.com`. Perhaps you are logged in as the wrong user? You can "log out" by removing the file `~/.mrt.cfg`.

[2014-05-19 17:27] tmeasday commented on #158
Hi @udondan,

Thanks for reporting this.

The issue you are seeing is as follows:
1. You are correct that there are two databases -- the old site and the new one.
2. For some reason, occasionally packages that are added to the old site appear twice in the new one. This must be something stupid we are doing -- or possibly a problem with Meteor's upsert implementation.
3. When you delete the package

[2014-05-20 18:29] gjolund commented on #157
Hmm that's strange,

Do you mind checking if that is the same username as my `jquery-datatables` package?

`flot` is ancient, one of my first forays into writing packages over a year ago, but was developed on the same machine.

[2014-05-21 00:35] tmeasday commented on #157
Hmm, no the jquery-datatables package is owned by “austinrivas"

On Tuesday, 20 May 2014 at 11:29 am, Austin Rivas wrote:

[2014-05-21 00:45] gjolund commented on #157
Yeah I think the issue is that I created those packages back before the
atmosphere users schema was solidified. Is there any way that you can
migrate the packages owned by austinrivas@gmail.com to austinrivas?

On Tue, May 20, 2014 at 5:35 PM, Tom Coleman notifications@github.comwrote:

[2014-05-22 15:52] alanning opened #159 "Shared access to packages"
Let package owners add collaborators who can also push updates to atmosphere for that package.

We tried the method [suggested here](https://atmosphere.meteor.com/wtf/maintain) to add a maintainer but it doesn't work:  `Meteor.call('addPackageMaintainer', 'jasmine-unit', 'alanning');`

Any suggestions on what it would take to get this going?  I can help out with the implementation if needed.

[2014-05-22 15:53] queso commented on #159
+1

[2014-05-22 16:32] xolvio commented on #159
+1

[2014-05-22 17:27] tmeasday commented on #159
@alanning - what went wrong? Try doing it with a callback (`function(err) { console.log(err); }`) and let me know if there was a specific error..

[2014-05-22 17:49] tmeasday commented on #157
Ok. I’ve added `austinrivas` as an maintainer of all the packages that are owned by `austinrivas@gmail.com`. Let me know if that solves your problems.

On Tuesday, 20 May 2014 at 5:45 pm, Austin Rivas wrote:

[2014-05-22 19:39] gjolund commented on #157
thanks a ton @tmeasday, I'll test this asap

[2014-05-22 19:50] xolvio commented on #159
I just tried this and I think it worked. A few hours ago the console was showing a 404 for both `addPackageMaintainer` and `deletePackage`, but now it shows undefined for addPackageMaintainer and 'Package removed' for deletePackage

[2014-05-22 20:27] alanning commented on #159
Nice!  I successfully pushed the latest version of the `jasmine-unit` package to atmosphere.

Sam, I think before we were trying it from the old https://atmosphere.meteor.com site (where the instructions are).  This last time, did you do it on the new https://atmospherejs.com site?  Maybe that's the difference?

[2014-05-22 20:58] tmeasday commented on #159
@alanning - you need to do it on the old site. But maybe you tried it on the new one?

[2014-05-22 23:22] xolvio commented on #159
I'm pretty sure I tried it on both, but I'm willing to be corrected :)

So I deleted velocity-jasmine-unit like this:

[code]

But then going to https://atmospherejs.com/?q=velocity-jasmine-unit still shows it's there. Does it take time to be removed? I did this 4 hours or so ago

[2014-05-22 23:37] tmeasday commented on #159
How odd. It must not have synced across properly. Anyway, it’s deleted now.

On Thursday, 22 May 2014 at 4:22 pm, xolv.io wrote:

[2014-05-23 22:15] domyen commented on #103
@tmeasday to recount our latest thoughts: all page transitions are dissolved.
After playing browsing Atmosphere with left to right transitions, there is too much eye-strain caused by the change in movement..

[2014-05-27 16:04] serkandurusoy commented on #121
Bump! Here's a screenshot from just now:

![screenshot from 2014-05-27 19 01 19](https://cloud.githubusercontent.com/assets/4649948/3094078/805ff3bc-e5b8-11e3-8cc1-a64e4df7e644.png)

Could this be a _slow connection_ problem, perhaps?

[2014-05-29 18:59] softwarerero opened #160 "mrt release does not terminate"
[code]

This can run for hours without finishing. When I do Ctrl+C and try it again I get:

[code]

I had this before and after some tries it worked but today I am incrementing versions all day but nothing lands on Atmosphere.
1. Is there a problem with Atmosphere or on my side?
2. How can I avoid producing so many versions because `release` was unsuccessful?

[2014-05-29 23:34] tmeasday commented on #160
1. Yes, it was an issue with Atmosphere, resolved now.
2. You can use `mrt publish .` to allow you to try and publish the same release again. `mrt release` is just a convenience to do the git tagging for you.

[2014-05-29 23:34] #160 closed, assigned to nobody

[2014-05-31 00:06] christianbundy opened #161 "Can't publish package"
I've tried `mrt publish` which looks like it works, but it doesn't actually show up on the new Atmosphere site (although it shows on the old site). What should I do to troubleshoot?

[2014-05-31 01:21] tmeasday commented on #161
Metadata isn't syncing right at this moment due to some server issues. To check it worked, try `mrt add X` for your package into a brand new meteor project.

[2014-05-31 01:30] christianbundy commented on #161
Totally worked, I just wanted to make sure I didn't have to do anything else to get it on the site. Thanks, I'll close this!

[2014-05-31 01:30] #161 closed, assigned to nobody

[2014-05-31 05:09] udondan commented on #158
Thanks @tmeasday, it didn't happen for me again yet. Any plans to implement a delete function in the new site as well? Seems like a small addition which could save you some time deleting packages :)

[2014-05-31 05:21] udondan opened #162 "Atmosphere package version not updating"
I just pushed a new version of my package `contact`. No problems with that:

[code]

Tag was created on github, as set in my `smart.json`: v0.2.0

On [Atmosphere](https://atmospherejs.com/package/contact) the current version is still listed as 0.1.6.

Though when installing the package via `mrt` it is using the recent version 0.2.0:

[code]

I waited some time now and reloaded the page multiple ti

[2014-05-31 05:26] udondan opened #163 "atmospherejs.com always shows README from github master"
It seems like atmospherejs.com always fetches the most recent README from github master.

I see how this is convenient as I do not have to release a new version to fine-tune the description, killing typos and the like.

But this could be a problem, as the master README might not be the same as the version from the published tag and the description might differ from how the released version actuall

[2014-05-31 09:16] arunoda opened #164 "Package not displaying"
I've just published a new package (kadira). I could be able to publish and install it with mrt. But it does not shown in the UI.

Any reasons?

P.S. This time I've used a different email in the smart.json. Is that the reason?

[2014-05-31 09:18] udondan commented on #164
That sounds related to what I have experienced with updating a package in #162

[2014-05-31 09:19] arunoda commented on #164
Yep. seems like.

[2014-05-31 11:16] tmeasday commented on #163
It's a good point @udondan - although I think it's tricky to get right in general..

[2014-05-31 11:20] tmeasday commented on #162
Hey @udondan - syncing between the old and new site was down for a little bit. Should be good now.

[2014-05-31 11:20] #162 closed, assigned to nobody

[2014-05-31 11:21] tmeasday commented on #158
Hey @udondan - we'll hold out implementing features like this on the new site until we know if we'll be able to do it with the new MDG hosted packaging solution. We wouldn't want to add the feature and then have to take it away again :)

[2014-05-31 14:18] udondan commented on #163
Can't you just fetch the content from the correct tag? e.g. `https://github.com/udondan/meteor-contact/blob/v0.2.0/README.md` instead of `https://github.com/udondan/meteor-contact/blob/master/README.md`. You just need to replace master with the tag which you know since you show the version number on the page :)

[2014-05-31 14:19] udondan commented on #162
Yep, looks good now. Thanks :)

[2014-05-31 14:20] udondan commented on #158
I see, that makes sense. Thanks for explaining!

[2014-06-01 23:16] tmeasday commented on #163
Right. But it might not be what a package author expects -- they have to publish a new version of the package to update the readme?

I think it's tricky. I think in general it's best if people use master for the latest version of the package and   do any further development on another branch to avoid this problem. But it's tricky to enforce that too..

[2014-06-02 09:11] udondan commented on #163
Well, as written, I see how it is very convenient the way it is. But the readme is part of the package, so no matter where the user develops (branch, master) I think it should be displayed the readme which belongs to the package. Even if that is not very handy, it IMHO is the correct way.

npm is doing it like that, showing the readme of the release. (not that npm is a good example for something ;

[2014-06-03 00:51] tmeasday commented on #163
It's a good point about publishing going off master too but that'd probably be a bit extreme :)

I think it's a really good point that you make and honestly I don't know what the best answer is. I think it's something worth revisiting post-0.9.0 when MDG are hosting the packages and when I don't think they plan on storing a git URL for packages. At that point, it'll be more of atmosphere's respons

[2014-06-03 22:47] christianbundy opened #165 "Can't release package that I co-author"
I'm the co-author of the harmony package in smart.json, how do I release a new version of the package to Atmosphere? I'm getting:

[code]

Thanks!

[2014-06-03 22:48] tmeasday commented on #165
Hi @christianbundy - have you been added to the project as a maintainer as detailed here: https://atmosphere.meteor.com/wtf/maintain ?

[2014-06-03 22:51] mquandalle opened #166 "Multiple authors"
In harmony [smart.json](https://github.com/mquandalle/meteor-harmony/blob/master/smart.json), we define two (co-)authors, but there is only one displayed [on atmosphere](https://atmospherejs.com/package/harmony), so that's a bug :-)

Note that this field has been modified after the first release.

[2014-06-03 22:51] christianbundy commented on #165
I haven't, thanks! Is that supposed to be run in the console on atmospherejs.com by the current author?

[2014-06-03 22:52] tmeasday commented on #165
On the old site. It's a bit janky but a short term solution.

[2014-06-03 22:54] tmeasday commented on #166
You are correct in guessing the problem is that the field changed since initial release. Not a great system right now.

[2014-06-03 22:56] christianbundy commented on #165
Not a problem at all, thanks @tmeasday!

[2014-06-03 22:56] #165 closed, assigned to nobody

[2014-06-05 07:59] subhog opened #167 "Cannot sign in / reset password"
`mrt` asked me for a password when trying to update a package. I recall setting one up on atmosphere, but now there's no option to sign in / reset / change password.

[2014-06-05 08:14] udondan commented on #167
Accounts are not yet in the new atmosphere. You an manage your account on the old page: https://atmosphere.meteor.com/accounts But take care where you click, most links redirect to the new page now.

[2014-06-05 08:48] tmeasday commented on #167
Yes! Sorry about the confusion but it's (hopefully) a very short term situation.

[2014-06-05 08:55] subhog commented on #167
Got it, thanks.

[2014-06-05 08:55] #167 closed, assigned to nobody

[2014-06-10 11:38] pahans opened #168 "shows removed dependancies in the package listing"
I have removed `bootstrap-3` dependancy in `0.1.2` release in my  ['reactive-modal'](https://atmospherejs.com/package/reactive-modal) package. But in the Atmosphere page it is still showing that my package has a `bootstrap-3` dependancy.

[2014-06-11 02:45] tmeasday commented on #168
Hi @pahans

This is a bit of a bug with Meteorite/Atmosphere. I _think_ if you publish a version of the package with a _empty_ `packages: {}` declaration (as opposed to none at all), it'll clear this info from the package.

[2014-06-11 21:11] timbrandin opened #169 "I don't like I have to repair permissions every once a while"
For example when a package needs sudo to install it's npm dependencies, things gets screwed up. Sorry for the language, I love atm but this is important.

[2014-06-12 02:03] tmeasday commented on #169
Hey @timbrandin -- it sounds like perhaps you have problems with permissions on your machine? Two things:
1. I never need to use sudo to run `mrt` or `meteor`
2. If a package installs an npm package, that's Meteor, not anything to do with Meteorite. You can confirm this by just using `mrt install`, and actually running `meteor` when you want to start your app.

[2014-06-12 08:21] udondan commented on #169
I think this is a general npm problem. I used to have an account w/o admin role on OS X and I constantly had problems with npm. I think I first had to install it with `sudo` and then constantly had to call npm with `sudo` when updating or installing a package. I struggled a while with this until I jettison all security and upgraded my user account to admin. I think I then still had to completely d

[2014-06-12 11:36] timbrandin commented on #169
So it's an npm issue, thx. Looking into it.
@tmeasday, thx for your quick response! Will I see you at the next Devshop SFBay maybe? I'm coming over from Sweden.

[2014-06-12 12:19] DanielDornhardt opened #170 "Atmosphere down / Websocket problems?"
Hello,

I don't get any results on atmosphere anymore. Nothing at all. I see the app, but it's "empty", eg. no data is loaded. Searches never return results.

In the console I get this message, repeated ad inifinitum:

WebSocket connection to 'ws://atmospherejs.com/sockjs/732/7iyvwnig/websocket' failed: One or more reserved bits are on: reserved1 = 1, reserved2 = 0, reserved3 = 0

---

The same ha

[2014-06-12 12:43] udondan commented on #170
I have no problem accessing atmospherejs.com, content is loaded and there are no messages in the console. Looks like a problem on your end.

[2014-06-12 13:30] jbl2024 opened #171 "codemirror package is missing"
Hi,
the codemirror package is missing (http://atmospherejs.com/package/codemirror) : the github repo has disappeared.

I have created another repo from a fork and updated package to latest codemirror stuff (because the fork was broken) :

https://github.com/jbl2024/meteor-codemirror

is it possible to update atmosphere index to use this new repo ?

[2014-06-12 13:40] tmeasday commented on #170
Sounds like a problem with your machine, I'd be interested to know what it is if you figure it out...

[2014-06-13 00:06] tmeasday commented on #169
@timbrandin / @udondan -- I think the better solution is to change permissions of various files and directories so you never need to run `npm` as sudo. I'm not sure exactly what those directories are but it works on my machine (OSX). Not sure if that helps too much :)

P.S. @timbrandin - I won't be there but enjoy it and say hi to @dominicnguyen and @zol for me :)

[2014-06-13 00:06] #169 closed, assigned to nobody

[2014-06-13 00:08] tmeasday commented on #171
Hi @jbl2024 - perhaps try to get in touch with @digioak ?

[2014-06-13 17:42] timbrandin commented on #169
Thx will try that! Will do!
BR // T

[2014-06-13 18:14] jbl2024 commented on #171
You're right, this should have been the first step :)

[2014-06-15 20:35] timbrandin opened #172 "Share button or favorite button"
Hi, once again I find something I would like to favorite, share or store for future reference once I have the opportunity to test it out. It would be a simple thing to implement! A sharebutton for Twitter or HackerNews. Once again - Good work with Atmosphere!

[2014-06-18 13:20] yauh commented on #170
I am also seeing lots of 503s mixed with occasional 504s here as of late. Perhaps some kind of proxy/server issue for european users?

[2014-06-18 13:38] udondan commented on #170
I had that too in the recent days, as well many timeouts. But that had not been Websocket problems as described here.

[2014-06-18 14:01] DanielDornhardt commented on #170
Hey... I think it might have something to do with a tool I am using, K9 web protection: http://www1.k9webprotection.com/

which, if it is implemented as some kind of proxy, could break the websocket connection. At least that's my theory.

I contacted them and I'll see what they'll tell me about this.

For my own project, it seemed that it would still work, I guess meteor might fall back to an alte

[2014-06-22 22:17] digioak-zz commented on #171
atmosphere.meteor.com now atmospherejs.com has changed quite a bit... how
do I unregister the package?​

On Fri, Jun 13, 2014 at 2:14 PM, Jérôme Blondon notifications@github.com
wrote:

[2014-06-23 02:39] udondan commented on #171
It's the same process on the old page. There is no option to do the same at the new page yet. The accounts page of the old site does not redirect to the new site, you can unregister it there via console: https://atmosphere.meteor.com/accounts

[code]

[2014-06-23 03:21] digioak-zz commented on #171
I tried executing that command after logging, returned 'undefined'... not
sure if it takes a while?

http://screencast.com/t/vohzyoBulHu

On Sun, Jun 22, 2014 at 10:39 PM, udondan notifications@github.com wrote:

[2014-06-25 21:30] awatson1978 opened #173 "rm bootstrap-semantic-syntax package"
Hi,
Messed up a release.  When you do some housecleaning, you can delete the `bootstrap-semantic-syntax` package.  Sorry for cluttering up the database with broken packages.
Abigail

[2014-06-27 16:43] domyen opened #174 "404: Search trigger does not open search overlay"
Reproduce:
1. Navigate to the 404 page
2. Click on the search button in the center of the page or the search input in the menu
3. Search is supposed to appear but does not

[2014-07-04 05:11] dandv opened #175 "rm z-mongo-admin from search"
http://atmospherejs.com/package/z-mongo-admin - points to Houston

[2014-07-04 05:12] dandv opened #176 "rm admin package from search results"
http://atmospherejs.com/package/admin - dead GitHub

[2014-07-07 01:59] alanning opened #177 "Testing your package link broken"
Page: https://atmospherejs.com/docs/publishing

Section: Testing your package

Where: Second sentence, "It helps if your package includes unit tests. See for example crypto-base64 and for more on the topic, Testing Packages with Tinytest."   <= the "Testing Packages with Tinytest" part.

Current link is broken, eventedmind changed its url structure.

Correct Link:
https://www.eventedmind.com/feed/

[2014-07-09 19:34] vsivsi opened #178 "Clickable authors?"
It would be great if you could click on the author(s) of a package and be taken to a list of other packages they've written.

I understand that the "related" panel often shows other packages by the same authors, but it isn't comprehensive and "related" could mean many things (now or in the future).

[2014-07-10 01:03] jsep commented on #135
@tmeasday I have the same issue,  the package is [munit](http://atmospherejs.com/package/munit) i've published the package under the user `juan-lavaina` and also I don't remember the password, how I can reset it?

[2014-07-10 17:04] hharnisc commented on #153
Thank you guys for this:

http://blog.percolatestudio.com/engineering/atmosphere-score/

Very enlightening!

[2014-07-14 08:31] tmeasday commented on #135
Hi @juan-spacejam - email me at tom@percolatestudio.com to work it out.

[2014-07-14 10:18] SeriousM commented on #148
:+1:

[2014-07-15 02:13] #135 closed, assigned to nobody

[2014-07-15 02:14] #139 closed, assigned to nobody

[2014-07-15 02:14] tmeasday commented on #146
ping @matteodem?

[2014-07-15 02:15] tmeasday commented on #148
Seems like a good idea to me :)

[2014-07-15 02:16] tmeasday commented on #149
Apologies for this. We identified a pretty low level issue with Meteor (https://github.com/meteor/meteor/issues/2299). It took some time to track it down to that.

[2014-07-15 02:16] #149 closed, assigned to nobody

[2014-07-15 02:18] tmeasday commented on #153
Hey, no worries :)

[2014-07-15 02:18] #153 closed, assigned to nobody

[2014-07-15 02:20] #157 closed, assigned to nobody

[2014-07-15 02:37] #158 closed, assigned to nobody

[2014-07-15 02:37] #159 closed, assigned to nobody

[2014-07-15 02:38] #164 closed, assigned to nobody

[2014-07-15 02:38] tmeasday commented on #168
@pahans any luck?

[2014-07-15 02:39] tmeasday commented on #170
I think was just a performance issue. We've had some trouble. More info to come :)

[2014-07-15 02:39] #170 closed, assigned to nobody

[2014-07-15 02:40] #171 closed, assigned to nobody

[2014-07-15 02:40] tmeasday commented on #172
Good idea Tim.

[2014-07-15 02:41] tmeasday commented on #178
@vsivsi yes it would! An authors page is a planned feature that's coming relatively soon :)

[2014-07-15 02:43] tmeasday commented on #116
@mizzao - heh :) Well I'm glad you got excited for a sec there.

[2014-07-15 02:44] tmeasday commented on #151
See #116

[2014-07-15 02:44] #151 closed, assigned to nobody

[2014-07-15 02:44] #145 closed, assigned to zol

[2014-07-15 02:45] tmeasday commented on #127
@dandv I think [this](https://meteor.hackpad.com/Getting-Started-With-Unipackage-IOckQBQgXaQ) is the right place to take this conversation.

[2014-07-15 02:45] #127 closed, assigned to nobody

[2014-07-15 04:51] #94 closed, assigned to tmeasday

[2014-07-15 04:52] tmeasday commented on #141
Hey @lirbank - sorry took a while to get here. Did you already fix the README on your package?

[2014-07-15 04:53] #147 closed, assigned to nobody

[2014-07-15 04:56] tmeasday commented on #174
Not seeing this on production or devel. Can you remember where you saw it @dominicnguyen ?

[2014-07-15 04:57] tmeasday commented on #177
@cmather - FYI perhaps your old link should have redirected? Changing here anyway.

[2014-07-15 04:57] domyen commented on #174
Still see it.
1. Go to this page http://atmospherejs.com/kaflkejakfj
2. Click on the search button

[2014-07-15 04:58] tmeasday commented on #177
Thanks @alanning :)

[2014-07-15 05:03] cmather commented on #177
Thanks Tom. Sorry! I need to get religion on redirects.

[2014-07-15 05:23] tmeasday commented on #148
Done. @dominicnguyen to test: hit the devel site, then type "localhost<tab>" into the addressbar. It can be bit finicky as to when it comes up but it appears to work.

[2014-07-15 05:28] tmeasday commented on #174
Gotcha. Note that it didn't happen at e.g. /packages/asdfasdf

[2014-07-15 06:40] pahans commented on #168
@tmeasday  yes,  empty `packages: {}` worked for me.

[2014-07-15 06:49] tmeasday commented on #168
Great!

[2014-07-15 06:49] #168 closed, assigned to nobody

[2014-07-15 08:13] timbrandin commented on #148
Can't wait to see this live. @tmeasday

[2014-07-15 08:13] timbrandin commented on #172
@tmeasday thx

[2014-07-15 08:34] SeriousM commented on #148
Is http://beta.atmospherejs.com/ the testing site?

[2014-07-15 12:19] timbrandin commented on #178
@tmeasday do you have a public roadmap or something? Would be great to vote on features like this.

[2014-07-15 16:49] domyen commented on #178
@timbrandin We don't have a page where folks can vote on features but our public roadmap was referenced [here](http://us3.campaign-archive1.com/?u=4eaab348037bea8afae9acd5f&id=7077e6c631&e).

[2014-07-15 19:53] #174 closed, assigned to domyen

[2014-07-15 19:56] #143 closed, assigned to domyen

[2014-07-15 19:59] domyen commented on #148
lgtm

[2014-07-15 20:04] domyen opened #179 "Redirect beta.atmospherejs.com to atmospherejs.com"
@tmeasday let's redirect beta.atmospherejs.com to atmospherejs.com. Right now it's being indexed which is _not_ good.

If we're using it as a staging server can we change the name to reflect that & add a robots.txt with rel=noindex nofollow.

[2014-07-15 20:05] #148 closed, assigned to domyen

[2014-07-15 20:08] domyen commented on #42
Closing until there's a solution that doesn't require hacking.

[2014-07-15 20:08] #42 closed, assigned to domyen

[2014-07-15 20:47] domyen commented on #36
Done. @tmeasday check it out on this page http://localhost:3000/package/Mobi-Router.
Ended up with a simple CSS solution that piggybacks on Githubs already processed markup. If your code is highlighted on Github it's going to be highlighted here as well.

@hharnisc Thanks for the link. The library seems fantastic! Because Atmosphere uses GH Readme's, which are passed through their own server-side

[2014-07-15 20:51] hharnisc commented on #36
Seems like an elegant solution to the problem either way. Looking forward to seeing this in production!

[2014-07-15 22:20] dandv commented on #109
I still see https://atmospherejs.com/package/admin, and Atmosphere searches for "admin" continue to find it.

[2014-07-15 22:22] dandv opened #180 "Dead duplicate sb-admin packages?"
https://atmospherejs.com/package/sb-admin
https://atmospherejs.com/package/sb-admin-2

404 GitHub for both.

[2014-07-16 08:16] timbrandin commented on #178
Perfect, I wish it was a Trello-board though. :)

2014-07-15 18:49 GMT+02:00 Dominic Nguyen notifications@github.com:

##

Cheers,
// Tim Brandin @timbrandin https://twitter.com/#!/timbrandin
http://timbrandin.com

[2014-07-16 09:29] tmeasday commented on #179
Done.

[2014-07-16 09:29] #179 closed, assigned to tmeasday

[2014-07-16 12:08] timbrandin commented on #36
+1

[2014-07-16 16:36] #177 closed, assigned to tmeasday

[2014-07-16 16:36] domyen commented on #177
lgtm

[2014-07-16 16:36] #36 closed, assigned to tmeasday

[2014-07-16 16:37] #123 closed, assigned to tmeasday

[2014-07-16 16:38] domyen commented on #144
@tmeasday is this good to go?

[2014-07-16 16:43] domyen commented on #172
Going to push this back to the next next release. Twitter will likely be the first button. We're considering a 'watch' button that surfaces in a personal user feed.

[2014-07-16 16:49] domyen commented on #141
Hey @lirbank this is an intentional tradeoff to address variable screen sizes without needing to horizontal scroll through code snippets.

The reading experience should be improved with syntax highlighting refinement.
https://github.com/percolatestudio/atmosphere-beta/issues/36#issuecomment-49090816

[2014-07-16 16:49] #141 closed, assigned to domyen

[2014-07-16 16:51] timbrandin commented on #172
Oh both sounds amazing. :+1:

[2014-07-16 17:11] serkandurusoy commented on #123
Nope! Still not visible on https://atmospherejs.com/recent

Sent from my iPhone

On Jul 16, 2014, at 19:37, Dominic Nguyen notifications@github.com wrote:

Closed #123.

—
Reply to this email directly or view it on GitHub.

[2014-07-16 17:12] domyen commented on #123
We haven't deployed this fix yet.

[2014-07-16 23:46] tmeasday commented on #144
Yup.

[2014-07-16 23:46] #144 closed, assigned to tmeasday

[2014-07-18 23:48] domyen opened #181 "SearchOverlay: 'See more' causes the scroll position to reset back to the top of the screen"
Reproduce:
1. Open search overlay
2. Type 'fa'
3. Click See More below the packages

[2014-07-20 16:20] Vadorequest opened #182 "Rate and comments"
I would love to have a rating system such as comment for Meteor packages.
There are sometimes several packages to basically do the same thing and having this kind of info would help a lot to do the right choice.

[2014-07-20 16:38] Vadorequest opened #183 "Doc is broken"
This link is broken:
https://atmospherejs.com/package/DOCS.md

[2014-07-21 07:41] tmeasday commented on #182
Yes! Definitely. This is on our roadmap..

[2014-07-21 07:42] tmeasday commented on #183
Hey. Where does that link come from? Is it internal to the IR readme?

If so, we are tracking this problem here: https://github.com/percolatestudio/atmosphere-beta/issues/116

[2014-07-21 08:06] Vadorequest commented on #182
Okay! Nice ;)

[2014-07-21 08:06] tmeasday commented on #181
Fixed, please test

[2014-07-21 08:07] Vadorequest commented on #183
Yes it it!

[2014-07-21 08:07] #183 closed, assigned to nobody

[2014-07-21 20:57] serkandurusoy opened #184 "RSS Feed"
It would be super awesome if atmosphere had an RSS feed of the recent items view.

[2014-07-22 00:15] domyen opened #185 "SearchOverlay: Can't select all via CMD/CTRL + A"

[2014-07-22 00:17] domyen opened #186 "SearchOverlay: Cannot type full query in chrome without losing characters"
Repro:
1. Use chrome
2. Pull up search
3. Type in 'facebook' quickly
4. Watch as facebook will not appear in full when the results are loaded

[2014-07-22 02:20] tmeasday commented on #186
This issue is fixed on devel. I assume by the changes for #181

[2014-07-22 04:55] #181 closed, assigned to domyen

[2014-07-22 04:55] #185 closed, assigned to domyen

[2014-07-22 04:55] #186 closed, assigned to domyen

[2014-07-24 17:29] domyen commented on #182
Roadmap visible here https://trello.com/b/RDZR8YGF/atmosphere-product-roadmap

[2014-07-24 17:29] #182 closed, assigned to nobody

[2014-07-24 17:32] domyen commented on #178
This feature is 100% going to happen. Roadmap: https://trello.com/b/RDZR8YGF/atmosphere-product-roadmap

[2014-07-24 17:32] #178 closed, assigned to nobody

[2014-07-24 17:41] timbrandin commented on #178
Yay! A produkt roadmap! ;)

Skickat från min iPhone

[2014-07-24 18:18] domyen commented on #172
Added to the product roadmap and closing

[2014-07-24 18:18] #172 closed, assigned to domyen

[2014-07-24 18:21] domyen commented on #138
Added to the [roadmap](https://trello.com/b/RDZR8YGF/atmosphere-flight-path) & closing.

[2014-07-24 18:21] #138 closed, assigned to nobody

[2014-07-28 23:51] albinekb opened #187 "Insecure content, https warning"
The page at 'https://atmospherejs.com/' was loaded over HTTPS, but is submitting data to an insecure location at 'http://percolatestudio.us3.list-manage.com/subscribe/post': this content should also be submitted over HTTPS.

**This makes chrome show a warning triangle rather than the "green lock", simple fix.**

[2014-07-29 18:03] domyen commented on #187
Thank you. We are looking into it!

[2014-07-31 15:47] semateos opened #188 "meteor-polymer points to a missing repo"
http://atmospherejs.com/package/polymer
https://github.com/andrewreedy/meteor-polymer/  =  404

Also, would be handy to have a way to report dead atmosphere packages from the package detail view.

[2014-08-03 21:40] awatson1978 opened #189 "rm hipaa-audit-log [housekeeping]"
Hi.  Please remove hipaa-audit-log.  Had a stale smart.json file.
http://atmospherejs.com/package/hipaa-audit-log

[2014-08-03 21:43] awatson1978 opened #190 "rm clinical-ui-hipaa--log [housekeeping]"
Hi.  Please remove `clinical-ui-hipaa--log`.  Please note the double dash typo (created while fixing the stale smart.json of the previous package).  Correct package has only a single dash.
http://atmospherejs.com/package/clinical-ui-hipaa--log

[2014-08-04 15:11] enricribas opened #191 "Is atmosphere abandoned?"
The site doesn't work. No packages show up. The repo is missing. No one seems to reply to issues. Have I missed something?

[2014-08-05 00:58] domyen commented on #191
Hey @enricribas, you can reach out to us here or on twitter [@atmospherejs](twitter.com/atmospherejs). One of our webservers was causing a service issue for a small percentage of users and needed to be restarted. We're all good now.

If you have a bug please forward a way to reproduce or give more details on what the problem is so we can fix it quickly. Apologies for the inconvenience.

[2014-08-05 00:58] #191 closed, assigned to nobody

[2014-08-08 01:51] petermikitsh commented on #54
Is there still a plan to open source the code? It's a great site.

[2014-08-08 01:55] tmeasday commented on #54
I guess it wasn't very soon. :(

Sorry it's taken a while. We'll probably just try and get as much as possible into packages that people can use rather than O/S-ing the entire site.

In the meantime if there are any particular features you'd like to know more about we can post about them like: http://blog.percolatestudio.com/engineering/atmosphere-score/

Thanks btw @petermikitsh

[2014-08-09 17:53] frieds opened #192 "Iron Router package missing docs information"
I try to click on More Info at the bottom to learn more about route controllers, but that leads to a 404 page. Can I find the documentation elsewhere?

[2014-08-10 20:39] domyen commented on #192
Docs are here: https://github.com/EventedMind/iron-router/blob/devel/DOCS.md#route-controllers. We don't process relative URL's from the github readme's at this time.

[2014-08-10 20:39] #192 closed, assigned to nobody

[2014-08-13 09:04] SamHatoum opened #193 "Incorrect password error"
I'm able to [release a package](https://github.com/xolvio/velocity-coverage/releases/tag/v0.0.1)

I'm able to login to meteor.com with my `xolvio` username and password

When I do `mrt publish .` I'm asked for a username and password. When I enter `xolvio` and the password that works on meteor.com, I get `Error: Incorrect password`.

What am I doing wrong? Help!

[2014-08-13 09:12] SamHatoum commented on #193
Closing as I've posted this in the wrong place!

https://github.com/oortcloud/meteorite/issues/292

[2014-08-13 09:12] #193 closed, assigned to nobody

[2014-08-13 15:18] reywood opened #194 "README did not update upon `mrt publish .`"
Just published a new version of the publish-composite package, but the README displayed on atmospherejs.com did not update to the new version.

[2014-08-14 04:36] udondan opened #195 "Zombie packages"
In #158 some old packages of mine have been removed. They can't be found by searching but I just noticed they are still accessible through the old URL and they are indexed in Google:
- http://atmospherejs.com/package/node-zip
- http://atmospherejs.com/package/meteor-zipzap

The packages had been re-submitted with new names, simply _zip_ and _zipzap_. Please don't delete those. ;)

[2014-08-14 07:07] tmeasday commented on #195
Hey @udondan,

Yes, packages are never actually deleted, they just stop showing up in search :)

[2014-08-14 07:08] tmeasday commented on #194
Hey @reywood - we just grab the readme from GitHub. Has it changed there?

[2014-08-14 07:10] tmeasday commented on #192
See https://github.com/percolatestudio/atmosphere-beta/issues/116

[2014-08-14 07:43] udondan commented on #195
Oh, good to know! I guess then we can close this. Not worth looking into it before the big change.

[2014-08-14 07:43] #195 closed, assigned to nobody

[2014-08-15 00:54] dandv opened #196 "rm package `robots.txt` (superseded by robots-txt)"
http://atmospherejs.com/package/robots.txt

CC @gadicc

[2014-08-15 20:22] reywood commented on #194
Yup. Notice that on [GitHub](https://github.com/englue/meteor-publish-composite) there are two opening paragraphs, and on [Atmosphere](http://atmospherejs.com/package/publish-composite) there's only one.

[2014-08-16 06:45] gadicc commented on #196
Hey, thanks @dandv!

Yeah, this was indeed superseded way way back... the name `robots.txt` was allowed but the dot caused problems in a few weird cases... not sure about package name rules for the new Meteor.  ANYWAYS!  Yeah, rm it :)   Thanks, guys.

[2014-08-17 22:05] tmeasday commented on #194
Ahh, right. I think the problem is with the redirect (reywood -> englue) for the git URL. For some reason github does something weird when we try to fetch such a readme.

I think the easiest fix is to change the readme in the package's metadata.

[2014-08-19 00:35] reywood commented on #194
Ah, right. I forgot to update smart.json when I moved the repo. Thanks.

[2014-08-19 00:35] #194 closed, assigned to nobody

[2014-08-20 06:14] isAlmogK opened #197 "mrt add not working"
I'm trying to add new packages and I'm getting the following error

mrt add jquery-validation

smart.json changed.. installing from smart.json

/usr/local/lib/node_modules/meteorite/lib/dependencies/package.js:63
      throw('No version ' + version + ' of package ' + self.name + ' was found
                                                                 ^
No version 0.9.1 of package iron-router w

[2014-08-20 08:23] tmeasday commented on #196
Yeah it won't have made it into the new server I don't think.

[2014-08-20 08:24] tmeasday commented on #197
Ahh, yes, @cmather accidentally published that incorrect version of IR and we broke the usual rule and deleted it. Try `mrt update`.

[2014-08-20 08:32] isAlmogK commented on #197
Yea I just hardcode the correct iron-router version in my smart.json file I prefer not to do this way when I deploy I get the correct builds no matter what.

[2014-08-20 08:32] #197 closed, assigned to nobody

[2014-08-20 09:21] sclausen opened #198 "Mark Non-Vanilla JS/HTML Packages"
Its a bit frustrating searching for cool stuff only to find out, its a package written in coffescript and/or with jade templates or whatever.
I don't want a discussion coffe/jade etc. vs vanilla js/html. Its just, when you're developing, you either stick to one of this methods and the other one is  out of the question.

[2014-08-21 03:03] tmeasday commented on #198
I guess a more general concept would be tagging of packages -- tags like `coffeescript` / `jade` could potentially help you out here.

[2014-08-24 17:42] haynzz opened #199 "meteor-polymer package no longer available on github"
just try.

[2014-08-26 15:39] cristiandley opened #200 "I owned a package that now does not exist by my ownage"
Hi i owned "Alertfy" package... 'https://github.com/cristiandley/Alertfy' now another user owns it

[2014-08-27 02:19] nooitaf opened #201 "History Data lost or just bug?"
![screen shot 2014-08-27 at 4 17 05](https://cloud.githubusercontent.com/assets/1898194/4054488/74308884-2d90-11e4-9ee8-c499daebeec8.jpg)

[2014-08-27 11:22] timbrandin opened #202 "Why is tmeasday co-author on most of my packages?"
Tom Coleman is not a co-author on Github what I can see, I would love him to be, but it's strange he's there everywhere.

[2014-08-27 14:31] timbrandin opened #203 "Cannot search again"
If you do a search, and then go in to a result from that search.

Then when later trying to search again from that page, one can't reset or submit the search field or result. Nothing hapens.

[2014-08-27 14:31] timbrandin opened #204 "Download count reset?"
Why did we reset the count of the downloads?

[2014-08-27 16:08] mizzao commented on #202
See https://hackpad.com/Migrating-Packages-zN0we9sIjkH.

[2014-08-27 16:09] mizzao opened #205 "Meteor is winning!"
On the 0.9 atmosphere, all of the most downloaded, top packages etc. are under Meteor.

This isn't super useful as it doesn't help people find good non-core packages.

[2014-08-27 16:10] mizzao commented on #201
This was probably a migration issue. On my package it is all out of order too.

[2014-08-27 23:03] tmeasday commented on #200
Hi @cristiandley - are you referring to http://atmospherejs.com/ovcharik/alertify ?

Perhaps @ovcharik just got impatient and released his own version on 0.9.0? I'm not sure, but in the new package system you can release your own version if you'd like.

[2014-08-27 23:04] tmeasday commented on #203
Works for me @timbrandin.

Which browser are you seeing the problem in?

[2014-08-27 23:09] tmeasday commented on #204
Good question!

I'll probably write something more definitive somewhere but this will do for now:

The download count on the old atmosphere count was a pretty wonky number -- a "download" was triggered by Meteorite fetching a package from Atmosphere, which sounds good on the surface, but actually for a variety of reasons could happen a bunch of times when you wouldn't expect it.

For instance, mos

[2014-08-27 23:10] tmeasday commented on #202
Haha. Get rid of me! I can't handle the responsibility.

[2014-08-27 23:11] tmeasday commented on #205
Yes, very true. We need to workshop the best way to deal with this.

[2014-08-28 02:05] tmeasday commented on #205
As a temporary work around for  deeper problem I've just filtered meteor owned packages from the trending and top lists.

[2014-08-28 02:13] cristiandley commented on #200
Yeah, he released that like in less than 8 hours after 0.9.0 release.... well... is not a problem. I will use that package now. Thanks Tom!

[2014-08-28 02:13] #200 closed, assigned to nobody

[2014-08-28 02:17] tmeasday commented on #200
I guess he was **really** impatient.

[2014-08-28 03:06] tmeasday commented on #201
Yeah, we can't control the date that the package was created at MDG's end. It was the date of the migration.

[2014-08-28 07:53] prasadKodeInCloud commented on #203
Cannot search my package 'client-debugger' published last week.

[2014-08-28 09:33] timbrandin commented on #203
Seems like the problem is resolved now, was using Chrome.

[2014-08-28 09:33] #203 closed, assigned to nobody

[2014-08-28 09:34] timbrandin commented on #203
@prasadKodeInCloud you should create a new issue for that.

[2014-08-28 09:37] timbrandin commented on #202
I'll try to remove you @tmeasday ;), and yeah I should probably migrate my packages first @mizzao. Thx!

[2014-08-28 09:39] timbrandin commented on #204
Thx, @tmeasday, great explanation. This I can understand!

[2014-08-28 09:59] tmeasday commented on #203
@Prasad19sara -- I think maybe you published that to the old server (
old-atmosphere.meteor.com) ?

You'll need to publish the package in the new 0.9.0 style.

On Thu, Aug 28, 2014 at 7:34 PM, Tim Brandin notifications@github.com
wrote:

[2014-08-28 12:05] prasadKodeInCloud commented on #203
Yea I did so. Thanks . Its not auto migrated I guess. still can download anyway

[2014-08-28 13:46] aldeed commented on #201
Maybe you could sort the list by version number instead?

[2014-08-28 15:13] nooitaf commented on #201
This is very confusing, especially for newcomers. Besides sorting, even very old packages look like they are new. Sorting by version is a good quick fix, but perfect would be to recover those dates. Would it be possible to give the MDG a backup of the correct dates of publishing so they could fix it?

[2014-08-29 10:22] tmeasday commented on #201
Should be better now (perhaps not perfect). Let me know.

[2014-08-29 12:57] aldeed commented on #201
The packages I checked still look about the same, pretty much random.

[2014-08-30 00:56] tmeasday commented on #201
Hmm, yeah fair call. I guess that makes sense, the dates are slightly
different even if they look the same.

On Fri, Aug 29, 2014 at 10:57 PM, Eric Dobbertin notifications@github.com
wrote:

[2014-08-30 13:53] asaphk opened #206 "Allow right click to open packages in new tabs ;)"
Right click > Open in new tab > Awesomeness.

[2014-08-30 18:36] ghost opened #207 "Deleting packages, duplicates and deprecatations"
Sending another notice about the need to provide package maintainers the ability to delete packages. The migration to the new package system is creating tons of duplicates as package maintainers try to control the namespace of their packages, and make publishing mistakes.

[2014-08-30 19:08] isAlmogK opened #208 "What happened to GIT Hub repo link for the package and report issue link"
What happened to GIT Hub repo link for the package and report issue link

[2014-08-30 19:31] isAlmogK commented on #206
Yes this is a must

[2014-08-30 19:31] isAlmogK opened #209 "Missing readme files"
I'm seeing a number of packages that on atmosphere are missing the readme files but on github they have it here is an example - https://github.com/percolatestudio/meteor-mixpanel/

[2014-08-31 00:16] dburles commented on #206
In the interim you can hold command and left click to open in a new tab, possibly ctrl on windows

[2014-08-31 06:49] wedow commented on #207
Just want to +1 this.  Running into it as well.

[2014-08-31 15:09] serkandurusoy opened #210 "Recent should be separated into new and updated"
With the migration to new package server, we've been seeing a huge amount of activity on the /recent list.

Frankly, I believe that although it will settle once package migrations get completed, this will still be a pretty busy view because of the versioning _discipline_ the new packaging system brings.

Therefore, I suggest we separate this list into two distinct views
- New packages
- Recently u

[2014-08-31 15:14] serkandurusoy opened #211 "Download counters reset?"
Download counters seem to have been reset to zero during migration, therefore we've lost the ability to judge packages by their popularity.

That was a valuable peace of data that was collected over so many months now, did we just rewind?

[2014-09-01 00:12] dburles commented on #211
hey @serkandurusoy this was explained in #204

[2014-09-01 00:12] #211 closed, assigned to nobody

[2014-09-01 00:37] dburles commented on #210
Thanks for the suggestions, we're currently looking over the differences the new packaging system has introduced and the changes that atmosphere will require.

[2014-09-01 00:39] dburles commented on #208
related to #209

[2014-09-01 00:39] #208 closed, assigned to nobody

[2014-09-01 00:52] dburles commented on #207
Hey guys we're aware of this, perhaps in the future meteor may allow you to remove packages that have not yet had any installs. Also package renaming is coming. On top of this we're considering ways to hide or minimise the visibility of stale packages on atmosphere itself.

[2014-09-01 00:54] dburles commented on #204
Reopening so others with the same question can find it

[2014-09-01 03:23] tmeasday commented on #209
Some packages that were automigrated never got the `git` URL that was specified on Atmopshere. You can tell because there's no Git link on the RHS.

We'll need to republish this one I guess.

[2014-09-01 03:51] wedow commented on #207
Hey David, that's great to hear. Thanks for the update!
On 2014-08-31 8:52 PM, "David Burles" notifications@github.com wrote:

[2014-09-01 04:45] tmeasday commented on #206
Oh does this not work?

[2014-09-01 04:49] ghost commented on #207
Good to hear - thanks for the update.

[2014-09-01 06:17] juliancwirko opened #212 "New Atmosphere search system"
I think the new Atmosphere searches only the package names and not descriptions. ('meteor search' too)

[2014-09-01 10:26] serkandurusoy commented on #204
This is great news!

I'd also like to make a note of #62 which is pretty related.

[2014-09-01 19:06] matfin opened #213 "lesshat.less - where is it?"
When installing the meteorite package, I always imported lesshat from @import "/packages/lesshat/lesshat.less";

I updated to Meteor 0.9.0 and ran mrt:install lesshat. There appears to be no documentation as to where the new lesshat.less file is. Any ideas?

[2014-09-01 23:35] dburles commented on #213
I think that package  `mrt:lesshat` might be broken.

[2014-09-02 04:43] tmeasday commented on #212
Yes, this is correct at the moment. We'll be looking at fixing this soon.

[2014-09-04 07:59] dandv commented on #202
I still see all packages having @tmeasday as contributor, e.g. http://atmospherejs.com/dburles/factory

[2014-09-04 08:01] dandv commented on #204
Aha... that's why [my package with a download count of 3 (three)](http://atmospherejs.com/dandv/caret-position) is trending :)

![image](https://cloud.githubusercontent.com/assets/33569/4146323/b42e356a-3409-11e4-9b2c-3afa6817d4df.png)

[2014-09-04 10:03] tmeasday commented on #202
Well I am actually a contributor on that package :)

A lot of packages are still being claimed by people. One of the things I
ask them to do is remove me as a contributor as part of the process.

On Thu, Sep 4, 2014 at 5:59 PM, Dan Dascalescu notifications@github.com
wrote:

[2014-09-04 16:56] mizzao commented on #202
Any word on fixing atmosphere to not show random download numbers and download graphs for each package?

Literally, if you refresh the page, the trending and most used packages are different.

[2014-09-04 17:59] zol commented on #202
We're looking into it. We've prioritized next week's sprint for atmosphere.​

[2014-09-06 12:04] udiedrichsen opened #214 "Not working currently"
It seems that atmosphere today not working.

The search runs forever and the title page with trending etc. shows nothing.

[2014-09-06 15:31] sclausen commented on #214
experienced this since around 24 hours ago

[Edit]: Sorry beeing impatient and pointing out the obvious. I did heavy coding that time and didn't knew I'm such dependent on atmosphere providing search and clear overview for packages ;)

[2014-09-08 05:26] tmeasday commented on #214
Thanks guys. We were having some issues with our Mongo server being overloaded. Fixed now.

[2014-09-08 05:26] #214 closed, assigned to nobody

[2014-09-08 07:10] tmeasday commented on #202
@mizzao -- is it better now? We confirmed that we weren't getting the proper download counts and fixed the problem.

[2014-09-08 07:13] tmeasday commented on #204
@serkandurusoy - we are definitely thinking hard about the dependency issue now that all the core packages (which are in every project via dependencies) are in there.

@dandv - heh our download counts were wrong for a bit there. I think we fixed it.

[2014-09-08 07:18] tmeasday commented on #213
Hey @matfin - I guess the new package system doesn't make the files from packages easily available any more. I'm not sure what the solution to these kind of problems is. Perhaps you should ask about this on the meteor-talk mailing list?

[2014-09-08 07:18] #213 closed, assigned to nobody

[2014-09-08 07:23] matfin commented on #213
Yep thats that I guessed. I ended up downloading the lesshat less file and adding it to my css/thirdparty directory, referencing it from main.less and that worked.

[2014-09-08 07:26] tmeasday commented on #50
I think this has been fixed.

[2014-09-08 07:26] #50 closed, assigned to tmeasday

[2014-09-08 07:27] tmeasday commented on #213
Yeah. It's not ideal though is it :/

On Mon, Sep 8, 2014 at 5:23 PM, Matt Finucane notifications@github.com
wrote:

[2014-09-08 17:27] mizzao commented on #202
Yes, appears to be much more reasonable. Although I wouldn't be able to tell if the numbers are completely correct :)

I'm happy to see that the data was actually stored during the period it wasn't displayed properly.

I don't think the recent packages is working properly, though. I released a new version of `mizzao:autocomplete` 10 hours ago, and this is what shows up in recent packages:

![image

[2014-09-09 00:07] tmeasday commented on #202
Heh, neither would I necessarily :)

On Tue, Sep 9, 2014 at 3:27 AM, Andrew Mao notifications@github.com wrote:

[2014-09-09 02:20] mizzao commented on #202
As you answered this via e-mail, I don't think you saw the edits to my post. Do you think recent packages is working as intended?

[2014-09-09 02:53] tmeasday commented on #202
I'm not sure what you were seeing but I do see your package alongside some "0h" packages in Recent. So it seems to be working right at the moment anyway. Let me know if you catch this situation again.

[2014-09-09 02:58] mizzao commented on #202
That's funny, I don't see it at all when I open Recent, even going back several days. Beats me why it would look different on your machine versus mine.

[2014-09-09 19:33] domyen commented on #187
Fixed and should be deployed by EOW.

[2014-09-09 21:54] domyen commented on #206
@tmeasday @dburles
Let's revisit this week. This bug has to do with using javascript to route the package lockups. IIRC It was an early decision based on routing constraints that are no longer there.

Moving this to p1 because it's not good for indexing if we don't provide real URL's.

[2014-09-10 08:56] p-j opened #215 "rm meteor-crypto-base from search result"
Made a mistake when releasing this one : [meteor-crypto-base](https://atmospherejs.com/jparker/meteor-crypto-base)

The working version is [crypto-core](https://atmospherejs.com/jparker/crypto-core)

Thanks

[2014-09-10 14:12] typeofgraphic opened #216 "Do not know how how to 'require' or use mrt:natural"
I have tried (from within the server folder and at the terminal) to call, find, use 'Natural', Meteor.require("Natural"), npm.require, NPM.require, require...

[2014-09-11 04:18] domyen commented on #206
Fixed. Should be deployed next release.

[2014-09-11 08:43] piyushcoader opened #217 "ServiceConfiguration is not defined in accounts-github"
it was working fine in the previous version of accounts-github..
after i update to 0.9.1 it gives the error as
ServiceConfiguration is not defined

[2014-09-11 17:44] domyen commented on #217
Thanks for submitting an issue. This doesn't seem to be related to the functionality of Atmosphere.

To report or discuss issues about Meteor or core packages:
1. [Meteor Talk Google Group](https://groups.google.com/forum/#!forum/meteor-talk)
2. [Meteor on GH](https://github.com/meteor/meteor/issues)

[2014-09-11 17:45] #217 closed, assigned to nobody

[2014-09-11 17:48] zol commented on #216
In Meteor 0.9+ you add packages by typing `meteor add package`, in your case it would be `meteor add mrt:natural` from within your meteor project. If that's not working, please raise an issue on https://github.com/meteor/meteor

[2014-09-11 17:48] #216 closed, assigned to nobody

[2014-09-11 18:10] domyen commented on #74
We're going to be using notifications to provide user validation when rating packages.

[2014-09-12 01:09] domyen commented on #117
Closing this. We're tracking this issue on: https://github.com/percolatestudio/atmosphere-beta/issues/57

[2014-09-12 01:09] #117 closed, assigned to nobody

[2014-09-12 01:13] domyen commented on #166
This appears to be resolved. Closing.

[2014-09-12 01:13] #166 closed, assigned to nobody

[2014-09-12 09:16] dfischer opened #218 "Avoiding dependency packages from cluttering trending"
I like browsing trending every so often, but it's usually cluttered with a parent package and it's dependencies so it becomes less valuable. Like iron-router and all the iron sub packages.

[2014-09-12 09:18] dfischer opened #219 "Open sourcing atmosphere?"
It would be a great community package and system for education...

Ability to iterate faster too. I'm sure a ton of people would love to contribute back. This would be great for the meteor community as a way to give back and learn.

[2014-09-12 09:18] dfischer commented on #184
RSS is deprecated! :)

[2014-09-12 16:49] domyen commented on #218
Good timing; we are addressing this with the current sprint and will release next deploy.

[2014-09-12 16:52] domyen commented on #219
We plan to release some packages at the core of Atmosphere, we just haven't had the time :(
Will report back when we have more of a timeline for this type of thing.

[2014-09-16 04:50] stubailo opened #220 "Feature request: / as a hotkey for search"
It would be cool to have the '/' key initiate search just like 's' does already, to match certain unix command line tools.

[2014-09-17 00:11] zol commented on #220
Thanks @stubailo, great idea. We'll add this to our current atmosphere sprint.

[2014-09-17 04:35] stubailo commented on #220
Thanks, much appreciated!

[2014-09-17 21:53] domyen commented on #220
@zol back to you to confirm & close

[2014-09-17 22:07] domyen commented on #156
Closing package index issues because Meteor 0.9.0 now manages the package index.
Folks can request the ability to remove packages to the Meteor [roadmap](https://trello.com/b/hjBDflxp/meteor-roadmap) or [meteor-talk group](https://groups.google.com/forum/#!forum/meteor-talk).

[2014-09-17 22:07] #156 closed, assigned to nobody

[2014-09-17 22:07] domyen commented on #215
Closing package index issues because Meteor 0.9.0 now manages the package index.
Folks can request the ability to remove packages to the Meteor [roadmap](https://trello.com/b/hjBDflxp/meteor-roadmap) or [meteor-talk group](https://groups.google.com/forum/#!forum/meteor-talk).

[2014-09-17 22:07] #215 closed, assigned to nobody

[2014-09-17 22:09] domyen commented on #199
Closing package index issues because Meteor 0.9.0 now manages the package index.
Folks can request the ability to remove packages to the Meteor [roadmap](https://trello.com/b/hjBDflxp/meteor-roadmap) or [meteor-talk group](https://groups.google.com/forum/#!forum/meteor-talk).

[2014-09-17 22:09] #199 closed, assigned to nobody

[2014-09-17 22:09] #155 closed, assigned to nobody

[2014-09-17 22:09] #173 closed, assigned to nobody

[2014-09-17 22:09] #175 closed, assigned to nobody

[2014-09-17 22:09] #176 closed, assigned to nobody

[2014-09-17 22:09] #188 closed, assigned to nobody

[2014-09-17 22:09] #189 closed, assigned to nobody

[2014-09-17 22:09] #190 closed, assigned to nobody

[2014-09-17 22:09] #196 closed, assigned to nobody

[2014-09-17 22:11] domyen commented on #88
Closing this. Our roadmap is tracking this feature. https://trello.com/c/zdd3oQ8s/11-bitbucket-support

[2014-09-17 22:11] #88 closed, assigned to nobody

[2014-09-17 22:12] #108 closed, assigned to nobody

[2014-09-17 22:16] domyen commented on #108
@dandv Percolate is developing a flagging feature to address a similar concern of warning folks that packages are deprecated or otherwise not working. As far as removing from the packaging index, Meteor is managing that feature.

[2014-09-17 22:19] #150 closed, assigned to nobody

[2014-09-17 22:21] domyen commented on #133
Answered: https://github.com/percolatestudio/atmosphere-beta/issues/219

[2014-09-17 22:21] #133 closed, assigned to nobody

[2014-09-17 22:25] domyen commented on #209
Closing this as the fix seems to be the author republishing. Please reopen if that's not the case.

[2014-09-17 22:25] #209 closed, assigned to nobody

[2014-09-17 22:26] #180 closed, assigned to nobody

[2014-09-17 22:29] domyen commented on #146
We're working on a flagging feature to address this challenge! It's being tracked against this [issue](https://github.com/percolatestudio/atmosphere-beta/issues/68). Closing this.

[2014-09-17 22:29] #146 closed, assigned to nobody

[2014-09-17 22:31] domyen commented on #212
Tracking against this https://github.com/percolatestudio/atmosphere-beta/issues/212

[2014-09-17 22:31] #212 closed, assigned to nobody

[2014-09-17 22:33] domyen commented on #198
Tracking this as a feature on the [roadmap](https://trello.com/c/dKAFvLAk/14-tagging-packages-by-users)

[2014-09-17 22:33] #198 closed, assigned to nobody

[2014-09-17 22:43] domyen commented on #207
Agree with the sentiments expressed here.

Since Meteor 0.9.0 now manages the package index, folks can request the ability to delete packages to the Meteor [roadmap](https://trello.com/b/hjBDflxp/meteor-roadmap) or [meteor-talk group](https://groups.google.com/forum/#!forum/meteor-talk).

[2014-09-18 19:57] matteodem commented on #146
I really don't know how I didn't notice this, sorry for that.

[2014-09-18 23:53] patrickleet commented on #107
Hey, just published a package that has a weak dependency on @aldeed's collection2 oddly enough, wanted to just say +1 for this. Don't want to scare people off who don't use collection2 in their package as it's pretty large. Labeling dependencies as "weak" would be great.

[2014-09-19 16:56] #219 closed, assigned to nobody

[2014-09-21 23:21] domyen opened #221 "Publish: Add collaboration on packages heading"
Context: http://crater.io/posts/exDL2ZisCji22sg3N

**Heading:** Collaborating on new packages
**Copy:** Before you start working on a cool new package idea, it might be a good idea to get feedback from the community by creating a new discussion thread on the packaging forum at Crater.io.

It might turn out that the package you need already exists, or maybe someone might suggest an alternative way

[2014-09-23 19:09] domyen opened #222 "Home: there are 2x as many recent packages as there should be"

[2014-09-23 22:05] html5cat opened #223 "Feature request: Favourite packages"
It would be awesome to have ability to favourite/star package to later return to them or see your (or others') list of favourites.
Favouriting on Atmosphere could also start the repo on github, thus encouraging great packages and having a bit more visibility.
Thanks!

[2014-09-23 22:42] domyen commented on #223
Soon :)  Dupe of https://github.com/percolatestudio/atmosphere-beta/issues/57.

[2014-09-23 22:42] #223 closed, assigned to nobody

[2014-09-24 04:52] dburles opened #224 "Package search results count text is grey"
Just a styling issue @dominicnguyen

[2014-09-24 18:33] domyen commented on #224
Screenshot & location?

[2014-09-24 18:35] domyen opened #225 "404: Clicking 'Search Packages' resets the Nav color"
Repro:
1. Navigate to a 404 page
2. Toggle the search overlay
3. The nav changes color unexpectedly

[2014-09-24 22:03] dburles commented on #224
![screen shot 2014-09-25 at 8 02 18 am](https://cloud.githubusercontent.com/assets/319567/4396597/8394bc84-4436-11e4-8504-0c8aabad3354.png)

On the search results overlay. See the barely visible text '35 packages'

[2014-09-24 22:11] dburles commented on #224
lgtm!

[2014-09-24 22:11] #224 closed, assigned to nobody

[2014-09-24 22:28] domyen opened #226 "URL for profile pages results in what seems like a page"
Random user names typed into the url string result in what seems like a real profile page. We should be 404ing this. http://localhost:3000/lifeafaffeafeaf

[2014-09-24 22:29] domyen opened #227 "404's result in an endless loading state"
404's don't seem to resolve, we get an endless loading state http://localhost:3000/docs/publishingnfnenajlajf

[2014-09-24 22:30] tmeasday commented on #226
@dburles do you think we should send down a "psuedo" user in a publication (after doing the package check that we talked about yesterday?).

Maybe rather than the `Collaborators` collection, we should have a `Usernames` collection or something?

[2014-09-24 22:33] dburles commented on #226
I wonder would it simplify everything if we sent down the pseudo user on the users collection, and also flag it with something which we can use to check against within our collection helpers? (instead of _id)

[2014-09-24 22:42] tmeasday opened #228 "Related packages are always the same"

[2014-09-24 22:49] dburles opened #229 "Load more isn't loading more on profile page"
Would you mind taking a look at this @tmeasday?

[2014-09-25 07:08] tmeasday commented on #227
This one seems to have fixed itself.

[2014-09-25 07:09] tmeasday commented on #225
Doesn't happen on devel

[2014-09-25 07:10] tmeasday commented on #226
@dburles yes, and make the `user` publication return something that looks like a user too (if the user exists--in the sense of being a maintainer--of course)

[2014-09-25 07:11] tmeasday commented on #205
Now we ignore "depedent installs", which should help for ever package apart from `standard-app-packages` I think.

[2014-09-25 07:13] tmeasday commented on #207
This has been addressed in Meteor 0.9.3 (soon to be released by the looks of it).

We're adding a flagging feature which should help in the case of the maintainer disappearing.

Leaving this unfixed for now until 0.9.3 and us supporting it.

[2014-09-25 07:15] tmeasday commented on #68
Next version of Atmosphere will have stars and flags which is a semi-nuanced rating scheme at what we thing is just the right level :)

[2014-09-25 07:22] tmeasday commented on #210
I actually think the problem here was that we were using the `lastUpdated` on the package, which we didn't realise included metadata changes (such as adding maintainers). We're using `lastVersion.published` now, which should restore the v1 behaviour.

[2014-09-25 12:14] tmeasday opened #230 "Website links can be broken"
E.g. if you put in `percolatestudio.com` (without leading http://)

[2014-09-25 13:03] serkandurusoy commented on #210
@tmeasday I still think two separate views that sort by lastupdate (lastVersion.published) or firstVersion.published (whateve the actual key may be) would make even more use.

My package search / discovery workflow would be far more efficient if I were able to keep tabs on what's new / what's updated separately.

[2014-09-25 16:36] juliancwirko opened #231 "Package renaming.."
Hi, can you rename `juliancwirko:vazcomaps` into `vazco:maps` ? 'vazco' should stay the only maintainer too.

thanks.

[2014-09-25 17:15] domyen commented on #231
@juliancwirko It is not possible to change this on our end as we don't have write access to the package backend anymore. You'll have to take it up with MDG.

[2014-09-25 17:15] #231 closed, assigned to nobody

[2014-09-25 17:16] domyen opened #232 "Profile: cannot access my own profile when logging in"
Profile pages for the current user result in 404's. (tested on 2 accts with Chrome)

Repro:
1. Login
2. Go to your own profile page (e.g., /dburles)
3. See 404

[2014-09-25 17:24] domyen opened #233 "404: 'Search packages' button does not trigger the search UI"
Repro:
1. Navigate to 404
2. Click Search Packages

This bug rears it's head often with the 404 page. Will de-scoping the search trigger to being accessible globally via 'data-search-open'?

[2014-09-25 17:38] domyen opened #234 "User-list component active state should reset on new routes"
Repro:
1. Navigate to /tmeasday
2. Click 'see more'
3. Click /tarang
4. Bug is that the state of the user-list is preserved when routing.

[2014-09-25 17:41] domyen commented on #232
This may have to do with checking for number of packages to see if they're an author. We should be QAing users _with_ and _without_ packages (like me :) ).

[2014-09-25 17:54] colllin opened #235 "How can I remove a package?"
I published a package making it easy to install a particular jQuery plugin.  I now believe this package is a poor use of the meteor package system.  Developers should just include the single JS file, like they would any other jQuery plugin.  Can I please remove this package from the public system?  Otherwise can I transfer ownership?

[2014-09-25 17:56] colllin commented on #235
Found #207

[2014-09-25 17:56] #235 closed, assigned to nobody

[2014-09-25 18:35] albinekb opened #236 "Search setting to hide incompatible packages"
Who wants to show packages that can't be used?

[2014-09-26 02:17] domyen commented on #222
@tmeasday now i see 40 packages

[2014-09-26 02:20] domyen opened #237 "Profile: Starred packages aren't reflected on the profile page"

[2014-09-26 02:28] domyen opened #238 "Profile: select (my packages, starred) does not highlight the page that corresponds to the URL"
Repro:
1. http://localhost:3000/percolatetest/~starred
2. look at the select

[2014-09-26 02:30] domyen commented on #236
Meteor 0.9.3 will allow authors to delete their deprecated packages. Also we're adding a flagging system for the community to crowdsource incompatible versions of packages. Let's revisit/reopen after release.

[2014-09-26 02:30] #236 closed, assigned to nobody

[2014-09-26 02:34] domyen opened #239 "Profile: Show starred packages in realtime in starred package view"

[2014-09-26 02:36] domyen opened #240 "Contenteditable field validation and error states"
1. Set an .error class
2. Populate and show a tooltip with error message

[2014-09-26 07:12] tmeasday commented on #226
@dburles - looks great. Still awaiting confirmation on whether to hide Org pages. @dominicnguyen ?

[2014-09-26 07:16] tmeasday commented on #222
Always good to actually test your own fixes.

[2014-09-26 12:13] Urigo opened #241 "Renaming packages in Atmosphere"
I'm not talking about renaming for Meteor compatibility :)
If I have a package named urigo:thebestpackage and I want to rename it to urigo:not-so-best-package
but I don't want it to show as 2 different packages in atmosphere and that the downloads number will be the same.
Thanks

[2014-09-26 12:15] Urigo opened #242 "URL to Github not working"
Is here: https://atmospherejs.com/urigo/ngmeteor
I've updated the Github URL as specified and still it doesn't show the connection to the Github repository.
Thanks!

[2014-09-26 17:24] domyen commented on #226
We'll likely be tackling Organizations in a later release. For now, we have no way to access them or verify which users are connected so we're hamstrung in that we cannot create a 'claim' organization flow for org members.

I lean towards hiding them for now to sidestep an unideal experience. @tmeasday want to reach out to MDG to see what's required?

[2014-09-26 18:09] domyen opened #243 "Profile: Add empty state to package grid"

[2014-09-26 18:10] domyen opened #244 "Styleguide: update styleguide .module -> .block to fix broken layouts"
- [x] Grid
- [x] Base

[2014-09-26 18:23] domyen commented on #244
@tmeasday the route for /base renders a blank white screen, can you confirm?

[2014-09-26 22:52] tmeasday commented on #226
Agreed. Hiding them is easy.

I already asked ekate about getting org details and she said we can't. Possibly you guys can chat to them about it?

[2014-09-27 01:05] dburles commented on #242
Hey Urigo, looks like your url is incorrect? https://github.com/Urigo/ngmeteor/blob/master/package.js#L4

[2014-09-27 01:59] tmeasday commented on #226
@dburles - we should treat orgs as "non" users.

[2014-09-28 00:42] Urigo commented on #242
Yes, sorry about that!
Thank you so much

[2014-09-28 00:42] #242 closed, assigned to tmeasday

[2014-09-29 02:58] tmeasday commented on #244
Yep, was a regression

[2014-09-29 03:02] tmeasday commented on #226
LGTM, although annoyingly "iron" is not an org.

[2014-09-29 06:10] dburles commented on #240
Added error classes and tooltips, however the tooltip positioning is a little funky

[2014-09-29 08:10] dburles opened #245 "Flagging throws error"
Hitting the flag button returns `Version already flagged [422]` on packages that the user has not yet flagged

[2014-09-29 08:18] tmeasday commented on #245
Might need to clear indices again

[2014-09-29 13:18] Art1Sec8 commented on #68
@tmeasday awesome! Looking forward to it!

[2014-09-29 13:19] Art1Sec8 commented on #68
@tmeasday did you want me to close this down, or leave it open for now?

[2014-09-29 17:42] domyen commented on #243
https://github.com/percolatestudio/atmosphere/commit/2c60c252d76d2a984e83954bb4fedded27a2aa7c

[2014-09-29 17:44] domyen commented on #240
@dburles I adjusted the tooltip positioning and added a red error color.

Can we show more than one tooltip at a time? If multiple fields are incorrect we should be able to see em all.

[2014-09-29 17:47] domyen commented on #239
@dburles can't seem to get this to work on the latest. Can you confirm that it works for you?

[2014-09-29 18:16] domyen opened #246 "Notifcations: Adjust positioning"
Move to top right corner above name

[2014-09-29 18:31] domyen opened #247 "Package item: Make orgs non-clickable"
Orgs non-clickable in package item

[2014-09-29 21:01] domyen opened #248 "Notifications: Connection notification should get a timeout of 1s before becoming visible"
On the first load of the page, the system connection notification appears immediately atop the content that is also loading. This is redundant because the page is already loading so we end up flashing the UI in and out. The connection notification should only appear when it's unable to connect, _not_ when it's starting to connect.

**Idea:**
We can address this with a 1s delay on a page refresh/lo

[2014-09-30 00:24] dburles commented on #248
Yeah I've figured a way around this but @tmeasday might have ideas

[2014-09-30 00:27] dburles commented on #240
Hmm yeah they should be showing, will check

[2014-09-30 00:39] dburles commented on #248
This seems to work quite well, @tmeasday can you confirm?

[2014-09-30 00:39] tmeasday commented on #245
`db.flags.dropIndexes()`, then restart meteor. Probably need to do the same for `db.stars`.

[2014-09-30 00:48] dburles commented on #245
looks like the package `latestVersion` doesn't contain the `upstreamId`

[2014-09-30 02:06] tmeasday commented on #245
Ahh, sorry, you'll need to resync your packages. Sorry.

[2014-09-30 06:39] tmeasday commented on #245
Fixed now?

[2014-09-30 06:42] tmeasday commented on #248
Seems pretty reasonable to me in the absence of appcache or something like that.

[2014-09-30 06:43] dburles commented on #245
All good!

[2014-10-01 17:21] stubailo opened #249 "My package doesn't show the README even though the GitHub link works"
My new package, simple:katex, doesn't show the README on the page, even though the GitHub link works : https://atmospherejs.com/simple/katex

[2014-10-01 17:40] mquandalle commented on #219
:+1:

[2014-10-01 22:52] domyen commented on #240
@dburles Re: limiting characters bug
We need to ensure that pasting in a long string respects the character limit.

Repro:
1. Get within a few characters of the character limit on the description field
2. Copy some text that is greater than the remaining character allowance
3. Paste
4. It pastes the string and exceeds the character count, which doesn't allow you to save.
- Can we count the total c

[2014-10-01 23:03] dburles commented on #240
Thanks @dominicnguyen yeah this is something I've yet to look into solving. On it today :)

[2014-10-02 00:09] dburles commented on #239
Fixed, pls confirm @dominicnguyen

[2014-10-02 01:15] domyen commented on #240
lgtm

[2014-10-02 01:50] tmeasday commented on #249
This happens when the github URL redirects (from https://github.com/stubailo/katex/ to https://github.com/stubailo/meteor-katex in your case). GitHub's API returns a 404 to us in that case, we can't differentiate from a missing readme.

The solution is to update your package to have the updated GH URL.

[2014-10-02 01:50] #249 closed, assigned to tmeasday

[2014-10-02 05:15] #245 closed, assigned to tmeasday

[2014-10-02 17:40] zol opened #250 "Star number slightly misaligned on package lockup"
Minor issue, the vertical alignment seems a little off.

![screen shot 2014-10-02 at 10 39 22 am](https://cloud.githubusercontent.com/assets/81672/4495408/2a84e058-4a5b-11e4-830b-02a06da5395f.png)

[2014-10-02 17:43] zol opened #251 "UX wierd for profile page link"
When I click on the name in the top right, if flashes instantly then a split second later the drop down fades into view. This feels unintentional/buggy. I would expect the click target to not flash and the drop down to fade in immediately.

@dominicnguyen feel free to re-assign this to the appropriate person.

[2014-10-02 17:50] zol commented on #218
@tmeasday - how should we test this either on staging or when the code goes live?

[2014-10-02 17:54] zol commented on #210
Eyeballing the code looks right.

[2014-10-02 17:57] zol commented on #187
Looks good, leaving unconfirmed to test in production.

[2014-10-02 17:58] zol commented on #68
@Art1Sec8 - Please leave it open so we can track the feature. Thanks.

[2014-10-02 18:03] zol commented on #201
@tmeasday - Do you know if this is still an issue on the latest release?

[2014-10-02 18:05] zol opened #252 "Should we hide contributors when they are just the author?"
On the package page

[2014-10-02 18:06] mizzao commented on #201
Are you guys supporting the `x.y.z_v` wrapper version syntax yet? Seems like that might be something that MDG supports but wouldn't work with vanilla semver.

[2014-10-02 18:33] zol opened #253 "Add silent hyphen on package item"
Between the user and package name.

[2014-10-02 18:38] zol opened #254 "Orgs in user list component should not be linked"
Also it would be nice to differentiate them from a user by e.g an org icon.

[2014-10-02 18:39] zol commented on #252
Nope, we want them to stay consistent and link to their profile page.

[2014-10-02 18:39] #252 closed, assigned to nobody

[2014-10-02 20:49] domyen commented on #254
@tmeasday can you update the user-list component with a conditional for organizations. I figure we'll just hardcode it for now rather than relying on the avatar component.

[2014-10-02 22:29] tmeasday commented on #201
@zol yes it's still an issue in the sense that the pre-0.9 versions have the wrong release date. Was hoping it would be fixed upstream but perhaps not. The longer we wait the less it matters of course :)

[2014-10-02 22:31] tmeasday commented on #218
This is difficult for staging because we aren't able to import usage properly (will explain why).

Once deployed to production, the test is simply to see if internal packages like "livedata" appear in the most used lists etc.

[2014-10-03 06:29] zol opened #255 "Some packages don't load"
E.g http://ec2-54-68-138-117.us-west-2.compute.amazonaws.com:8080/mrt/rangyinputs

[2014-10-03 17:25] zol opened #256 "Trend graphs missing"
The logs on elaine seem to indicate that syncing was finished and successful.

[2014-10-03 17:31] zol commented on #251
@dominicnguyen This is better but still not ideal. Now, when I click on an item in the dropdown, the page changes but the dropdown remains. The dropdown should disappear once you click an item.

[2014-10-03 17:32] zol commented on #255
Fixed.

[2014-10-03 18:02] domyen commented on #254
ty. done.

[2014-10-03 18:06] domyen commented on #251
This is a recent regression, @dburles is taking a look at tooltips for form validation. Dave can you ensure that tooltips are cleared when routes change?

[2014-10-03 18:11] domyen commented on #207
As of 0.9.3 you can prevent packages from showing up in meteor search with meteor admin set-unmigrated. Checkout their blogpost [here](https://www.meteor.com/blog/2014/09/25/meteor-093-packaging-system-updates).

Closing.

[2014-10-03 18:11] #207 closed, assigned to nobody

[2014-10-03 22:43] rgoomar opened #257 "Missing package versions"
The information for this package: https://atmospherejs.com/rgoomar/contactform is not updating.

Here is the `package.js` file: https://github.com/rgoomar/contactform/blob/master/package.js

I have tried both the URL with .git and without it and checked for redirect issues... but nothing is working.

Anyone else having this problem?

[2014-10-03 23:18] domyen commented on #257
@tmeasday do we have any tests for getting package readmes from Github? It'd be good to have a suite of test packages to reference in cases like this.

**For example:**
1. With Github URL
   - Correct format
   - Incorrect format
2. Without Github URL

[2014-10-04 05:09] tmeasday commented on #256
I see them- was there a specific package that was a problem?

[2014-10-04 15:12] zol commented on #256
Strange, they are working now :-/

[2014-10-04 15:12] #256 closed, assigned to tmeasday

[2014-10-04 19:53] parhelium commented on #257
I have the same issue with package [parhelium:templating-ractive](https://atmospherejs.com/parhelium/templating-ractive).

Package.js : https://github.com/parhelium/package-templating-ractive/blob/master/package.js

[2014-10-04 22:50] tmeasday commented on #257
@parhelium - in your case the issue is that your package doesn't have a git URL set. You can see this because there are no "git" and "issue" links on the package page.

@rgoomar - for some reason we don't have any versions of your packages synced. Not sure what's happening there as a I can see them in `meteor show`. I'll investigate further.

@dominicnguyen - not quite sure what you are imagining

[2014-10-04 22:58] parhelium commented on #257
@tmeasday I set `git` field with proper url in package.js

[code]

What I'm doing wrong ?

[2014-10-04 23:16] tmeasday commented on #257
@parhelium - right, I'm sorry. I think it's the same problem as @rgoomar then, mysterious missing package versions. I think it's due to the `_X` at the end of the package version perhaps. Investigating.

[2014-10-04 23:18] parhelium commented on #257
I forgot to set git url in version `0.6.0` but did that in `0.6.0_1` and `0.6.0_2`.

[2014-10-06 23:47] #222 closed, assigned to nobody

[2014-10-07 00:37] #206 closed, assigned to nobody

[2014-10-07 00:37] #220 closed, assigned to nobody

[2014-10-07 00:37] #221 closed, assigned to nobody

[2014-10-07 00:37] #225 closed, assigned to nobody

[2014-10-07 00:37] #226 closed, assigned to nobody

[2014-10-07 00:37] #227 closed, assigned to nobody

[2014-10-07 00:37] #228 closed, assigned to nobody

[2014-10-07 00:37] #229 closed, assigned to nobody

[2014-10-07 00:37] #230 closed, assigned to nobody

[2014-10-07 00:37] #232 closed, assigned to nobody

[2014-10-07 00:37] #233 closed, assigned to nobody

[2014-10-07 00:37] #234 closed, assigned to nobody

[2014-10-07 00:37] #237 closed, assigned to nobody

[2014-10-07 00:37] #238 closed, assigned to nobody

[2014-10-07 00:37] #239 closed, assigned to nobody

[2014-10-07 00:37] #240 closed, assigned to domyen

[2014-10-07 00:37] #243 closed, assigned to nobody

[2014-10-07 00:37] #244 closed, assigned to nobody

[2014-10-07 00:37] #246 closed, assigned to nobody

[2014-10-07 00:37] #247 closed, assigned to nobody

[2014-10-07 00:37] #248 closed, assigned to nobody

[2014-10-07 00:37] #250 closed, assigned to nobody

[2014-10-07 00:37] #251 closed, assigned to nobody

[2014-10-07 00:37] #253 closed, assigned to nobody

[2014-10-07 00:37] #255 closed, assigned to nobody

[2014-10-07 00:37] #57 closed, assigned to nobody

[2014-10-07 00:37] #68 closed, assigned to nobody

[2014-10-07 00:37] #74 closed, assigned to nobody

[2014-10-07 00:39] tmeasday opened #258 "Error tooltips remain after you fix the problem"
1. Edit your profile.
2. Hit save
3. [NOTE THERE IS AN ERROR ON WEBSITE].
4. Edit again and set to something valid.
5. Blur notice the tooltip remains.
6. Save, notice it works.

Parts 3 + 5 are both bugs I guess.

[2014-10-07 00:49] domyen opened #259 "Package: Timeline layout is broken"
![screenshot 2014-10-06 17 47 38](https://cloud.githubusercontent.com/assets/263385/4535845/ccf9e1a4-4dbb-11e4-87b0-44b9f50d5d83.png)

[2014-10-07 05:04] rbabayoff opened #260 "Package summary, version and readme is missing"
Don't know if it's an atmosphere bug or a meteor package server bug, but you can see it here (master is the version published to meteor):

https://github.com/spacejamio/meteor-loglevel

https://atmospherejs.com/spacejamio/loglevel

[2014-10-07 05:59] tmeasday commented on #260
Yeah the missing versions are leading to the other problems. I think this is an example of #257. Still trying to sort it out upstream.

[2014-10-07 05:59] #260 closed, assigned to nobody

[2014-10-07 06:01] tmeasday commented on #205
We should include a blacklist of "standard packages" (insecure / autopublish / meteor-platform / standard-app-packages for now).

Still trying to work out if they should penalized score wise, or just not show up in the "Most Used" list. I don't expect them to be "published" much (at all?) so it shouldn't be a problem for trending.

[2014-10-07 06:04] tmeasday commented on #187
LGTM

[2014-10-07 06:04] #187 closed, assigned to nobody

[2014-10-07 06:05] tmeasday commented on #210
OK, the issue I referenced is solved (I think) but I think @serkandurusoy's original point holds. Going to re-open and move to Icebox

[2014-10-07 06:06] #218 closed, assigned to nobody

[2014-10-07 06:06] tmeasday commented on #218
Apart from notes in #205

[2014-10-07 06:07] #254 closed, assigned to zol

[2014-10-07 06:43] tmeasday opened #261 "Profile form resets if page changes while editing"
E.g. insert an starred package in another window?

[2014-10-07 07:42] tmeasday commented on #257
Ok, figured it out upstream. All three packages seem good now.

[2014-10-07 07:42] #257 closed, assigned to tmeasday

[2014-10-07 13:10] cristiandley opened #262 "History position is broken ?"
# History position is broken or is a new desing ?

![CAPTURE](https://cloud.githubusercontent.com/assets/1873659/4542577/198d84be-4e23-11e4-8a18-3b458a87c4e3.png)

[2014-10-07 15:58] rgoomar commented on #257
Thanks @tmeasday!

[2014-10-07 16:23] zol opened #263 "Download label on package history hover z-index wrong"
http://cl.ly/image/0l3b1L2O2L3g

[2014-10-07 19:38] parhelium commented on #257
Thanks @tmeasday